<section id="rnAbout" class="rnAbout">
    <div class="rnAbout__inner">
        <div class="load-fade">
            <div class="rnAbout__picture">
                <picture>
                    <source srcset="{{ 'about_main.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'about_main.jpg' | file_url }}" alt="ABOUT" width="1040" height="1452"
                        loading="eager">
                </picture>
                <p class="rnAbout__ttl scroll-up">Base Make Up</p>
                <p class="rnAbout__txt scroll-up">Tomorrow, You will be better than you are.<br>
                    Let your sensitivity wherever your heart takes you.<br>
                    Find hidden your own beauty within yourself.<br>
                    Meet a new you with perse. </p>
            </div>
        </div>
        <div class="rnAbout02 load-fade">
            <p class="rnAbout02__txt01 scroll-up">明日は今日よりも、もっとすてきな自分に。</p>
            <p class="rnAbout02__txt02 scroll-up02">あなたの持つ感性を心のままに。<br>
                内に秘めた自分らしい美しさを見つけよう。</p>
            <p class="rnAbout02__txt03 scroll-up03">perseではじまる新しい私との出会い</p>
            <div class="rnAbout02__line scroll-up04">LINE</div>
        </div>
        <div class="rnAbout03 load-fade">
            <div class="rnAbout03__img01 scroll-up">
                <picture>
                    <source srcset="{{ 'about_1.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'about_1.jpg' | file_url }}" alt="ABOUT" width="396" height="506"
                        loading="eager">
                </picture>
            </div>
            <div class="rnAbout03__img02 scroll-up">
                <picture>
                    <source srcset="{{ 'img_rnAbout03_02.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'img_rnAbout03_02.jpg' | file_url }}" alt="ABOUT02" width="412" height="562"
                        loading="eager">
                </picture>
            </div>
            <div class="rnAbout03__img03 scroll-up02">
                <picture>
                    <source srcset="{{ 'img_rnAbout03_03.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'img_rnAbout03_03.jpg' | file_url }}" alt="ABOUT03" width="508" height="670"
                        loading="eager">
                </picture>
            </div>
            <div class="rnAbout03__img04 scroll-up04">
                <picture>
                    <source srcset="{{ 'img_rnAbout03_04.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'img_rnAbout03_04.jpg' | file_url }}" alt="ABOUT04" width="802" height="460"
                        loading="eager">
                </picture>
            </div>
            <p class="rnAbout03__txt01 scroll-up">Create for yourself</p>
            <p class="rnAbout03__txt02 scroll-up02">Tommorrow, You will be</p>
            <p class="rnAbout03__perse">Perse</p>
        </div>

    </div>
</section>
<section class="rnProducer">
    <div class="rnProducer__inner">
        <picture>
            <source srcset="{{ 'producer.webp' | file_url }}" type="image/webp">
            <img src="{{ 'producer.jpg' | file_url }}" alt="ABOUT" width="1040" height="1380"
                loading="eager">
        </picture>
        <div class="rnProducer__blc">
            <p class="rnProducer__txt">中国×日本のミックスのリアル姉弟モデル。SNSの合計フォロワー数は200万人を超え、Z世代のファッションアイコンとして圧倒的な存在感を誇る。それぞれ雑誌sweetのレギュラーモデル、TVのレギュラー番組出演など幅広いメディアで活躍。</p>
        </div>
        <p class="rnProducer__sign">
            <picture>
                <source srcset="{{ 'sign_rn.webp' | file_url }}" type="image/webp">
                <img src="{{ 'sign_rn.png' | file_url }}" alt="ABOUT" width="750" height="264"
                    loading="eager">
            </picture>
        </p>
    </div>
</section>
