<section class="befriend" id="befriend">
    <div class="befriend__inner">
        <div class="befriend__picture load-fade">
            <picture>
                <source srcset="{{ 'fv_bfriend.webp' | file_url }}" type="image/webp">
                <img src="{{ 'fv_bfriend.png' | file_url }}"
                    alt="Vfv_bfriend" width="1040" height="1464"
                    loading="eager">
            </picture>
            <h2 class="befriend__ttl scroll-up">VIGAN VITA COLLECTION</h2>
            <h3 class="befriend__ttl02 scroll-up02">Befriend Vitamin</h3>
        </div>


        <div class="befriend02 load-fade">
            <h4 class="befriend02__ttl scroll-up">待ち望んていた素肌感、<br>
                なのに美しい<br>
                美肌・透明感は次なるステージへ</h4>
            <p class="befriend02__txt scroll-up">「EVE VEGAN」の認証を獲得した肌にも<br>
                環境にも優しい9種類のビタミンを<br>
                配合した新⽣ヴィーガン＆ビタミン<br>
                ベースメイクコレクションが誕⽣。</p>
            <p class="befriend02__txt scroll-up02">肌本来のみずみずしいツヤ、⾃然なキメ、<br>
                美しい素肌の質感を引き⽴てながら<br>
                肌悩みをカバーして、<br>
                透明感のある理想の美肌を再現。</p>
            <p class="befriend02__txt scroll-up03">VEGAN VITA COLLECTIONは、
                9種類のビタミンが配合された
                VITA-9 COMPLEX<sup>＊1</sup>に加え、CICA<sup>＊2</sup>や
                ナイアシンアミド<sup>＊3</sup> 、パンテノール<sup>＊4</sup>など
                素肌そのものをいたわる
                ケア成分を豊富に配合。</p>
            <p class="befriend02__txt scroll-up04">毎⽇使うものだからこそ、<br>
                素肌感のある軽やかな仕上がりで<br>
                ワンランク上の理想の肌を体感して。</p>
            <p class="befriend02__note">＊1アスコルビルリン酸Na、酢酸トコフェロール、パンテノール、
                シアノコバラミン、ビオチン、ピリドキシン、葉酸、チアミンHCl、ナイアシンアミド(保湿・整肌成分) ＊2ツボクサ根エキス(保湿剤)  ＊3保湿剤 ＊4保湿剤</p>
        </div>

        <div class="befriend03">
            <h3 class="befriend03__ttl">VIGAN VITA COLLECTION</h3>
            <a href="{{ routes.root_url }}products/" class="befriend03__imglink">
                <picture>
                    <source srcset="{{ 'img01_bfriend03.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'img01_bfriend03.png' | file_url }}"
                        alt="Vfv_bfriend" width="900" height="544"
                        loading="eager">
                </picture>
            </a>

            <a href="{{ routes.root_url }}products/vegan-vita-tone-up-base/" class="befriend03__imglink">
                <picture>
                    <source srcset="{{ 'img02_bfriend03.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'img02_bfriend03.png' | file_url }}"
                        alt="Vfv_bfriend" width="900" height="544"
                        loading="eager">
                </picture>
            </a>

            <a href="{{ routes.root_url }}products/" class="befriend03__imglink">
                <picture>
                    <source srcset="{{ 'img03_bfriend03.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'img03_bfriend03.png' | file_url }}"
                        alt="Vfv_bfriend" width="900" height="544"
                        loading="eager">
                </picture>
            </a>
        </div>
    </div>
</section>  