<div class="campaignBnr">
    <img src="{{ 'banner-eye-day1.jpg' | file_url }}" alt="01DAY CAMPAIGN" width="1500" height="560" loading="eager" class="">
    <img src="{{ 'banner-eye-day2.jpg' | file_url }}" alt="01DAY CAMPAIGN" width="1500" height="560" loading="eager" class="">
    <img src="{{ 'banner-eye-day3.jpg' | file_url }}" alt="01DAY CAMPAIGN" width="1500" height="560" loading="eager" class="">
    {% comment %} <img src="{{ 'banner-michixsly02.jpg' | file_url }}" alt="2DAY CAMPAIGN" width="1500" height="560" loading="eager" class=""> {% endcomment %}
    {% comment %} <img src="{{ 'banner-day03.jpg' | file_url }}" alt="3DAY CAMPAIGN" width="1500" height="560" loading="eager" class="">
    <img src="{{ 'banner-day04.jpg' | file_url }}" alt="4DAY CAMPAIGN" width="1500" height="560" loading="eager" class="">
    <img src="{{ 'banner-day05.jpg' | file_url }}" alt="5DAY CAMPAIGN" width="1500" height="560" loading="eager" class="">
    <img src="{{ 'banner-day06.jpg' | file_url }}" alt="6DAY CAMPAIGN" width="1500" height="560" loading="eager" class="">
    <img src="{{ 'banner-day07.jpg' | file_url }}" alt="7DAY CAMPAIGN" width="1500" height="560" loading="eager" class="">
    <img src="{{ 'banner-day08.jpg' | file_url }}" alt="8DAY CAMPAIGN" width="1500" height="560" loading="eager" class=""> {% endcomment %}
</div>

