  

<div class="product">
    <div class="eye01rosymood eyeshadow" id="eye01rosymood">
        <div class="eyeshadow__fv">
            <div class="eyeshadow__fv--swipwrap">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" itemprop="image">
                            <picture>
                                <source srcset="{{ 'img01_roosymood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img01_roosymood01.jpg' | file_url }}" alt="01 ROSY MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img02_roosymood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img02_roosymood01.jpg' | file_url }}" alt="01 ROSY MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img03_roosymood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img03_roosymood01.jpg' | file_url }}" alt="01 ROSY MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture> 
                        </div>
                        <div class="swiper-slide">
                           <picture>
                                <source srcset="{{ 'img04_roosymood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img04_roosymood01.jpg' | file_url }}" alt="01 ROSY MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture> 
                        </div>
                        <div class="swiper-slide">
                          <picture>
                                <source srcset="{{ 'img05_roosymood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img05_roosymood01.jpg' | file_url }}" alt="01 ROSY MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture> 
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img06b_roosymood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img06b_roosymood01.jpg' | file_url }}" alt="01 ROSY MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture> 
                        </div>
                    </div>
                
        
                </div>
                <div class="clenz__fv--kadomaru">
                    <img src="{{ 'kado.svg' | file_url }}" alt="kadomaru" width="auto" height="auto" loading="eager">
                </div>
            </div><!-- clenz__fv--swipwrap -->

            <div class="mySwiper__wrapper">
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img01_roosymood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img01_roosymood01.jpg' | file_url }}" alt="01 ROSY MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture> 
                        </div>
                        <div class="swiper-slide">
                             <picture>
                                <source srcset="{{ 'img02_roosymood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img02_roosymood01.jpg' | file_url }}" alt="01 ROSY MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img03_roosymood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img03_roosymood01.jpg' | file_url }}" alt="01 ROSY MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                             <picture>
                                <source srcset="{{ 'img04_roosymood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img04_roosymood01.jpg' | file_url }}" alt="01 ROSY MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img05_roosymood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img05_roosymood01.jpg' | file_url }}" alt="01 ROSY MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture> 
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img06_roosymood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img06_roosymood01.jpg' | file_url }}" alt="01 ROSY MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper__arrow">
                <div class="swiper-button-next">NEXT</div>
                <div class="swiper-button-prev">PREV</div>
            </div>

        </div>
    

        <section class="product__de">
            <h1 class="product__de--en">The Skin Eyeshadow Palette</h1>
            <h2 class="product__de--jp">ザ スキン アイシャドウ パレット</h2>
            <h3 class="product__de--price"><p class="dashed">¥2,490</p>¥1,992<span> ( inc.tax )</span></h3> 

            {% comment %} <h3 class="product__de--price">¥2,490<span> ( inc.tax )</span></h3> {% endcomment %}
            <div class="product__de--color">
                <ul class="product__deLink">
                    <li><img src="{{ 'slick_eye01_dot-active.svg' | file_url }}" alt="01 ROSY MOOD" loading="eager" width="auto" height="auto"></li>

                    <li>
                        <a href="{{ routes.root_url }}products/off-skineyeshadow-02ambermood/">
                            <img src="{{ 'slick_eye02_dot.svg' | file_url }}" alt="01" loading="eager" width="auto" height="auto">
                        </a>
                    </li> 
                </ul>
                <p class="product__de--cname">01 ROSY MOOD</p>
            </div>
        </section>

        <section class="eyeshadow__ptxt">
            <h4 class="eyeshadow__ptxt--ttl"><span>NEW BASIC</span></h4>
            <p class="eyeshadow__ptxt--txt">優しく、柔らかく、どこか新しく</p>
            <p class="eyeshadow__ptxt--txt2">新しくて頼もしい究極のベーシックアイパレット<br>
                ひとつのパレットで洗練された上質な⽬元に</p>
        </section>

        {% render 'kessai' %}


        {% comment %} <div class="product__review">
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
            <strong>{{ review.author }}</strong>  <strong>{{ review.created_at | date: '%b %d, %Y' }}</strong>
        </div> {% endcomment %}
        
        {% render 'campaignbnr' %} 



        <div class="intro01">  
            <div class="intro01__blc01">
                <picture>
                    <source srcset="{{ 'pimg_rosymood01.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'pimg_rosymood01.jpg' | file_url }}" alt="01 ROSY MOOD" width="1136" height="1680" loading="eager" class="intro01_img">
                </picture> 
                <p class="intro01__blc01--ttl">The Skin Eye Shadow Pallete</p>
            </div>
            <div class="intro01__blc02">
                <p class="intro01__blc02--ttl">01 Rosy Mood</p>
                <p class="intro01__blc02--txtjp">ヴィンテージ感漂う<br>ダスティな透けピンクブラウンパレット</p>
                <p class="intro01__blc02--txten">Skin Beige,  Pink Glow, Dewy Petal, Vintage Rose<br>
                    Antique Brown, Cherry Brown</p>
            </div>
            <div class="intro01__blc03">
                <p class="intro01__blc03a">produced by Yoshiaki & Michi</p>
                <picture>
                    <source srcset="{{ 'img_intro01-3.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'img_intro01-3.png' | file_url }}" alt="01 ROSY MOOD" width="812" height="1128" loading="eager" class="intro01__blc03--img">
                </picture>
                
                <p class="intro01__blc03b">Create for yourself</p>
            </div>
            <picture>
                <source srcset="{{ 'texture-img_intro01-3.webp' | file_url }}" type="image/webp">
                <img src="{{ 'texture-img_intro01-3.png' | file_url }}" alt="01 ROSY MOOD" width="512" height="392" loading="eager" class="intro01__blc03--texture1">
            </picture> 
        </div>
        <div class="intro01pre">
          <picture>
                <source srcset="{{ 'texture2-img_intro01-3.webp' | file_url }}" type="image/webp">
                <img src="{{ 'texture2-img_intro01-3.png' | file_url }}" alt="01 ROSY MOOD" width="558" height="442" loading="eager" class="intro01__blc03--texture2">
            </picture> 
        </div>
        {% render 'eyeshadow01' %}


        <section class="intro04">
            <div class="intro04__fv">
             <picture>
                    <source srcset="{{ 'img_intro03-01eyeshadow.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'img_intro03-01eyeshadow.jpg' | file_url }}" alt="01 ROSY MOOD" width="1090" height="1644" loading="eager" class="intro04__fv--img">
                </picture>
                <p class="intro04__fv--txt">The Skin Eyeshadow Pallete</p>
                <p class="intro04__fv--txt2">Skin Beige,  Pink Glow, Dewy Petal, Vintage Rose, Antique Brown, Cherry Brown</p>
            </div>
            <div class="intro04__blc">
                <p class="intro04__blc--subttl">Create for yourself</p>
                <div class="intro04__blc--img">
                    <picture>
                        <source srcset="{{ 'img02_intro03-01eyeshadow.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'img02_intro03-01eyeshadow.png' | file_url }}" alt="01 ROSY MOOD" width="726" height="916" loading="eager" >
                    </picture> 
                </div>
                <p class="intro04__blc--txt">Tomorrow, You will be better than you are.<br>
                    Let your sensitivity wherever your heart takes you.<br>
                    Find hidden your own beauty within yourself.<br>
                    Meet a new you with perse.</p>
                <div class="intro04__blc--img2">
                     <picture>
                        <source srcset="{{ 'img03_intro04-01eyeshadow.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'img03_intro04-01eyeshadow.jpg' | file_url }}" alt="01 ROSY MOOD" width="1136" height="590" loading="eager" >
                    </picture> 
                </div>

                <div class="intro04__blc02">
                    <div class="intro04__blc02--top">
                        <p class="intro04__blc02--top-txt">NEW BASIC</p>
                        <div class="intro04__blc02--top-img">
                        
                            <picture>
                                <source srcset="{{ 'img04_intro04-01eyeshadow.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img04_intro04-01eyeshadow.jpg' | file_url }}" alt="01 ROSY MOOD" width="904" height="626" loading="eager" >
                            </picture> 
                        </div>
                    </div>
                    <div class="intro04__blc02--btm">
                        <div class="intro04__blc02--btm-img">
                  
                             <picture>
                                <source srcset="{{ 'img05_intro04-01eyeshadow.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img05_intro04-01eyeshadow.jpg' | file_url }}" alt="01 ROSY MOOD" width="860" height="638" loading="eager" >
                            </picture> 
                        </div>
                        <p class="intro04__blc02--btm-txt">Produced by Yoshiaki & Michi</p>
                    </div>

                </div>

            </div>
            
        </section>

        <!-- 流れるテキスト -->
        <div class="rip04">
            <p class="rip04__txt">
                <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip04_txt_f10cf5b2-9c2a-41c8-b69a-17a31a59e2e8.svg?v=1647228464" alt="01 NUDE ROSE" width="2637" height="30" loading="eager">
                <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip04_txt_f10cf5b2-9c2a-41c8-b69a-17a31a59e2e8.svg?v=1647228464" alt="01 NUDE ROSE" width="2637" height="30" loading="eager">
            </p>
        </div>

        <div class="intro05">
            <h2 class="intro05__ttl">SWATCH</h2>
            <div class="intro05__inner">
               <picture>
                    <source srcset="{{ 'img_intro05-01eyeshadow.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'img_intro05-01eyeshadow.png' | file_url }}" alt="01 ROSY MOOD" width="900" height="2248" loading="eager" >
                </picture> 
                
            </div>
        </div>


        <div class="intro06">
            <div class="intro06__inner">
                <div class="intro06__img">
                    <picture>
                        <source srcset="{{ 'buynow_01eyeshadow-img.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'buynow_01eyeshadow-img.png' | file_url }}" alt="01 ROSY MOOD" width="504" height="536" loading="eager" class="">
                    </picture> 
                    <p class="intro06__img--buynow">BUY NOW</p>
                </div>
                <h2 class="intro06__ttl">The Skin<br>
                    Eyeshadow Palette</h2>
                <p class="intro06__ttljp">ザ スキン アイシャドウ パレット</p>
                <p class="intro06__name">01 ROSY MOOD</p>
            </div>
            <p class="intro06__price"><span class="dashed">¥2,490</span>¥1,992<span>( inc.tax )</span></p>

            {% comment %} <p class="intro06__price">¥2,490<span>( inc.tax )</span></p> {% endcomment %}
            {% comment %} <div class="product__cartbtn--disable" style="overflow: hidden; display: block; margin-bottom :100px;">
                COMING SOON <br>
                <span>2023.5.12(FRI)12:00〜</span>
            </div> {% endcomment %}
            {% render 'kessai' %} 

            <a href="{{ routes.root_url }}products/off-skineyeshadow-02ambermood/" class="intro06__bnrlink">
                <picture>
                    <source srcset="{{ 'bnr_02eyeshadow.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'bnr_02eyeshadow.jpg' | file_url }}" alt="" width="568" height="202" loading="eager" class="">
                </picture>
            </a>
        </div>


        <div class="eyeshadow__component">
            <div class="eyeshadow__component--ttlwrap slidetoggle">
                <h2 class="eyeshadow__component--ttl">全成分</h2>
                <div class="slidetoggle__btn">BTN</div>
            </div>
            <div class="eyeshadow__component--slide slidetoggle__next">
                <p>SKIN BEIGE：マイカ、タルク、オクテニルコハク酸デンプンＡｌ、合成フルオロフロゴパイト、酸化チタン、シリカ、ステアロイルオキシステアリン酸オクチルドデシル、フェニルトリメチコン、ミリスチン酸Ｍｇ、ステアリン酸Ｍｇ、メチルプロパンジオール、ジメチコン、マカデミア種子油、プロパンジオール、トリエトキシカプリリルシラン、マンガンバイオレット、ベンガラ、黄酸化鉄、水酸化Ａｌ、メチコン、黒酸化鉄、ラウロイルリシン、カオリン</p>
                <p>DEWY PETAL：ジメチコン、合成フルオロフロゴパイト、酸化チタン、マイカ、ポリメチルシルセスキオキサン、リンゴ酸ジイソステアリル、水添ポリ（Ｃ６－１４オレフィン）、フェニルトリメチコン、セスキイソステアリン酸ソルビタン、ベンガラ、イソステアリン酸水添ヒマシ油、ジステアリン酸Ａｌ、合成ワックス、（ジメチコン／ビニルジメチコン）クロスポリマー、フェノキシエタノール、プロパンジオール、マンガンバイオレット、グンジョウ、酸化スズ、シリカ、黒酸化鉄、カオリン、トコフェロール</p>
                <p>ANTIQUE BROWN：ジメチコン、合成フルオロフロゴパイト、ベンガラ、マイカ、ホウケイ酸（Ｃａ／チタン）、メタクリル酸メチルクロスポリマー、ジエチルヘキサン酸ネオペンチルグリコール、ラウリン酸ヘキシル、（ジメチコン／ビニルジメチコン）クロスポリマー、ナイロン－１２、（セバシン酸／イソパルミチン酸）ジグリセリル、黒酸化鉄、酸化チタン、セスキイソステアリン酸ソルビタン、ミリスチン酸Ｍｇ、ヘキサ（ヒドロキシステアリン酸／ステアリン酸／ロジン酸）ジペンタエリスリチル、フェノキシエタノール、プロパンジオール、黄酸化鉄、合成ワックス、トリエトキシカプリリルシラン、マンガンバイオレット、酸化スズ、カオリン、トコフェロール</p>
                <p>PINK GLOW：ジメチコン、合成フルオロフロゴパイト、マイカ、メタクリル酸メチルクロスポリマー、ホウケイ酸（Ｃａ／チタン）、ベンガラ、酸化チタン、ジエチルヘキサン酸ネオペンチルグリコール、ラウリン酸ヘキシル、（ジメチコン／ビニルジメチコン）クロスポリマー、ナイロン－１２、（セバシン酸／イソパルミチン酸）ジグリセリル、セスキイソステアリン酸ソルビタン、ミリスチン酸Ｍｇ、ヘキサ（ヒドロキシステアリン酸／ステアリン酸／ロジン酸）ジペンタエリスリチル、フェノキシエタノール、プロパンジオール、合成ワックス、グンジョウ、黒酸化鉄、赤２２６、酸化スズ、トコフェロール</p>
                <p>VINTAGE ROSE：タルク、マイカ、オクテニルコハク酸デンプンＡｌ、合成フルオロフロゴパイト、マンガンバイオレット、シリカ、酸化チタン、ステアロイルオキシステアリン酸オクチルドデシル、フェニルトリメチコン、ミリスチン酸Ｍｇ、ベンガラ、黄酸化鉄、ステアリン酸Ｍｇ、メチルプロパンジオール、マカデミア種子油、フェノキシエタノール、グンジョウ、黒酸化鉄、プロパンジオール、赤２２６、トリエトキシカプリリルシラン、カオリン、水酸化Ａｌ、メチコン、ラウロイルリシン</p>
                <p>CHERRY BROWN：ジメチコン、合成フルオロフロゴパイト、ベンガラ、ポリメチルシルセスキオキサン、黒酸化鉄、リンゴ酸ジイソステアリル、水添ポリ（Ｃ６－１４オレフィン）、マイカ、フェニルトリメチコン、セスキイソステアリン酸ソルビタン、イソステアリン酸水添ヒマシ油、酸化チタン、ジステアリン酸Ａｌ、合成ワックス、（ジメチコン／ビニルジメチコン）クロスポリマー、マンガンバイオレット、フェノキシエタノール、プロパンジオール、赤２２６、シリカ、カオリン、トコフェロール</p>
            </div>
        </div>

        {% render 'eyeshadow02' %} 
        
        <div class="product__others">
            <p class="product__others--ttl">
                <img src="{{ 'otheritems_new.svg' | file_url }}"  alt="01 NUDE ROSE" width="auto" height="auto" loading="eager">

                {% comment %} <img src="{{ 'product_other_8a8d88e1-9c92-4dd2-806c-833d104bd176.svg?v=1644594499' | file_url }}"  alt="01 NUDE ROSE" width="auto" height="auto" loading="eager"> {% endcomment %}
            </p>
            <div class="product__others--scroll">
                <ul class="product__others--list">	
                    <li class="product__others--list-wide">
                        <a href="{{ routes.root_url }}products/off-skineyeshadow-02ambermood/">
                            <div class="product__others--list-rel">
                                <picture>
                                    <source srcset="{{ 'prdocut_otherimte-eye02.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'prdocut_otherimte-eye02.png' | file_url }}" alt="02 アンバームード" width="476" height="692" loading="eager" class="">
                                </picture> 
                             
                                 <picture class="product__others--list-abso">
                                    <source srcset="{{ 'img_pallete02.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_pallete02.png' | file_url }}" alt="02 アンバームード" width="188" height="188" loading="eager" class="">
                                </picture>
                            </div>

                           <p class="product__others--name"><strong>ザ スキン アイシャドウ パレット</strong><br>02 アンバームード</p>
                           <p class="product__others--price">¥2,490<span>( inc.tax )</span></p>
                       </a>
                   </li>
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">
                          <picture>
                                <source srcset="{{ 'prdocut_otherimte01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'prdocut_otherimte01.png' | file_url }}" alt="01 ヌードローズ" width="792" height="1150" loading="eager" class="">
                            </picture> 
                           <p class="product__others--name"><strong>ベルベット フィックス リップバーム</strong><br>01 ヌードローズ</p>
                           <p class="product__others--price">¥1,680<span>( inc.tax )</span></p>
                       </a>
                   </li> 
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/">
                           <picture>
                                <source srcset="{{ 'prdocut_otherimte02.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'prdocut_otherimte02.png' | file_url }}" alt="02 イノセントレッド" width="792" height="1150" loading="eager" class="">
                            </picture> 
                            <p class="product__others--name"><strong>ベルベット フィックス リップバーム</strong><br>02 イノセントレッド</p>
                            <p class="product__others--price">¥1,680<span>( inc.tax )</span></p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>


    </div>
</div>
    
{% comment %} <div class="footer__fluid" style="margin: 0 0 60px;">
    <p class="footer__fluid--txt">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.svg?v=1647228464" alt="Tomorrow, you will be better than you are" width="2637" height="30" loading="eager">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.svg?v=1647228464" alt="Tomorrow, you will be better than you are" width="2637" height="30" loading="eager">
    </p>
</div> {% endcomment %}

<script src="{{ 'clenz.js' | asset_url }}" defer="defer"></script>
