  

<div class="product">
    <div class="eye02ambermood eyeshadow" id="eye02ambermood">
        <div class="eyeshadow__fv">
            <div class="eyeshadow__fv--swipwrap">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" itemprop="image">
                            <picture>
                                <source srcset="{{ 'img01_ambermood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img01_ambermood01.jpg' | file_url }}" alt="02 AMBER MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img02_ambermood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img02_ambermood01.jpg' | file_url }}" alt="02 AMBER MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img03_ambermood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img03_ambermood01.jpg' | file_url }}" alt="02 AMBER MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img04_ambermood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img04_ambermood01.jpg' | file_url }}" alt="02 AMBER MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img05_ambermood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img05_ambermood01.jpg' | file_url }}" alt="02 AMBER MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img06b_ambermood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img06b_ambermood01.jpg' | file_url }}" alt="02 AMBER MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="clenz__fv--kadomaru">
                    <img src="{{ 'kado.svg' | file_url }}" alt="kadomaru" width="auto" height="auto" loading="eager">
                </div>
            </div><!-- clenz__fv--swipwrap -->

            <div class="mySwiper__wrapper">
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img01_ambermood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img01_ambermood01.jpg' | file_url }}" alt="02 AMBER MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img02_ambermood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img02_ambermood01.jpg' | file_url }}" alt="02 AMBER MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img03_ambermood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img03_ambermood01.jpg' | file_url }}" alt="02 AMBER MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img04_ambermood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img04_ambermood01.jpg' | file_url }}" alt="02 AMBER MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img05_ambermood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img05_ambermood01.jpg' | file_url }}" alt="02 AMBER MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img06_ambermood01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img06_ambermood01.jpg' | file_url }}" alt="02 AMBER MOOD" width="1000" height="1240" loading="eager" class="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper__arrow">
                <div class="swiper-button-next">NEXT</div>
                <div class="swiper-button-prev">PREV</div>
            </div>

        </div>
    

        <section class="product__de">
            <h1 class="product__de--en">The Skin Eyeshadow Palette</h1>
            <h2 class="product__de--jp">ザ スキン アイシャドウ パレット</h2>
            <h3 class="product__de--price"><p class="dashed">¥2,490</p>¥1,992<span> ( inc.tax )</span></h3> 

            {% comment %} <h3 class="product__de--price">¥2,490<span> ( inc.tax )</span></h3> {% endcomment %}
            <div class="product__de--color">
                <ul class="product__deLink">
                    <li>
                        <a href="{{ routes.root_url }}products/off-skineyeshadow-01rosymood/">
                        <img src="{{ 'slick_eye01_dot.svg' | file_url }}" alt="02 AMBER MOOD" loading="eager" width="auto" height="auto"></li>
                        </a>

                    <li>
                            <img src="{{ 'slick_eye02_dot-active.svg' | file_url }}" alt="02 AMBER MOOD" loading="eager" width="auto" height="auto">
                    </li> 
                </ul>
                <p class="product__de--cname">02 AMBER MOOD</p>
            </div>
        </section>

        <section class="eyeshadow__ptxt">
            <h4 class="eyeshadow__ptxt--ttl"><span>NEW BASIC</span></h4>
            <p class="eyeshadow__ptxt--txt">優しく、柔らかく、どこか新しく</p>
            <p class="eyeshadow__ptxt--txt2">新しくて頼もしい究極のベーシックアイパレット<br>
                ひとつのパレットで洗練された上質な⽬元に</p>
        </section>
 
        {% comment %} <div class="product__cartbtn--disable" style="overflow: hidden; display: block; margin-bottom :100px;">
            COMING SOON <br>
            <span>2023.5.12(FRI)12:00〜</span>
        </div> {% endcomment %}
        {% render 'kessai' %}


        {% render 'campaignbnr' %} 


        <div class="intro01">  
            <div class="intro01__blc01">
                <picture>
                    <source srcset="{{ 'pimg_ambermood01.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'pimg_ambermood01.jpg' | file_url }}" alt="02 AMBER MOOD" width="1136" height="1680" loading="eager" class="intro01_img">
                </picture>
                <p class="intro01__blc01--ttl">The Skin Eye Shadow Pallete</p>
            </div>
            <div class="intro01__blc02">
                <p class="intro01__blc02--ttl">02 AMBER MOOD</p>
                <p class="intro01__blc02--txtjp">さりげなく洒落感を宿す<br>洗練されたオレンジブラウンパレット</p>
                <p class="intro01__blc02--txten">Shell Beige ,  Dusk Orange , Marigold , Nude Ginger<br>
                Brick Brown , Hot Choco</p>
            </div>
            <div class="intro01__blc03">
                <p class="intro01__blc03a">produced by Yoshiaki & Michi</p>
                <picture>
                    <source srcset="{{ 'img_intro01-3-amber.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'img_intro01-3-amber.png' | file_url }}" alt="02 AMBER MOOD" width="810" height="1152" loading="eager" class="intro01__blc03--img">
                </picture>
                
                <p class="intro01__blc03b">Create for yourself</p>
            </div>
            <picture>
                <source srcset="{{ 'texture-img_intro01-3amber.webp' | file_url }}" type="image/webp">
                <img src="{{ 'texture-img_intro01-3amber.png' | file_url }}" alt="02 AMBER MOOD" width="522" height="402" loading="eager" class="intro01__blc03--texture1">
            </picture>
        </div>
        <div class="intro01pre">
            <picture>
                <source srcset="{{ 'texture2-img_intro01-3amber.webp' | file_url }}" type="image/webp">
                <img src="{{ 'texture2-img_intro01-3amber.png' | file_url }}" alt="02 AMBER MOOD" width="540" height="558" loading="eager" class="intro01__blc03--texture2">
            </picture>
        </div>
        {% render 'eyeshadow01' %}


        <section class="intro04">
            <div class="intro04__fv">
                <div class="intro04__fv--inner">
                    <picture>
                        <source srcset="{{ 'img_intro04-02eyeshadow.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'img_intro04-02eyeshadow.jpg' | file_url }}" alt="02 AMBER MOOD" width="938" height="1244" loading="eager" class="intro04__fv--img">
                    </picture>
                    <p class="intro04__fv--txt">The Skin Eyeshadow Pallete</p>
                </div>
                <p class="intro04__fv--txt2">02 Amber Mood</p>
                <p class="intro04__fv--txt3">Shell Beige ,  Dusk Orange , Marigold , Nude Ginger<br>
                    Brick Brown , Hot Choco</p>

            </div>
            


            <div class="intro04__blc">
                <p class="intro04__blc--subttl">Create for yourself</p>
                <div class="intro04__blc--img">
                    <picture>
                        <source srcset="{{ 'img02_intro04-02eyeshadow.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'img02_intro04-02eyeshadow.png' | file_url }}" alt="02 AMBER MOOD" width="726" height="912" loading="eager" >
                    </picture>
                </div>
                <p class="intro04__blc--txt">Tomorrow, You will be better than you are.<br>
                    Let your sensitivity wherever your heart takes you.<br>
                    Find hidden your own beauty within yourself.<br>
                    Meet a new you with perse.</p>
                <div class="intro04__blc--img2">
                    <picture>
                        <source srcset="{{ 'img03_intro04-02eyeshadow.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'img03_intro04-02eyeshadow.jpg' | file_url }}" alt="02 AMBER MOOD" width="1136" height="544" loading="eager" >
                    </picture>
                </div>

                <div class="intro04__blc02">
                    <div class="intro04__blc02--top">
                        <div class="intro04__blc02--top-img">
                            <picture>
                                <source srcset="{{ 'img04_intro04-02eyeshadow.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img04_intro04-02eyeshadow.jpg' | file_url }}" alt="02 AMBER MOOD" width="936" height="632" loading="eager" >
                            </picture>
                        </div>
                        <p class="intro04__blc02--top-txt">NEW BASIC</p>

                    </div>
                    <div class="intro04__blc02--btm">
                        <div class="intro04__blc02--btm-img">
                            <picture>
                                <source srcset="{{ 'img05_intro04-02eyeshadow.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img05_intro04-02eyeshadow.jpg' | file_url }}" alt="02 AMBER MOOD" width="830" height="8" loading="eager" >
                            </picture>
                        </div>
                        <p class="intro04__blc02--btm-txt">Produced by Yoshiaki & Michi</p>
                    </div>

                </div>

            </div>
            
        </section>

        <!-- 流れるテキスト -->
        <div class="rip04">
            <p class="rip04__txt">
                <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip04_txt_f10cf5b2-9c2a-41c8-b69a-17a31a59e2e8.svg?v=1647228464" alt="01 NUDE ROSE" width="2637" height="30" loading="eager">
                <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip04_txt_f10cf5b2-9c2a-41c8-b69a-17a31a59e2e8.svg?v=1647228464" alt="01 NUDE ROSE" width="2637" height="30" loading="eager">
            </p>
        </div>

        <div class="intro05">
            <h2 class="intro05__ttl">SWATCH</h2>
            <div class="intro05__inner">
                <picture>
                    <source srcset="{{ 'img_intro05-02eyeshadow.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'img_intro05-02eyeshadow.png' | file_url }}" alt="02 AMBER MOOD" width="900" height="2242" loading="eager" >
                </picture>
                
            </div>
        </div>


        <div class="intro06">
            <div class="intro06__inner">
                <div class="intro06__img">
                    <picture>
                        <source srcset="{{ 'buynow_02eyeshadow-img.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'buynow_02eyeshadow-img.png' | file_url }}" alt="02 AMBER MOOD" width="504" height="536" loading="eager" class="">
                    </picture>
                    <p class="intro06__img--buynow">BUY NOW</p>
                </div>
                <h2 class="intro06__ttl">The Skin<br>
                    Eyeshadow Palette</h2>
                <p class="intro06__name">02 AMBER MOOD</p>
            </div>
            {% comment %} <p class="intro06__price">¥2,490<span>( inc.tax )</span></p> {% endcomment %}
            <p class="intro06__price">¥2,490<span class="dashed">¥1,992</span><span>( inc.tax )</span></p>

            {% comment %} <div class="product__cartbtn--disable" style="overflow: hidden; display: block; margin-bottom :100px;">
                COMING SOON <br>
                <span>2023.5.12(FRI)12:00〜</span>
            </div> {% endcomment %}
             {% render 'kessai' %} 

            <a href="{{ routes.root_url }}products/off-skineyeshadow-01rosymood/" class="intro06__bnrlink">
                <picture>
                    <source srcset="{{ 'bnr_01eyeshadow.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'bnr_01eyeshadow.jpg' | file_url }}" alt="02 AMBER MOOD" width="568" height="202" loading="eager" class="">
                </picture>
            </a>
        </div>


        <div class="eyeshadow__component">
            <div class="eyeshadow__component--ttlwrap slidetoggle">
                <h2 class="eyeshadow__component--ttl">全成分</h2>
                <div class="slidetoggle__btn">BTN</div>
            </div>
            <div class="eyeshadow__component--slide slidetoggle__next">
                <p>SHELL BEIGE：ジメチコン、合成フルオロフロゴパイト、マイカ、酸化チタン、ポリメチルシルセスキオキサン、リンゴ酸ジイソステアリル、水添ポリ（Ｃ６－１４オレフィン）、フェニルトリメチコン、セスキイソステアリン酸ソルビタン、イソステアリン酸水添ヒマシ油、ジステアリン酸Ａｌ、合成ワックス、ベンガラ、（ジメチコン／ビニルジメチコン）クロスポリマー、シリカ、フェノキシエタノール、プロパンジオール、酸化スズ、トリエトキシカプリリルシラン、トコフェロール</p>
                <p>MARIGOLD：ジメチコン、合成フルオロフロゴパイト、ホウケイ酸（Ｃａ／チタン）、メタクリル酸メチルクロスポリマー、マイカ、ベンガラ、酸化チタン、ジエチルヘキサン酸ネオペンチルグリコール、ラウリン酸ヘキシル、（ジメチコン／ビニルジメチコン）クロスポリマー、ナイロン－１２、（セバシン酸／イソパルミチン酸）ジグリセリル、セスキイソステアリン酸ソルビタン、ミリスチン酸Ｍｇ、ヘキサ（ヒドロキシステアリン酸／ステアリン酸／ロジン酸）ジペンタエリスリチル、フェノキシエタノール、プロパンジオール、合成ワックス、黄酸化鉄、酸化スズ、黄４、赤２２６、トコフェロール</p>
                <p>BRICK BROWN：ジメチコン、合成フルオロフロゴパイト、ベンガラ、マイカ、ポリメチルシルセスキオキサン、リンゴ酸ジイソステアリル、水添ポリ（Ｃ６－１４オレフィン）、黒酸化鉄、フェニルトリメチコン、セスキイソステアリン酸ソルビタン、イソステアリン酸水添ヒマシ油、ジステアリン酸Ａｌ、合成ワックス、（ジメチコン／ビニルジメチコン）クロスポリマー、フェノキシエタノール、プロパンジオール、酸化チタン、赤２２６、黄酸化鉄、シリカ、トリエトキシカプリリルシラン、トコフェロール</p>
                <p>DUSK ORANGE：ジメチコン、合成フルオロフロゴパイト、マイカ、酸化チタン、ポリメチルシルセスキオキサン、ベンガラ、リンゴ酸ジイソステアリル、水添ポリ（Ｃ６－１４オレフィン）、フェニルトリメチコン、セスキイソステアリン酸ソルビタン、イソステアリン酸水添ヒマシ油、ジステアリン酸Ａｌ、合成ワックス、（ジメチコン／ビニルジメチコン）クロスポリマー、フェノキシエタノール、プロパンジオール、黄４、黄酸化鉄、赤２２６、黒酸化鉄、シリカ、トコフェロール</p>
                <p>NUDE GINGER：タルク、マイカ、オクテニルコハク酸デンプンＡｌ、合成フルオロフロゴパイト、シリカ、酸化チタン、ステアロイルオキシステアリン酸オクチルドデシル、フェニルトリメチコン、ミリスチン酸Ｍｇ、ベンガラ、黄酸化鉄、黒酸化鉄、ステアリン酸Ｍｇ、メチルプロパンジオール、マカデミア種子油、ジメチコン、プロパンジオール、トリエトキシカプリリルシラン、水酸化Ａｌ、ラウロイルリシン、メチコン</p>
                <p>HOT CHOCO：タルク、マイカ、オクテニルコハク酸デンプンＡｌ、合成フルオロフロゴパイト、ベンガラ、黒酸化鉄、シリカ、黄酸化鉄、ステアロイルオキシステアリン酸オクチルドデシル、フェニルトリメチコン、ミリスチン酸Ｍｇ、グンジョウ、マンガンバイオレット、酸化チタン、メチルプロパンジオール、ステアリン酸Ｍｇ、マカデミア種子油、ジメチコン、赤２２６、プロパンジオール、トリエトキシカプリリルシラン、黄４、カオリン、ラウロイルリシン、水酸化Ａｌ、メチコン</p>
            </div>
        </div>

        {% render 'eyeshadow02' %} 
        
        <div class="product__others">
            <p class="product__others--ttl">
                <img src="{{ 'otheritems_new.svg' | file_url }}"  alt="01 NUDE ROSE" width="auto" height="auto" loading="eager">

                {% comment %} <img src="{{ 'product_other_8a8d88e1-9c92-4dd2-806c-833d104bd176.svg?v=1644594499' | file_url }}"  alt="01 NUDE ROSE" width="auto" height="auto" loading="eager"> {% endcomment %}
            </p>
            <div class="product__others--scroll">
                <ul class="product__others--list">	
                    <li class="product__others--list-wide">
                        <a href="{{ routes.root_url }}products/off-skineyeshadow-01rosymood/">
                            <div class="product__others--list-rel">
                                <picture>
                                    <source srcset="{{ 'prdocut_otherimte-eye01.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'prdocut_otherimte-eye01.png' | file_url }}" alt="01 ロージームード" width="476" height="692" loading="eager" class="">
                                </picture>
                                <picture class="product__others--list-abso">
                                    <source srcset="{{ 'img_pallete01.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_pallete01.png' | file_url }}" alt="01 ロージームード" width="188" height="188" loading="eager" class="">
                                </picture>
                            </div>

                           <p class="product__others--name"><strong>ザ スキン アイシャドウ パレット</strong><br>01 ロージームード</p>
                           <p class="product__others--price">¥2,490<span>( inc.tax )</span></p>
                       </a>
                   </li>
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">
                            <picture>
                                <source srcset="{{ 'prdocut_otherimte01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'prdocut_otherimte01.png' | file_url }}" alt="01 ヌードローズ" width="792" height="1150" loading="eager" class="">
                            </picture>
                           <p class="product__others--name"><strong>ベルベット フィックス リップバーム</strong><br>01 ヌードローズ</p>
                           <p class="product__others--price">¥1,680<span>( inc.tax )</span></p>
                       </a>
                   </li> 
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/">
                            <picture>
                                <source srcset="{{ 'prdocut_otherimte02.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'prdocut_otherimte02.png' | file_url }}" alt="02 イノセントレッド" width="792" height="1150" loading="eager" class="">
                            </picture>
                            <p class="product__others--name"><strong>ベルベット フィックス リップバーム</strong><br>02 イノセントレッド</p>
                            <p class="product__others--price">¥1,680<span>( inc.tax )</span></p>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange">
                            <picture>
                                <source srcset="{{ 'prdocut_otherimte03.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'prdocut_otherimte03.png' | file_url }}" alt="03 チリオレンジ" width="792" height="1150" loading="eager" class="">
                            </picture>
                            <p class="product__others--name"><strong>ベルベット フィックス リップバーム</strong><br>03 チリオレンジ</p>
                            <p class="product__others--price">¥1,680<span>( inc.tax )</span></p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown">
                            <picture>
                                <source srcset="{{ 'prdocut_otherimte04.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'prdocut_otherimte04.png' | file_url }}" alt="04 アーモンドブラウン" width="792" height="1150" loading="eager" class="">
                            </picture>
                            <p class="product__others--name"><strong>ベルベット フィックス リップバーム</strong><br>04 アーモンドブラウン</p>
                            <p class="product__others--price">¥1,680<span>( inc.tax )</span></p>
                        </a>
                    </li> 
                    <li>
                        <a href="{{ routes.root_url }}products/velvetfixlipbalm-frenchbrown/">
                            <picture>
                                <source srcset="{{ 'prdocut_otherimte05.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'prdocut_otherimte05.png' | file_url }}" alt="05 フレンチブラウン" width="792" height="1150" loading="eager" class="">
                            </picture>
                            <p class="product__others--name"><strong>ベルベット フィックス リップバーム</strong><br>05 フレンチブラウン</p>
                            <p class="product__others--price">¥1,680<span>( inc.tax )</span></p>
                        </a>
                    </li>  -->
                </ul>
            </div>
        </div>
    </div>


    </div>
</div>
    
<script src="{{ 'clenz.js' | asset_url }}" defer="defer"></script>
