<section class="intro02">
    <h3 class="intro02__ttl">The Skin Eyeshadow Pallete</h3>
    <p class="intro02__subttl">ザ スキン アイシャドウ パレット</p>
    <ul class="intro02__img fadein_block">
        <li class="fadein02">
            <picture>
                <source srcset="{{ 'img_pallete01.webp' | file_url }}" type="image/webp">
                <img src="{{ 'img_pallete01.jpg' | file_url }}" alt="01 ROSY MOOD" width="188" height="188" loading="lazy" class="">
            </picture>
        </li>
        <li class="fadein03">
            <picture>
                <source srcset="{{ 'img_pallete02.webp' | file_url }}" type="image/webp">
                <img src="{{ 'img_pallete02.jpg' | file_url }}" alt="01 ROSY MOOD" width="188" height="188" loading="lazy" class="">
            </picture>
        </li>
    </ul>
    <h4 class="eyeshadow__ptxt--ttl"><span>NEW BASIC</span></h4>
    <p class="eyeshadow__ptxt--txt">優しく、柔らかく、どこか新しく</p>
    <p class="eyeshadow__ptxt--txt2">新しくて頼もしい究極のベーシックアイパレット<br>
        ひとつのパレットで洗練された上質な⽬元に</p>
    <p class="intro02__blc--ttl">( COLOR LINE UP )</p>
    <div class="pc">
        <ul class="intro02__blc fadein_block">
            <li>
                <a href="{{ routes.root_url }}products/skineyeshadow-01rosymood/">
                <h5 class="intro02__blc--eye01">01 Rosy Mood</h5>
                <picture  class="fadein04">
                    <source srcset="{{ 'img_eye01.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'img_eye01.jpg' | file_url }}" alt="01 ROSY MOOD" width="428" height="456" loading="lazy" class="intro02__blc--img">
                </picture>
                <p class="intro02__blc--txt">ヴィンテージ感漂うダスティな<br>透けピンクブラウンパレット</p>
            </a>

            </li>
            <li>
                <a href="{{ routes.root_url }}products/skineyeshadow-02ambermood/">
                <h5 class="intro02__blc--eye02">02 Amber Mood</h5>
                <picture class="fadein05">
                    <source srcset="{{ 'img_eye02.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'img_eye02.jpg' | file_url }}" alt="02 Amber Mood" width="428" height="456" loading="lazy" class="intro02__blc--img">
                </picture>
                <p class="intro02__blc--txt">さりげなく洒落感を宿す<br>洗練されたオレンジブラウンパレット</p>
                </a>

            </li>
        </ul>
    </div>
    <div class="sp">
        <ul class="intro02__blcsp">
            <li class="intro02__blcsp--list">
                <a href="{{ routes.root_url }}products/skineyeshadow-01rosymood/">
                <h5 class="intro02__blcsp--eye01">01 Rosy Mood</h5>
                <picture>
                    <source srcset="{{ 'img_eye01.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'img_eye01.jpg' | file_url }}" alt="01 ROSY MOOD" width="428" height="456" loading="lazy" class="intro02__blcsp--img">
                </picture>
                <p class="intro02__blcsp--txt">ヴィンテージ感漂うダスティな<br>透けピンクブラウンパレット</p>
            </a>

            </li>
            <li class="intro02__blcsp--list">
                <a href="{{ routes.root_url }}products/skineyeshadow-02ambermood/">

                <h5 class="intro02__blcsp--eye02">02 Amber Mood</h5>
                <picture>
                    <source srcset="{{ 'img_eye02.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'img_eye02.jpg' | file_url }}" alt="02 Amber Mood" width="428" height="456" loading="lazy" class="intro02__blcsp--img">
                </picture>
                <p class="intro02__blcsp--txt">ヴィンテージ感漂うダスティな<br>透けピンクブラウンパレット</p>
                </a>

            </li>
        </ul>
    </div>
</section>


<section class="intro03">
    <div class="intro03__01img">
        <picture>
            <source srcset="{{ 'fvimg_intro03.webp' | file_url }}" type="image/webp">
            <img src="{{ 'fvimg_intro03.jpg' | file_url }}" alt="01 ROSY MOOD" width="1090" height="1332" loading="lazy" class="intro03__01img--fv">
        </picture>
    </div>

    <div class="intro03__points">
        <h2 class="intro03__points--ttl"></h2>

        <ul class="intro03__points--list">
            <li class="fadein_block">
                <div class="intro03__points--list-img">
                    <picture>
                        <source srcset="{{ 'pointimg01_intro03.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'pointimg01_intro03.jpg' | file_url }}" alt="01 ROSY MOOD" width="370" height="432" loading="lazy" class="">
                    </picture>
                    <p class="intro03__points--list-img01 pointNum fadein02">POINT 1</p>
                </div>
                <div class="intro03__points--list-txts">
                    <h3 class="intro03__points--list-ttl">NEW BASIC</h3>
                    <p class="intro03__points--list-txt">どこか新しく飽きのこない<br>究極のベーシックカラーの<br>組み合わせ</p>
                </div>
            </li>
            <li class="fadein_block">
                <div class="intro03__points--list-img">
                    <picture>
                        <source srcset="{{ 'pointimg02_intro03.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'pointimg02_intro03.jpg' | file_url }}" alt="01 ROSY MOOD" width="370" height="432" loading="lazy" class="">
                    </picture>
                    <p class="intro03__points--list-img02 pointNum fadein02">POINT 2</p>
                </div>
                <div class="intro03__points--list-txts">
                    <h3 class="intro03__points--list-ttl">EASY TO<br>BLEND</h3>
                    <p class="intro03__points--list-txt">ブレンドしやすい<br>テクスチャーで重ねるごとに変化する印象を楽しめる</p>
                </div>
            </li>
            <li class="fadein_block">
                <div class="intro03__points--list-img">
                    <picture>
                        <source srcset="{{ 'pointimg03_intro03.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'pointimg03_intro03.jpg' | file_url }}" alt="01 ROSY MOOD" width="370" height="432" loading="lazy" class="">
                    </picture>
                    <p class="intro03__points--list-img03 pointNum fadein02">POINT 3</p>
                </div>
                <div class="intro03__points--list-txts">
                    <h3 class="intro03__points--list-ttl">SKIN-FIT<br>TEXTURE</h3>
                    <p class="intro03__points--list-txt">細かい粒⼦の原料を厳選。粉⾶びせず肌と⼀体化するような超微細テクスチャー</p>
                </div>
            </li>
            <li class="fadein_block">
                <div class="intro03__points--list-img">
                    <picture>
                        <source srcset="{{ 'pointimg04_intro03.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'pointimg04_intro03.jpg' | file_url }}" alt="01 ROSY MOOD" width="370" height="432" loading="lazy" class="">
                    </picture>
                    <p class="intro03__points--list-img04 pointNum fadein02">POINT 4</p>
                </div>
                <div class="intro03__points--list-txts">
                    <h3 class="intro03__points--list-ttl">100% VIGAN</h3>
                    <p class="intro03__points--list-txt">フランスのEVE VEGAN<br>認証を取得した<br>ヴィーガンアイパレット</p>
                </div>
            </li>
        </ul>
        <p class="intro03__points--points">Points</p>
    </div>
</section>