<div class="product" id="slyxmichi">
    <div class="slyblc" id="slyblc">
        <div class="slyxmich__fv">
            
            <section class="slyxmich__swiper01 slyxmichi06" id="slyxmich__swiper01">
                <div class="vita__fv--swipwrap">
                    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" itemprop="image">
                                <picture>
                                    <source srcset="{{ 'img_sly06-01.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly06-01.jpg' | file_url }}" alt="VITA tone up" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly06-02.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly06-02.jpg' | file_url }}" alt="VITA tone up" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly06-03.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly06-03.jpg' | file_url }}" alt="VITA tone up" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly06-04.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly06-04.jpg' | file_url }}" alt="VITA tone up" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly06-05.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly06-05.jpg' | file_url }}" alt="VITA tone up" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>

                        </div>
                    </div>
                    <div class="vita__fv--kadomaru">
                        <svg version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 85 85"
                            style="enable-background:new 0 0 85 85;" xml:space="preserve">

                            <path class="st0" d="M0,85C0,38.1,38.1,0,85,0H0V85z" />
                        </svg>


                    </div>
                </div><!-- clenz__fv--swipwrap -->

                <div class="mySwiper__wrapper">
                    <div thumbsSlider="" class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly06-01.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly06-01.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly06-02.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly06-02.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly06-03.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly06-03.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly06-04.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly06-04.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly06-05.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly06-05.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="swiper__arrow">
                    <div class="swiper-button-next">NEXT</div>
                    <div class="swiper-button-prev">PREV</div>
                </div>
            </section>

            <!-- //０７ -->
            <section class="slyxmich__swiper02 slyxmichi07" id="slyxmich__swiper02">
                <div class="vita__fv--swipwrap">
                    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" itemprop="image">
                                <picture>
                                    <source srcset="{{ 'img_sly07-01.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly07-01.jpg' | file_url }}" alt="VITA tone up" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly07-02.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly07-02.jpg' | file_url }}" alt="VITA tone up" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly07-03.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly07-03.jpg' | file_url }}" alt="VITA tone up" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly07-04.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly07-04.jpg' | file_url }}" alt="VITA tone up" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly07-05.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly07-05.jpg' | file_url }}" alt="VITA tone up" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>

                        </div>
                    </div>
                    <div class="vita__fv--kadomaru">
                        <svg version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 85 85"
                            style="enable-background:new 0 0 85 85;" xml:space="preserve">
                            <path class="st0" d="M0,85C0,38.1,38.1,0,85,0H0V85z" />
                        </svg>

                    </div>
                </div><!-- clenz__fv--swipwrap -->

                <div class="mySwiper__wrapper">
                    <div thumbsSlider="" class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly07-01.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly07-01.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly07-02.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly07-02.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly07-03.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly07-03.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly07-04.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly07-04.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="{{ 'img_sly07-05.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_sly07-05.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                        height="1240" loading="eager" class="">
                                </picture>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="swiper__arrow">
                    <div class="swiper-button-next">NEXT</div>
                    <div class="swiper-button-prev">PREV</div>
                </div>
            </section>
        </div>

        <section class="product__de">
            <h1 class="product__de--en">MICHIXSLY Velvet Fix Lip Balm</h1>
            <h2 class="product__de--jp">ベルベット フィックス リップバーム</h2>
            {% comment %} <h3 class="product__de--price"><p class="dashed">¥1,680</p>¥1,344<span> ( inc.tax )</span></h3> {% endcomment %}

            <h3 class="product__de--price">¥1,680<span> ( inc.tax )</span></h3>
        </section>

        <section class="rnCartbtn">
            <div class="rnCartbtn__inner">

                <div class="rnCartbtn__blc">
                    <div>
                        <ul class="rnCartbtn__blc--ripcolor">
                            <li>
                                <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">01 ヌードローズ</a>
                            </li>
                            <li>
                                <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/">02 イノセントレッド</a>
                            </li>
                            <li>
                                <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange/">03 チリオレンジ</a>
                            </li>
                            <li>
                                <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown/">04 アーモンドブラウン</a>
                            </li>
                            <li>
                                <a href="{{ routes.root_url }}products/velvetfixlipbalm-frenchbrown/">05 フレンチブラウン</a>
                            </li>
                        </ul>
                    <fieldset>
                        <div class="rnCartbtn__radiobtn">
                            <input type="radio" id="06pinkm" name="slymich"
                                data-url="https://perseperse.myshopify.com/cart/add?id=43784364490988&quantity=1"
                                value="06 PINK MAUVETTE" checked />
                            <label for="06pinkm"></label>

                            <input type="radio" id="07bbrown" name="slymich"
                                data-url="https://perseperse.myshopify.com/cart/add?id=43784364523756&quantity=1"
                                value="07 BRICK BROWN" />
                            <label for="07bbrown"></label>
                        </div>
                    </fieldset>
                    </div>

                    <p class="rnCartbtn__name" id="js-validastionname">06 PINK MAUVETTE</p>

                </div>
                {% comment %} <a class="product__cartbtn"
                    href="https://perseperse.myshopify.com/cart/add?id=43784364490988&quantity=1" id="js-cartlink">
                    <p>PRE ORDER</p>
                    <span class="product__cartbtn--img">cartimg<span>
                </a> {% endcomment %}
                <a class="product__cartbtn"
                    href="https://perseperse.myshopify.com/cart/add?id=43784364490988&quantity=1" id="js-cartlink">
                    <p>BUY</p>
                    <span class="product__cartbtn--img">cartimg<span>
                </a>

            </div>
        </section>


        {% render 'campaignbnr' %}


        <div class="slyfv load-fade">
            <div class="slyfv__img">
                <picture>
                    <source srcset="{{ 'img_slyfv.webp' | file_url }}"
                        type="image/webp">
                    <img src="{{ 'img_slyfv.jpg' | file_url }}" alt="MICHI X SLY"
                        width="1090" height="1508" loading="eager">
                </picture>
            </div>
            <p class="slyfv__ttl scroll-up">FIX LIP BALM</p>

        </div>
        <div class="slyfv02 load-fade">
            <div class="slyfv02__img">
                <div class="slyfv02__img--wrap scroll-up02">
                    <picture>
                        <source srcset="{{ 'img_product01-sly.webp' | file_url }}"
                            type="image/webp">
                        <img src="{{ 'img_product01-sly.png' | file_url }}" alt="MICHI X SLY"
                            width="120" height="336" loading="eager">
                    </picture>
                </div>
                <div class="slyfv02__img--wrap scroll-up03">
                    <picture>
                        <source srcset="{{ 'img_product02-sly.webp' | file_url }}"
                            type="image/webp">
                        <img src="{{ 'img_product02-sly.png' | file_url }}" alt="MICHI X SLY"
                            width="120" height="336" loading="eager">
                    </picture>
                </div>
            </div>

            <p class="slyfv02__txt">透け感とマット感を両立させた、<br>
                新感覚ベルベットリップから<br>
                MICHIXSLYとの限定色が登場。</p>
            <p class="slyfv02__txts">スルスルと密着して色移りしにくいヨレない唇に、<br>
                ふんわりと透けるソフトな発色が新しい。<br>
                プレイフルなカラーをバーム風のラフな質感で楽しむ、<br>
                次世代ベルベットリップバーム。</p>
        </div>

        <div class="slyfv03 load-fade">
            <p class="slyfv03__feature">VELVET FIX LIP BALM MICHIXSLY</p>
            <div class="slyfv03__img">
                <picture>
                    <source srcset="{{ 'img_feature-slyfv03b.webp' | file_url }}"
                        type="image/webp">
                    <img src="{{ 'img_feature-slyfv03b.png' | file_url }}" alt="MICHI X SLY"
                        width="1136" height="1074" loading="eager">
                </picture>
            </div>
            <div class="slyfv03__img02 scroll-up">
                <picture>
                    <source srcset="{{ 'img_feature-slyfv03c.webp' | file_url }}"
                        type="image/webp">
                    <img src="{{ 'img_feature-slyfv03c.png' | file_url }}" alt="MICHI X SLY"
                        width="1136" height="86" loading="eager">
                </picture>
            </div>
            <p class="slyfv03__ttl scroll-up02">FIX LIP BALM</p>
            <p class="slyfv03__txt">
                ほんのりスモーキーな上品ローズピンク。<br>華やかさとクールさを兼ね備えたカラー。
            </p>
        </div>
        <div class="slyfv04">
            MICHI X SLY
        </div>
        <div class="slyfv05 load-fade">
            <p class="slyfv05__feature">VELVET FIX LIP BALM MICHIXSLY</p>
            <div class="slyfv05__img">
                <picture>
                    <source srcset="{{ 'img_feature-slyfv05b.webp' | file_url }}"
                        type="image/webp">
                    <img src="{{ 'img_feature-slyfv05b.png' | file_url }}" alt="MICHI X SLY"
                        width="1136" height="1110" loading="eager">
                </picture>
            </div>
            <div class="slyfv05__img02 scroll-up">
                <picture>
                    <source srcset="{{ 'img_feature-slyfv05c.webp' | file_url }}"
                        type="image/webp">
                    <img src="{{ 'img_feature-slyfv05c.png' | file_url }}" alt="MICHI X SLY"
                        width="1136" height="86" loading="eager">
                </picture>
            </div>
            <p class="slyfv05__ttl scroll-up02">FIX LIP BALM</p>
            <p class="slyfv05__txt">
                カジュアルもモードも自由自在な洗練ブラウン。<br>塗るだけでこなれ感が手に入る一色。
            </p>
        </div>
        
        {% render 'perseripproduct01new' %}

        <div class="rip04">
            <p class="rip04__txt">
                <img src="{{ 'rip04_txt-br.svg' | file_url }}" alt="MICHI X SLY" width="2646"
                height="30" loading="eager" class="">
                <img src="{{ 'rip04_txt-br.svg' | file_url }}" alt="MICHI X SLY" width="2646"
                height="30" loading="eager" class="">
            </p>
            <figure class="rip04__img">
                <img src="{{ 'item_04Slyrip.png' | file_url }}" alt="MICHI X SLY" width="390"
                 height="290" loading="eager" class="">

            </figure>
        </div>


        <!-- {% render 'perseripproduct02bold' %} -->
        {% render 'perseripproduct02a' %}

        <!-- Vigansly説明 -->
        <div class="sly">
            <div class="sly__inner">
                <div class="sly__inner--fv">
                    <div class="sly__picture load-fade">
                        <p class="sly__picture--img scroll-up">
                            <img src="{{ 'img_slyintro.svg' | file_url }}" alt="MICHI X SLY" width="447"
                            height="203" loading="eager" class="">
                        </p>
                    </div>
                    <div class="sly__intro01 load-fade">
                        <div class="sly__intro01--picture">
                            <picture>
                                <source srcset="{{ 'img_sly-intro01.webp' | file_url }}"
                                    type="image/webp">
                                <img src="{{ 'img_sly-intro01.png' | file_url }}" alt="MICHI X SLY"
                                    width="1136" height="1200" loading="eager">
                            </picture>
                        </div>
                        <p class="sly__intro01--ttl scroll-up">PINK MAUVETTE</p>
                        <p class="sly__intro01--txt scroll-up02">Tomorrow, you'll be.....</p>
                    </div>

                    <div class="sly__intro02 load-fade">
                        <div class="sly__intro02--picture scroll-up">
                            <picture>
                                <source srcset="{{ 'img_sly-intro02.webp' | file_url }}"
                                    type="image/webp">
                                <img src="{{ 'img_sly-intro02.jpg' | file_url }}" alt="MICHI X SLY"
                                    width="620" height="820" loading="eager">
                            </picture>
                        </div>
                        <div class="sly__intro02--picture02 scroll-up03">
                            <picture>
                                <source srcset="{{ 'img03_sly-intro02.webp' | file_url }}"
                                    type="image/webp">
                                <img src="{{ 'img03_sly-intro02.png' | file_url }}" alt="MICHI X SLY"
                                    width="1136" height="1488" loading="eager">
                            </picture>
                        </div>
                        <figure class="sly__intro02--figure scroll-up02">
                            <picture>
                                <source srcset="{{ 'img02_sly-intro02.webp' | file_url }}"
                                    type="image/webp">
                                <img src="{{ 'img02_sly-intro02.png' | file_url }}" alt="MICHI X SLY"
                                    width="436" height="884" loading="eager">
                            </picture>
                        </figure>
                
                    </div>
                    <div class="sly__intro03 load-fade">
                        <div class="sly__intro03--picture">
                            <picture>
                                <source srcset="{{ 'img_sly-intro03.webp' | file_url }}"
                                    type="image/webp">
                                <img src="{{ 'img_sly-intro03.jpg' | file_url }}" alt="MICHI X SLY"
                                    width="952" height="1288" loading="eager">
                            </picture>
                        </div>
                        <p class="sly__intro03--ttl scroll-up">BRICK BROWN</p>
                        

                        <div class="sly__intro03--picture03 scroll-up03">
                            <picture>
                                <source srcset="{{ 'img03_sly-intro03.webp' | file_url }}"
                                    type="image/webp">
                                <img src="{{ 'img03_sly-intro03.jpg' | file_url }}" alt="MICHI X SLY"
                                    width="658" height="862" loading="eager">
                            </picture>
                        </div>

                        <div class="sly__intro03--picture02 scroll-up02">
                            <picture>
                                <source srcset="{{ 'img02_sly-intro03.webp' | file_url }}"
                                    type="image/webp">
                                <img src="{{ 'img02_sly-intro03.png' | file_url }}" alt="MICHI X SLY"
                                    width="500" height="624" loading="eager">
                            </picture>
                        </div>
                    </div>

                    <div class="sly__intro04 load-fade">
                        <div class="sly__intro04--picture scroll-up">
                            <picture>
                                <source srcset="{{ 'img01_sly-intro04.webp' | file_url }}"
                                    type="image/webp">
                                <img src="{{ 'img01_sly-intro04.jpg' | file_url }}" alt="MICHI X SLY"
                                    width="558" height="782" loading="eager">
                            </picture>
                        </div>

                        <div class="sly__intro04--picture scroll-up02">
                            <picture>
                                <source srcset="{{ 'img02_sly-intro04.webp' | file_url }}"
                                    type="image/webp">
                                <img src="{{ 'img02_sly-intro04.jpg' | file_url }}" alt="MICHI X SLY"
                                    width="558" height="782" loading="eager">
                            </picture>
                    </div> 
                </div>

            </div>
        </div>
        

        {% render 'perseripproduct02' %}

        <section class="seibunrN">
            <div class="seibunrN__inner">
                <div class="rnVigan__accordion">
                    <h3 class="rnVigan__accordion--ttl">全成分</h3>
                    <div class="rnVigan__accordion--cnt">
                        <p class="rnVigan__accordion--txt">
                            #06 PINK MAUVETTE：ジメチコン、トリメチルシロキシケイ酸、フェニルトリメチコン、マイクロクリスタリンワックス、パラフィン、合成ワックス、シリカ、ビスジグリセリルポリアシルアジペート－２、カプリリルメチコン、イソエイコサン、（ビニルジメチコン／メチコンシルセスキオキサン）クロスポリマー、トリベヘニン、ポリプロピルシルセスキオキサン、リンゴ酸ジイソステアリル、トリイソステアリン酸ポリグリセリル－２、アジピン酸ジブチル、酸化チタン、ダイマージリノール酸ジオクチルドデシル、合成フルオロフロゴパイト、（セバシン酸／イソパルミチン酸）ジグリセリル、酸化鉄（CI 77491）、ジステアルジモニウムヘクトライト、メントール、黄５、赤２０２、乳酸メンチル、ステアロイルグルタミン酸２Ｎａ、ジイソステアリン酸ポリグリセリル－２、赤２２７、トリエトキシカプリリルシラン、クエン酸トリエチル、プロパンジオール、青１、赤２１８、トコフェロール、アーモンド油、ホホバ種子油、テオブロマグランジフロルム種子脂<br><br>
                            #07 BRICK BROWN：ジメチコン、トリメチルシロキシケイ酸、フェニルトリメチコン、マイクロクリスタリンワックス、パラフィン、合成ワックス、シリカ、ビスジグリセリルポリアシルアジペート－２、カプリリルメチコン、イソエイコサン、（ビニルジメチコン／メチコンシルセスキオキサン）クロスポリマー、トリベヘニン、トリイソステアリン酸ポリグリセリル－２、ポリプロピルシルセスキオキサン、アジピン酸ジブチル、ダイマージリノール酸ジオクチルドデシル、酸化鉄（CI 77491）、合成フルオロフロゴパイト、（セバシン酸／イソパルミチン酸）ジグリセリル、酸化鉄（CI 77492）、酸化鉄（CI 77499）、リンゴ酸ジイソステアリル、マイカ、ジステアルジモニウムヘクトライト、メントール、乳酸メンチル、ステアロイルグルタミン酸２Ｎａ、トリエトキシカプリリルシラン、クエン酸トリエチル、プロパンジオール、赤２１８、トコフェロール、アーモンド油、ホホバ種子油、テオブロマグランジフロルム種子脂
                        </p>
                        <h4 class="rnVigan__accordion--close">CLOSE</h4>

                    </div>
                </div>
            </div>
        </section>

        {% render 'perseripproduct03' %}


    </div>
    <section class="vitaOthers">
        <h2 class="vitaOthers__ttl">OTHERS</h2>
        <div class="vitaOthers__for06">
            <div class="vitaOthers__inner">
                <div class="vitaOthers__blc">
                    <a href="{{ routes.root_url }}products/michixsly-velvet-fix-lip-balm?variant=43798185935084&aaa=007/">
                        <picture>
                            <source srcset="{{ 'img_other-rip07.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'img_other-rip07.png' | file_url }}" alt="OtherItems01" width="520"
                                height="672" loading="eager">
                        </picture>
                    </a>
                    <p class="vitaOthers__name">ベルベット フィックス リップバーム<br>07 ブリックブラウン</p>
                    <p class="vitaOthers__price">¥1,680<span> ( inc.tax )</span></p>
                </div>

                <div class="vitaOthers__blc">
                    <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">
                        <picture>
                            <source srcset="{{ 'img_other-vita03.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'img_other-vita03.png' | file_url }}" alt="OtherItems01" width="520"
                                height="672" loading="eager">
                        </picture>
                    </a>
                    <p class="vitaOthers__name">ベルベット フィックス リップバーム<br>01 ヌードローズ</p>
                    <p class="vitaOthers__price">¥1,680<span> ( inc.tax )</span></p>
                </div>
                <div class="vitaOthers__blc">
                    <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/">
                        <picture>
                            <source srcset="{{ 'img_other-rip02.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'img_other-rip02.png' | file_url }}" alt="OtherItems01" width="520"
                                height="672" loading="eager">
                        </picture>
                    </a>
                    <p class="vitaOthers__name">ベルベット フィックス リップバーム<br>02 イノセントレッド</p>
                    <p class="vitaOthers__price">¥1,680<span> ( inc.tax )</span></p>
                </div>


            </div>
        </div>

        <div class="vitaOthers__for07">
            <div class="vitaOthers__inner">
                <div class="vitaOthers__blc">
                    <a href="{{ routes.root_url }}products/michixsly-velvet-fix-lip-balm">
                        <picture>
                            <source srcset="{{ 'img_other-rip06.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'img_other-rip06.png' | file_url }}" alt="OtherItems01" width="520"
                                height="672" loading="eager">
                        </picture>
                    </a>
                    <p class="vitaOthers__name">ベルベット フィックス リップバーム<br>06 ピンクモーベット</p>
                    <p class="vitaOthers__price">¥1,680<span> ( inc.tax )</span></p>
                </div>

                <div class="vitaOthers__blc">
                    <a href="{{ routes.root_url }}products/velvetfixlipbalm-frenchbrown/">
                        <picture>
                            <source srcset="{{ 'img_rnRip05-others.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'img_rnRip05-others.png' | file_url }}" alt="OtherItems01" width="520"
                                height="672" loading="eager">
                        </picture>
                    </a>
                    <p class="vitaOthers__name">ベルベット フィックス リップバーム<br>05 フレンチブラウン</p>
                    <p class="vitaOthers__price">¥1,680<span> ( inc.tax )</span></p>
                </div>
                <div class="vitaOthers__blc">
                    <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown/">
                        <picture>
                            <source srcset="{{ 'img_rnRip04-others.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'img_rnRip04-others.png' | file_url }}" alt="OtherItems01" width="520"
                                height="672" loading="eager">
                        </picture>
                    </a>
                    <p class="vitaOthers__name">ベルベット フィックス リップバーム<br>04 アーモンドブラウン</p>
                    <p class="vitaOthers__price">¥1,680<span> ( inc.tax )</span></p>
                </div>


            </div>
        </div>
    </section>
</div>

