
<nav class="newgmenu">
    <p class="newgmenu__logo">
        <a href="{{ routes.root_url }}" class="perseFooterLogo">perse producede by yoshiaki & michi</a>
    </p>
    <div class="newgmenu__inner">

        <div class="newgmenu__product">
            <h2 class="newgmenu__product--ttl">Products</h2>
            <div class="newgmenu__product--inblc">
                <div class="newgmenu__product--blc">
                    <h3 class="newgmenu__product--subttl">Color Make Up<span class=""></span></h3>
                    <div class="newgmenu__product--slide">
                         <p class="newgmenu__product--link-ttl">The Skin Eyeshadow Palette</p>
                        <div class="newgmenu__product--linkblc">
                            <a href="{{ routes.root_url }}products/skineyeshadow-01rosymood/">01 ROSY MOOD</a>
                            <a href="{{ routes.root_url }}products/skineyeshadow-02ambermood/">02 AMBER MOOD</a>
                        </div>
                        <a href="{{ routes.root_url }}products/">Velvet Fix Lip Balms</a>
                    </div>

                </div>


                <div class="newgmenu__product--blc">
                    <p class="newgmenu__product--subttl">
                        Color Contact Lenses<span class=""></span>
                    </p>
                    <div class="newgmenu__product--slide">
                        <a href="{{ routes.root_url }}products/nudie-beige/">01 NUDIE BEIGE</a>
                        <a href="{{ routes.root_url }}products/teddy-brown/">02 TEDDY BROWN</a>
                        <a href="{{ routes.root_url }}products/air-gray/">03 AIR GRAY</a>
                        <a href="{{ routes.root_url }}products/palm-green/">04 PALM GREEN</a>
                    </div>
                </div>

                <div class="newgmenu__product--blc">
                    <p class="active newgmenu__product--subttl">
                        Base Make Up<span class=""></span>
                    </p>
                    <div class="newgmenu__product--slide">
                        <a href="{{ routes.root_url }}products/">Vegan Vita Sun Serum</a>
                        <a href="{{ routes.root_url }}products/">Vegan Vita Filter Powder</a>
                        <a href="{{ routes.root_url }}products/">Vegan Vita Tone Up Base</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="newgmenu__links">
            <ul class="newgmenu__links--leftL">
                <li><a href="/pages/about/">About</a></li>
                <li><a href="{{ routes.root_url }}cart/">Cart</a></li>
                <li><a href="{{ routes.root_url }}pages/contact/">Contact</a></li>
                <li><a href="https://perse-official.com" target="_blank" rel="noopener noreferrer">Official web site</a>
                </li>
            </ul>
            <ul class="newgmenu__links--sns">
                <li>
                    <a href="https://twitter.com/perseofficial" target="_blank"
                        class="newgmenu__links--snslist-twitter">Twitter</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/perse_lens/" target="_blank"
                        class="newgmenu__links--snslist-insta">Instagram</a>
                </li>
                <li>
                    <a href="https://page.line.me/?accountId=perse_official" target="_blank"
                        class="newgmenu__links--snslist-line">Line</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCiJkV6aSJpX9xEJUu00tVlw" target="_blank"
                        class="newgmenu__links--snslist-youtube">Youtube</a>
                </li>
            </ul>
        </div>
    </div>

</nav>