
<nav class="newgmenu">
    <p class="newgmenu__logo">
        <a href="{{ routes.root_url }}" class="perseFooterLogo">perse producede by yoshiaki & michi</a>
    </p>
    <div class="newgmenu__inner">

        <div class="newgmenu__product">
            <h2 class="newgmenu__product--ttl">Products</h2>
            <div class="newgmenu__product--inblc">
                <div class="newgmenu__product--blc active">
                    <h3 class="newgmenu__product--subttl">Color Make Up<span class=""></span></h3>
                    <div class="newgmenu__product--slide">
                         <p class="newgmenu__product--link-ttl">The Skin Eyeshadow Palette</p>
                        <div class="newgmenu__product--linkblc">
                            <a href="{{ routes.root_url }}products/skineyeshadow-01rosymood/">01 ROSY MOOD</a>
                            <a href="{{ routes.root_url }}products/skineyeshadow-02ambermood/">02 AMBER MOOD</a>
                        </div>
                        <a >Velvet Fix Lip Balms</a>
                        <div class="newgmenu__product--linkblc">
                            <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">01 NUDE ROSE</a>
                            <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/">02 INNOCENT RED</a>
                            <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange/">03 CHILI ORANGE</a>
                            <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown/">04 ALMOND BROWN</a>
                            <a href="{{ routes.root_url }}products/velvetfixlipbalm-frenchbrown/">05 FRENCH BROWN</a>
                            <a href="{{ routes.root_url }}products/michixsly-velvet-fix-lip-balm/">06 PINK MAUVETTE</a>
                            <a href="{{ routes.root_url }}products/michixsly-velvet-fix-lip-balm?variant=43784364523756&aaa=007/">07 BRICK BROWN</a>
                        </div>
                    </div>

                </div>
                <div class="newgmenu__product--blc active">
                    <p class="active newgmenu__product--subttl">
                        Base Make Up<span class=""></span>
                    </p>
                    <div class="newgmenu__product--slide">
                        {% comment %} <p class="newgmenu__product--stxt">Vegan Vita Sun Serum</p>
                        <p class="newgmenu__product--stxt">Vegan Vita Filter Powder</p>
                        <p class="newgmenu__product--stxt">Vegan Vita Tone Up Base</p> {% endcomment %}
                       <a href="{{ routes.root_url }}products/vegan-vita-sun-serum/">Vegan Vita Sun Serum</a>
                        <a href="{{ routes.root_url }}products/vegan-vita-filter-powder">Vegan Vita Filter Powder</a>
                        <a href="{{ routes.root_url }}products/vegan-vita-tone-up-base/">Vegan Vita Tone Up Base</a>
                    </div>
                </div>

                <div class="newgmenu__product--blc active">
                    <p class="newgmenu__product--subttl">
                        Color Contact Lenses<span class=""></span>
                    </p>
                    <div class="newgmenu__product--slide">
                        <a href="{{ routes.root_url }}products/nudie-beige/">01 NUDIE BEIGE</a>
                        <a href="{{ routes.root_url }}products/teddy-brown/">02 TEDDY BROWN</a>
                        <a href="{{ routes.root_url }}products/air-gray/">03 AIR GRAY</a>
                        <a href="{{ routes.root_url }}products/palm-green/">04 PALM GREEN</a>
                    </div>
                </div>


            </div>
        </div>


        <div class="newgmenu__links">
            <ul class="newgmenu__links--leftL">
                <li><a href="/pages/about/">About</a></li>
                <li><a href="{{ routes.root_url }}cart/">Cart</a></li>
                <li><a href="{{ routes.root_url }}pages/contact/">Contact</a></li>
                <li><a href="https://perse-official.com" target="_blank" rel="noopener noreferrer">Official web site</a>
                </li>
            </ul>
            <ul class="newgmenu__links--sns">
                <li>
                    <a href="https://twitter.com/perseofficial" target="_blank"
                        class="newgmenu__links--snslist-twitter">Twitter</a>
                </li>

                <li class="contactInsta">
                    <a href="https://www.instagram.com/perse_lens/" target="_blank"
                        class="newgmenu__links--snslist-insta">Instagram</a>
                </li>


                <li class="originInsta">
                    <a href="https://www.instagram.com/perseofficial/" target="_blank"
                        class="newgmenu__links--snslist-insta">Instagram</a>
                </li>

                <li>
                    <a href="https://page.line.me/?accountId=perse_official" target="_blank"
                        class="newgmenu__links--snslist-line">Line</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCiJkV6aSJpX9xEJUu00tVlw" target="_blank"
                        class="newgmenu__links--snslist-youtube">Youtube</a>
                </li>
            </ul>
        </div>
    </div>

</nav>