<div class="clenz__exp04">
    <h2 class="clenz__exp04--ttl">LENS FEATURE</h2>
    <ul class="clenz__exp04--list">
        <li>
            <figure class="clenz__exp04--listimg">
                <img src="{{ 'img_lenzfeature01.svg' | file_url }}" alt="UVカット" width="auto" height="auto" loading="lazy">
            </figure>
            <div class="clenz__exp04--txtblc">
                <h3 class="clenz__exp04--subttl">UVカット</h3>
                <p class="clenz__exp04--txt">肌や瞳に有害といわれ、白内障などの眼病を引き起こす危険性のある紫外線を99％カットします。</p>
                <p class="clenz__exp04--note">※UV-A波75%、UV-B波99%カット</p>
            </div>
        </li>
        <li>
            <figure class="clenz__exp04--listimg">
                <img src="{{ 'img_lenzfeature02.svg' | file_url }}" alt="高含水" width="auto" height="auto" loading="lazy">
            </figure>
            <div class="clenz__exp04--txtblc">
                <h3 class="clenz__exp04--subttl">高含水</h3>
                <p class="clenz__exp04--txt">水分が多く含むやわらかい素材で、瞳に違和感なく快適なつけ心地です。</p>
                <p class="clenz__exp04--note">※装用感には個人差があります。</p>
            </div>
        </li>
        <li>
            <figure class="clenz__exp04--listimg">
                <img src="{{ 'img_lenzfeature03.svg' | file_url }}" alt="イオン性" width="auto" height="auto" loading="lazy">
            </figure>
            <div class="clenz__exp04--txtblc">
                <h3 class="clenz__exp04--subttl">イオン性</h3>
                <p class="clenz__exp04--txt">脂質汚れが付きにくく、⽔分を多く含み酸素を通しやすいため瞳への負担が少なく、快適な装用感です。</p>
            </div>
        </li>
        <li>
            <figure class="clenz__exp04--listimg">
                <img src="{{ 'img_lenzfeature04.svg' | file_url }}" alt="サンドイッチ構造" width="auto" height="auto" loading="lazy">
            </figure>
            <div class="clenz__exp04--txtblc">
                <h3 class="clenz__exp04--subttl">サンドイッチ構造</h3>
                <p class="clenz__exp04--txt">色素が直接瞳とまぶたに触れることがないレンズ構造を採用しています。</p>
            </div>
        </li>
        <li>
            <figure class="clenz__exp04--listimg">
                <img src="{{ 'img_lenzfeature05.svg' | file_url }}" alt="レンズ形状" width="auto" height="auto" loading="lazy">
            </figure>
            <div class="clenz__exp04--txtblc">
                <h3 class="clenz__exp04--subttl">レンズ形状</h3>
                <p class="clenz__exp04--txt">フチを丸みのある形状にすることで自然な装用感を実現しました。</p>
            </div>
        </li>
    </ul>

</div>
</div>

<div class="clenz__exp05">
    <p class="clenz__exp05--txt"> 
        <img src="{{ 'clenz05_expTxt.svg' | file_url }}" alt="Tomorrow, You will be better than you are. Let your sensitivity wherever your heart takes you. Find hidden your own beauty within yourself. Meet a new you with perse." width="auto" height="auto" loading="lazy">
        <img src="{{ 'clenz05_expTxt.svg' | file_url }}" alt="Tomorrow, You will be better than you are. Let your sensitivity wherever your heart takes you. Find hidden your own beauty within yourself. Meet a new you with perse." width="auto" height="auto" loading="lazy">
    </p>
</div>
<div class="clenz__inner">

<div class="clenz__exp06"> 
    <h2 class="clenz__exp06--ttl"><span>LENS SPEC</span></h2>
    <table class="clenz__exp06--table" cellspacing="0" border-spacing="0">
        <tbody>
        <tr>
            <td class="clenz__exp06--td1 topLeft"><p>ブランド名</p></td>
            <td class="clenz__exp06--td2 topRight">perse</td>
        </tr>
        <tr>
            <td class="clenz__exp06--td1"><p>1箱入数</p></td>
            <td class="clenz__exp06--td2">10枚</td>
        </tr>
        <tr>
            <td class="clenz__exp06--td1"><p>BC</p></td>
            <td class="clenz__exp06--td2">8.6mm</td>
        </tr>
        <tr>
            <td class="clenz__exp06--td1"><p>含水率</p></td>
            <td class="clenz__exp06--td2">55%</td>
        </tr>
        <tr>
            <td class="clenz__exp06--td1"><p>承認番号</p></td>
            <td class="clenz__exp06--td2">22900BZX00118000</td>
        </tr>
        <tr>
            <td class="clenz__exp06--td1"><p>使用期限</p></td>
            <td class="clenz__exp06--td2">終日装用、一日交換</td>
        </tr>
        <tr>
            <td class="clenz__exp06--td1"><p>度数</p></td>
            <td class="clenz__exp06--td2">0.00D、-0.50D～-10.00D<br>
                （-6.50D以上は0.50D刻み）　</td>
        </tr>
        <tr>
            <td class="clenz__exp06--td1"><p>DIA</p></td>
            <td class="clenz__exp06--td2">14.2mm</td>
        </tr>
        <tr>
            <td class="clenz__exp06--td1 bottomLeft"><p>販売名</p></td>
            <td class="clenz__exp06--td2 bottomRight">ピアコンタクトアクア</td>
        </tr>
    </tbody>
    </table>
</div>

<div class="youtube__wrapper">
<div class="youtube">
    <iframe width="" height="" src="https://www.youtube.com/embed/40j8Enn7Qfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
</div>

<div class="clenz__exp07">
    <h2 class="clenz__exp07--ttl"><span>ご使用上のポイント</span></h2>
    <ul class="clenz__exp07--list">
        <li>&nbsp;&nbsp;コンタクトレンズは高度管理医療機器です。</li>
        <li>&nbsp;&nbsp;必ず眼科医の指示に従い正しくご使用下さい。</li>
        <li>&nbsp;&nbsp;定期検査を必ず受けて下さい。</li>
        <li>&nbsp;&nbsp;装用時間・期間を正しくお守り下さい。</li>
        <li>&nbsp;&nbsp;ご使用の前に必ず添付文書を読み、取り扱い方法を守り、正しくご使用下さい。</li>
        <li>&nbsp;&nbsp;少しでも異常を感じたら、直ちに眼科医の検査を受けて下さい。</li>
        <li>&nbsp;&nbsp;破損などのあるレンズは絶対に使用しないで下さい。</li>         
    </ul>
</div>