<div class="newindex" id="newindex">

    <section class="fvRn" id="fvRn">
        <!-- Slider main container -->
        <div class="fvRnSwipe" id="fvRnSwipe">

            <div class="mySwiper fvRnslick" style="position: relative;">
                <div class="swiper-wrapper" style="height: auto;background: #E5D7AA;">
                    <div class="fvRnSlick__blc swiper-slide"  style="position: relative;">
                        <div class="pc">
                            <picture>
                                <source srcset="{{ 'fv_new03-pcmod02.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'fv_new03-pcmod02.jpg' | file_url }}" alt="The Skin Eyeshadow Palette"
                                    width="2560" height="1672" loading="eager">
                            </picture>
                        </div>
                        <div class="sp">
                            <picture>
                                <source srcset="{{ 'fv_new03-spmod03.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'fv_new03-spmod03.jpg' | file_url }}" alt="The Skin Eyeshadow Palette"
                                    width="1500" height="2310" loading="eager">
                            </picture>
                        </div>
                        <p class="fvRnSlick__vita">Vegan Vita Collection</p>
                        <p class="fvRnSlick__txt">9種類のビタミンを配合した<br>新⽣ビタミンベースメイク</p>
                        <a href="{{ routes.root_url }}products/vegan-vita-sun-serum"
                            class="fvRnSlick__more">MORE</a>
                    </div>
                    <div class="fvRnSlick__blc swiper-slide"  style="position: relative;">
                        <div class="pc">
                            <picture>
                                <source srcset="{{ 'fv_new01-pcmod02.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'fv_new01-pcmod02.jpg' | file_url }}" alt="Vegan Vita Collection"
                                    width="2560" height="1672" loading="eager">
                            </picture>
                        </div>
                        <div class="sp">
                            <picture>
                                <source srcset="{{ 'fv_new01-spmod03.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'fv_new01-spmod03.jpg' | file_url }}" alt="Vegan Vita Collection"
                                    width="1500" height="2310" loading="eager">
                            </picture>
                        </div>
                        <p class="fvRnSlick__slyrip">The Skin Eye Shadow Pallete</p>
                        <p class="fvRnSlick__txt">MICHIXSLYとの<br>限定色が新登場</p>

                        <a href="{{ routes.root_url }}products/michixsly-velvet-fix-lip-balm/"
                            class="fvRnSlick__more">MORE</a>
                    </div>
                    <div class="fvRnSlick__blc swiper-slide"  style="position: relative;">
                        <div class="pc">
                            <picture>
                                <source srcset="{{ 'fv_new02-pcmod02.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'fv_new02-pcmod02.jpg' | file_url }}" alt="The Skin Eyeshadow Palette"
                                    width="2560" height="1672" loading="eager">
                            </picture>
                        </div>
                        <div class="sp">
                            <picture>
                                <source srcset="{{ 'fv_new02-spmod03.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'fv_new02-spmod03.jpg' | file_url }}" alt="The Skin Eyeshadow Palette"
                                    width="1500" height="2310" loading="eager">
                            </picture>
                        </div>
                        <p class="fvRnSlick__eyeShadow">The Skin Eye Shadow Pallete</p>
                        <p class="fvRnSlick__txt">洗練された質感と色が肌に溶け込み<br>きらめく上質な目元に</p>
                        <a href="{{ routes.root_url }}products/skineyeshadow-01rosymood"
                            class="fvRnSlick__more">MORE</a>

                    </div>

                </div>
                <div class="swiper-pagination fvRnslickpagenation" style=""></div>

            </div>
            {% comment %} <div class="swiper mySwiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="pc">
                            <picture>
                                <source srcset="{{ 'img_rnfv01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_rnfv01.jpg' | file_url }}" alt="Vegan Vita Collection" width="2560"
                                    height="1670" loading="eager">
                            </picture>
                        </div>
                        <div class="sp">
                            <picture>
                                <source srcset="{{ 'img_rnfv01-sp.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_rnfv01-sp.jpg' | file_url }}" alt="Vegan Vita Collection" width="1500"
                                    height="2310" loading="eager">
                            </picture>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="pc">
                            <picture>
                                <source srcset="{{ 'img_rnfv02.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_rnfv02.jpg' | file_url }}" alt="The Skin Eyeshadow Palette"
                                    width="2560" height="1670" loading="eager">
                            </picture>
                        </div>
                        <div class="sp">
                            <picture>
                                <source srcset="{{ 'img_rnfv02-sp.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_rnfv02-sp.jpg' | file_url }}" alt="The Skin Eyeshadow Palette"
                                    width="1500" height="2310" loading="eager">
                            </picture>
                        </div>
                    </div>

                </div>


                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev fvRnSwipe-button-prev"></div>
                <div class="swiper-button-next fvRnSwipe-button-next">MORE</div>
            </div> {% endcomment %}
        </div>



    </section>

    <section class="rnRecom">
        <div class="rnRecom__inner">
            <h2 class="rnRecom__ttl">Recommend</h2>
            <div class="rnRecom__list">
                <div class="rnRecom__prob">
                    <a href="{{ routes.root_url }}products/skineyeshadow-01rosymood">
                        <picture class="rnRecom__prob--img">
                            <source srcset="{{ 'img_nRec01eye.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'img_nRec01eye.png' | file_url }}"
                                alt="The Skin Eyeshadow Palette 02 Amber Mood" width="264" height="264" loading="eager">
                        </picture>
                        <div class="rnRecom__pro--name-wrapper">
                            <p class="rnRecom__pro--name">The Skin Eyeshadow Palette<br>
                            01 ROSY MOOD</p>
                        </div>
                        <p class="rnRecom__pro--price"><span>BUY</span></p>
                    </a>
                </div>
                <div class="rnRecom__prob">
                    <a href="{{ routes.root_url }}products/skineyeshadow-02ambermood/">
                        <picture class="rnRecom__prob--img">
                            <source srcset="{{ 'img_nRec02eye.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'img_nRec02eye.png' | file_url }}"
                                alt="The Skin Eyeshadow Palette 02 Amber Mood" width="264" height="264" loading="eager">
                        </picture>
                        <div class="rnRecom__pro--name-wrapper">
                            <p class="rnRecom__pro--name">The Skin Eyeshadow Palette<br>
                            02 AMBER MOOD</p>
                        </div>
                        <p class="rnRecom__pro--price"><span>BUY</span></p>
                    </a>
                </div>
                <div class="rnRecom__prob">
                    <a href="{{ routes.root_url }}products/michixsly-velvet-fix-lip-balm/">
                        <picture class="rnRecom__prob--img">
                            <source srcset="{{ 'img_nRec01rip.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'img_nRec01rip.png' | file_url }}"
                                alt="The Skin Eyeshadow Palette 02 Amber Mood" width="264" height="264" loading="eager">
                        </picture>
                        <div class="rnRecom__pro--name-wrapper">
                            <p class="rnRecom__pro--name">MICHIXSLY<br>
                                Velvet Fix Lip Balm<br>
                                06 PINK MAUVETTE</p>
                        </div>
                        <p class="rnRecom__pro--price"><span>BUY</span></p>
                    </a>
                </div>
                <div class="rnRecom__prob">
                    <a
                        href="{{ routes.root_url }}products/michixsly-velvet-fix-lip-balm?variant=43798185935084&aaa=007/">
                        <picture class="rnRecom__prob--img">
                            <source srcset="{{ 'img_nRec02rip.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'img_nRec02rip.png' | file_url }}"
                                alt="The Skin Eyeshadow Palette 02 Amber Mood" width="264" height="264" loading="eager">
                        </picture>
                        <div class="rnRecom__pro--name-wrapper">
                            <p class="rnRecom__pro--name">MICHIXSLY<br>
                                Velvet Fix Lip Balm<br>
                                07 BRICK BROWN</p>
                        </div>
                        <p class="rnRecom__pro--price"><span>BUY</span></p>
                    </a>
                </div>

                {% comment %} <div class="rnRecom__pro">
                    <picture>
                        <source srcset="{{ 'img_nRec01.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'img_nRec01.png' | file_url }}" alt="Vegan Vita Sun Serum" width="264" height="264"
                            loading="eager">
                    </picture>
                    <div class="rnRecom__pro--name-wrapper">
                        <p class="rnRecom__pro--name">Vegan Vita<br>
                            Sun Serum</p>
                    </div>
                    <a href="https://perseperse.myshopify.com/cart/43770638500076:1?channel=buy_button"
                        class="rnRecom__pro--price">
                        <span>BUY</span>
                    </a>
                </div>

                <div class="rnRecom__pro">
                    <picture>
                        <source srcset="{{ 'img_nRec02.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'img_nRec02.png' | file_url }}" alt="Vegan Vita Filter Powder" width="264"
                            height="264" loading="eager">
                    </picture>
                    <div class="rnRecom__pro--name-wrapper">
                        <p class="rnRecom__pro--name">Vegan Vita<br>
                            Filter Powder</p>
                    </div>
                    <a href="https://perseperse.myshopify.com/cart/43771979530476:1?channel=buy_button"
                        class="rnRecom__pro--price">
                        <span>BUY</span>
                    </a>
                </div>

                <div class="rnRecom__pro">
                    <picture>
                        <source srcset="{{ 'img_nRec03.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'img_nRec03.png' | file_url }}" alt="Vegan Vita Tone Up Base" width="264"
                            height="264" loading="eager">
                    </picture>
                    <div class="rnRecom__pro--name-wrapper">
                        <p class="rnRecom__pro--name">Vegan Vita<br>
                            Tone Up Base</p>
                    </div>
                    <a href="https://perseperse.myshopify.com/cart/43771382595820:1?channel=buy_button"
                        class="rnRecom__pro--price">
                        <span>BUY</span>
                    </a>
                </div>

                <div class="rnRecom__pro">
                    <picture>
                        <source srcset="{{ 'img_nRec04.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'img_nRec04.png' | file_url }}" alt="The Skin Eyeshadow Palette 01 Rosy Mood"
                            width="264" height="264" loading="eager">
                    </picture>
                    <div class="rnRecom__pro--name-wrapper">
                        <p class="rnRecom__pro--name">The Skin<br>
                            Eyeshadow Palette<br>
                            01 Rosy Mood</p>
                    </div>
                    <a href="https://perseperse.myshopify.com/cart/43637613592812:1?channel=buy_button"
                        class="rnRecom__pro--price">
                        <span>BUY</span>
                    </a>
                </div>

                <div class="rnRecom__pro">
                    <picture>
                        <source srcset="{{ 'img_nRec05.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'img_nRec05.png' | file_url }}" alt="The Skin Eyeshadow Palette 02 Amber Mood"
                            width="264" height="264" loading="eager">
                    </picture>
                    <div class="rnRecom__pro--name-wrapper">
                        <p class="rnRecom__pro--name">The Skin<br>
                            Eyeshadow Palette<br>
                            02 Amber Mood</p>
                    </div>
                    <a href="https://perseperse.myshopify.com/cart/43637622341868:1?channel=buy_button"
                        class="rnRecom__pro--price">
                        <span>BUY</span>
                    </a>
                </div> {% endcomment %}

            </div>
        </div>
    </section>


    <section class="allproRn">
        <h2 class="allproRn__ttl">All Products</h2>
        <div class="allproRn__inner">
            <div class="load-fade">
                <div class="allproRn__picture">
                    <picture>
                        <source srcset="{{ 'img_allproRn01.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'img_allproRn01.jpg' | file_url }}"
                            alt="The Skin Eye Shadow Palette Velvet Fix Lip Balm" width="1040" height="1316"
                            loading="eager">
                    </picture>
                    <p class="allproRn__mekeup01 scroll-up">Color Make Up</p>
                    <p class="allproRn__mekeup02 scroll-up02">The Skin Eye Shadow Palette<br>
                        Velvet Fix Lip Balm</p>
                </div>
            </div>


            <div class="allproRn__cr">
                <!-- //リップ -->
                <div class="allproRn__cr--ch tag">
                    <h3 class="allproRn__cr--ttl-new">NEW</h3>

                    {% comment %} <h3 class="allproRn__cr--ttl-recom">RECOMMEND</h3> {% endcomment %}
                    <div class="allproRn__swiper--wrapperr">
                        <div class="swiper_makeup02 swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">

                                        <div class="allproRn__swiper--img">
                                            <img src="{{ 'img_makeup02-01.png' | file_url }}"
                                                alt="ベルベットフィックス リップバーム 01" width="296" height="296" loading="eager">
                                        </div>
                                        <div class="allproRn__swiper--wttl">
                                            <p class="allproRn__swiper--ttl">ベルベットフィックス<br>
                                                リップバーム<br>
                                                01 ヌードローズ</p>
                                        </div>
                                        <p class="allproRn__swiper--price">¥1,680 <span>( inc.tax )</span></p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/">

                                        <div class="allproRn__swiper--img">
                                            <img src="{{ 'img_makeup02-02.png' | file_url }}"
                                                alt="ベルベットフィックス リップバーム 02" width="296" height="296" loading="eager">
                                        </div>
                                        <div class="allproRn__swiper--wttl">
                                            <p class="allproRn__swiper--ttl">ベルベットフィックス<br>
                                                リップバーム<br>
                                                02 イノセントレッド</p>
                                        </div>
                                        <p class="allproRn__swiper--price">¥1,680 <span>( inc.tax )</span></p>
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange/">

                                        <div class="allproRn__swiper--img">
                                            <img src="{{ 'img_makeup02-03.png' | file_url }}"
                                                alt="ベルベットフィックス リップバーム 03" width="296" height="296" loading="eager">
                                        </div>
                                        <div class="allproRn__swiper--wttl">
                                            <p class="allproRn__swiper--ttl">ベルベットフィックス<br>
                                                リップバーム<br>
                                                03 チリオレンジ</p>
                                        </div>
                                        <p class="allproRn__swiper--price">¥1,680 <span>( inc.tax )</span></p>
                                    </a>

                                </div>
                                <div class="swiper-slide">
                                    <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown/">

                                        <div class="allproRn__swiper--img">
                                            <img src="{{ 'img_makeup02-04.png' | file_url }}"
                                                alt="ベルベットフィックス リップバーム 04" width="296" height="296" loading="eager">
                                        </div>
                                        <div class="allproRn__swiper--wttl">
                                            <p class="allproRn__swiper--ttl">ベルベットフィックス<br>
                                                リップバーム<br>
                                                04 アーモンドブラウン</p>
                                        </div>
                                        <p class="allproRn__swiper--price">¥1,680 <span>( inc.tax )</span></p>
                                    </a>

                                </div>
                                <div class="swiper-slide">
                                    <a href="{{ routes.root_url }}products/velvetfixlipbalm-frenchbrown/">

                                        <div class="allproRn__swiper--img">
                                            <img src="{{ 'img_makeup02-05.png' | file_url }}"
                                                alt="ベルベットフィックス リップバーム 05" width="296" height="296" loading="eager">
                                        </div>
                                        <div class="allproRn__swiper--wttl">
                                            <p class="allproRn__swiper--ttl">ベルベットフィックス<br>
                                                リップバーム<br>
                                                05 フレンチブラウン</p>
                                        </div>
                                        <p class="allproRn__swiper--price">¥1,680 <span>( inc.tax )</span></p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="{{ routes.root_url }}products/michixsly-velvet-fix-lip-balm/">

                                        <div class="allproRn__swiper--img">
                                            <img src="{{ 'img_makeup02-06.png' | file_url }}"
                                                alt="ベルベットフィックス リップバーム 06" width="296" height="296" loading="eager">
                                        </div>
                                        <div class="allproRn__swiper--wttl">
                                            <p class="allproRn__swiper--ttl">ベルベットフィックス<br>
                                                リップバーム<br>
                                                06 ピンクモーベット</p>
                                        </div>
                                        <p class="allproRn__swiper--price">¥1,680 <span>( inc.tax )</span></p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a
                                        href="{{ routes.root_url }}products/michixsly-velvet-fix-lip-balm?variant=43798185935084&aaa=007/">

                                        <div class="allproRn__swiper--img">
                                            <img src="{{ 'img_makeup02-07.png' | file_url }}"
                                                alt="ベルベットフィックス リップバーム 05" width="296" height="296" loading="eager">
                                        </div>
                                        <div class="allproRn__swiper--wttl">
                                            <p class="allproRn__swiper--ttl">ベルベットフィックス<br>
                                                リップバーム<br>
                                                07 ブリックブラウン</p>
                                        </div>
                                        <p class="allproRn__swiper--price">¥1,680 <span>( inc.tax )</span></p>
                                    </a>
                                </div>
                            </div>

                            <!-- If we need pagination -->
                            <div style="position: relative;" class="allproRn__pagewrapper">
                                <div class="swiper-pagination"></div>
                            </div>

                        </div>
                    </div>
                    {% comment %} allproRn__swiper--wrapperr {% endcomment %}
                </div>
                <!-- アイシャドウ -->
                <div class="allproRn__cr--ch tag">
                    <h3 class="allproRn__cr--ttl-new">NEW</h3>
                    <div class="allproRn__swiper--wrapperr">
                        <div class="swiper_makeup01 swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <a href="{{ routes.root_url }}products/skineyeshadow-01rosymood">
                                        <div class="allproRn__swiper--img">
                                            <img src="{{ 'img_makeup01-01.png' | file_url }}"
                                                alt="The Skin Eye Shadow Palette01" width="296" height="296"
                                                loading="eager">
                                        </div>
                                        <div class="allproRn__swiper--wttl">
                                            <p class="allproRn__swiper--ttl">ザスキン<br>
                                                アイシャドウパレット<br>
                                                01 ロージームード</p>
                                        </div>
                                        <p class="allproRn__swiper--price">¥2,490 <span>( inc.tax )</span></p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="{{ routes.root_url }}products/skineyeshadow-02ambermood/">
                                        <div class="allproRn__swiper--img">
                                            <img src="{{ 'img_makeup01-02.png' | file_url }}"
                                                alt="The Skin Eye Shadow Palette02" width="296" height="296"
                                                loading="eager">
                                        </div>
                                        <div class="allproRn__swiper--wttl">
                                            <p class="allproRn__swiper--ttl">ザスキン<br>
                                                アイシャドウパレット<br>
                                                02 アンバームード</p>
                                        </div>
                                        <p class="allproRn__swiper--price">¥2,490 <span>( inc.tax )</span></p>
                                    </a>
                                </div>

                            </div>
                            <!-- If we need pagination -->
                            <div style="position: relative;" class="allproRn__pagewrapper">
                                <div class="swiper-pagination"></div>
                            </div>

                        </div>
                    </div>
                </div>


                {% comment %} allproRn__cr--ch {% endcomment %}
            </div>



            <!-- ///VITA シリーズ ------------- -->
            <div class="load-fade">
                <div class="allproRn__picture">
                    <picture>
                        <source srcset="{{ 'top_base_main.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'img_allproRn02.jpg' | file_url }}" alt="The ヴィーガンビタ" width="1040" height="1316"
                            loading="eager">
                    </picture>
                    <p class="allproRn__mekeup03 scroll-up">Base Make Up</p>
                    <p class="allproRn__mekeup04 scroll-up">Vegan Vita Sun Serum , Vegan Vita Filter Powder<br>
                        Vegan Vita Tone Up Base </p>
                </div>
            </div>
            <!-- Vita　topイメージ -->
            <div class="allproRn__cr">

                <!-- セラム -->
                <div class="allproRn__cr--ch tag">
                    <h3 class="allproRn__cr--ttl-com">coming soon</h3>
                    <div class="swiper-slide">
                        <span style="display: block;">
                            <a href="{{ routes.root_url }}products/vegan-vita-sun-serum/"> 
                            <div class="allproRn__swiper--img">
                                <img src="{{ 'img_makeup03-01.png' | file_url }}" alt="ヴィーガンビタ セラム" width="296"
                                    height="296" loading="eager">
                            </div>
                            <div class="allproRn__swiper--wttl">
                                <p class="allproRn__swiper--ttl">ヴィーガンビタ<br>
                                    サンセラム<br>SPF50+ PA++++</p>
                            </div>
                            <p class="allproRn__swiper--price">¥2,680 <span>( inc.tax )</span></p>
                        </a>
                        </span>
                    </div>



                </div>

                <!-- トーンアップベース -->
                <div class="allproRn__cr--ch tag">
                    <h3 class="allproRn__cr--ttl-com">coming soon</h3>
                    <div class="swiper-slide">
                        <span style="display: block;">
                            <a href="{{ routes.root_url }}products/vegan-vita-tone-up-base/"> 
                            <div class="allproRn__swiper--img">
                                <img src="{{ 'img_makeup03-02.png' | file_url }}" alt="ヴィーガンビタ トーンアップベース"
                                    width="296" height="296" loading="eager">
                            </div>
                            <div class="allproRn__swiper--wttl">
                                <p class="allproRn__swiper--ttl">ヴィーガンビタ<br>
                                    トーンアップベース<br>SPF50+ PA++++</p>
                            </div>
                            <p class="allproRn__swiper--price">¥2,480 <span>( inc.tax )</span></p>
                        </a>
                        </span>
                    </div>



                </div>

            </div>

            <div class="allproRn__cr">

                <!-- パウダー -->
                <div class="allproRn__cr--ch tag tagbtm">
                    <h3 class="allproRn__cr--ttl-com">coming soon</h3>
                    <div class="allproRn__swiper--wrapperr">
                        <div class="swiper_makeup03 swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <span style="display: block;">
                                     <a href="{{ routes.root_url }}products/vegan-vita-filter-powder?variant=43771979530476"> 
                                        <div class="allproRn__swiper--img">
                                            <img src="{{ 'img_makeup03-03.png' | file_url }}" alt="フィルターパウダー クリア"
                                                width="296" height="296" loading="eager">
                                        </div>
                                        <div class="allproRn__swiper--wttl">
                                            <p class="allproRn__swiper--ttl">ヴィーガンビタ<br>
                                                フィルターパウダー<br>
                                                01 クリア</p>
                                        </div>
                                        <p class="allproRn__swiper--price">¥2,180 <span>( inc.tax )</span></p>
                                    </a>
                                    </span>
                                </div>
                                <div class="swiper-slide">
                                    <span style="display: block;">
                                         <a href="{{ routes.root_url }}products/vegan-vita-filter-powder?variant=43771979563244"> 
                                        <div class="allproRn__swiper--img">
                                            <img src="{{ 'img_makeup03-04.png' | file_url }}"
                                                alt="フィルターパウダー スキンベージュ" width="296" height="296" loading="eager">
                                        </div>
                                        <div class="allproRn__swiper--wttl">
                                            <p class="allproRn__swiper--ttl">ヴィーガンビタ<br>
                                                フィルターパウダー<br>
                                                02 スキンベージュ</p>
                                        </div>
                                        <p class="allproRn__swiper--price">¥2,180 <span>( inc.tax )</span></p>
                                    </a>
                                    </span>
                                </div>

                            </div>
                            <!-- If we need pagination -->
                            <div style="position: relative;" class="allproRn__pagewrapper">
                                <div class="swiper-pagination"></div>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- 限定セット -->
                <div class="allproRn__cr--ch tag tagbtm">
                    <h3 class="allproRn__cr--ttl-com">coming soon</h3>
                    <div class="swiper-slide">
                        <span style="display: block;">
                            <a href="{{ routes.root_url }}products/vitaLimitedset/"> 
                            <div class="allproRn__swiper--img">
                                <img src="{{ 'img_home-vitaset.png' | file_url }}" alt="ヴィーガンビタ コレクション 限定セット"
                                    width="296" height="296" loading="eager">
                            </div>
                            <div class="allproRn__swiper--wttl">
                                <p class="allproRn__swiper--ttl">ヴィーガンビタ<br>
                                コレクション<br>
                                限定企画セット</p>
                            </div>
                            <p class="allproRn__swiper--price">¥5,872 <span>( inc.tax )</span></p>
                        </a>
                        </span>
                    </div>



                </div>
            </div>

            <!-- コンタクト -->
            <div class="load-fade">
                <div class="allproRn__picture">
                    <picture>
                        <source srcset="{{ 'to_cc_top02.webp' | file_url }}" type="image/webp">
                        <img src="{{ 'to_cc_top.jpg' | file_url }}" alt="Color Contact Lenz" width="2080"
                            height="2632" loading="eager">
                    </picture>
                    <p class="allproRn__mekeup05 scroll-up">Color Contact Lenz</p>
                    <p class="allproRn__mekeup06 scroll-up">01 Nudie Beige , 02 Teddy Brown<br>
                        03 Air Gray , 04 Palm Green</p>
                </div>
            </div>
            <!-- コンタクト -->
            <div class="allproRn__cr">

                <!-- コンタクト -->
                <div class="allproRn__cr--ch">
                    <div class="allproRn__swiper--wrapperr">
                        <div class="swiper_makeup04 swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <a href="{{ routes.root_url }}products/nudie-beige">
                                        <div class="allproRn__swiper--img">
                                            <picture>
                                                <source srcset="{{ 'img_makeup04-01.webp' | file_url }}"
                                                    type="image/webp">
                                                <img src="{{ 'img_makeup04-01.png' | file_url }}" alt="ヌーディーベージュ"
                                                    width="296" height="296" loading="eager">
                                            </picture>
                                        </div>
                                        <div class="allproRn__swiper--wttl">
                                            <p class="allproRn__swiper--ttl">カラーコンタクトレンズ<br>
                                                01 ヌーディーベージュ</p>
                                        </div>
                                        <p class="allproRn__swiper--price">¥1,705 <span>( inc.tax )</span></p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="{{ routes.root_url }}products/teddy-brown">
                                        <div class="allproRn__swiper--img">
                                            <picture>
                                                <source srcset="{{ 'img_makeup04-02.webp' | file_url }}"
                                                    type="image/webp">
                                                <img src="{{ 'img_makeup04-02.png' | file_url }}" alt="02 テディブラウン"
                                                    width="296" height="296" loading="eager">
                                            </picture>
                                        </div>
                                        <div class="allproRn__swiper--wttl">
                                            <p class="allproRn__swiper--ttl">カラーコンタクトレンズ<br>
                                                02 テディブラウン</p>
                                        </div>
                                        <p class="allproRn__swiper--price">¥1,705 <span>( inc.tax )</span></p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="{{ routes.root_url }}products/air-gray/">
                                        <div class="allproRn__swiper--img">
                                            <picture>
                                                <source srcset="{{ 'img_makeup04-03.webp' | file_url }}"
                                                    type="image/webp">
                                                <img src="{{ 'img_makeup04-03.png' | file_url }}" alt="03 エアーグレー"
                                                    width="296" height="296" loading="eager">
                                            </picture>
                                        </div>
                                        <div class="allproRn__swiper--wttl">
                                            <p class="allproRn__swiper--ttl">カラーコンタクトレンズ<br>
                                                03 エアーグレー</p>
                                        </div>
                                        <p class="allproRn__swiper--price">¥1,705 <span>( inc.tax )</span></p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="{{ routes.root_url }}products/palm-green/">
                                        <div class="allproRn__swiper--img">
                                            <picture>
                                                <source srcset="{{ 'img_makeup04-04.webp' | file_url }}"
                                                    type="image/webp">
                                                <img src="{{ 'img_makeup04-04.png' | file_url }}" alt="04 パームグリーン"
                                                    width="296" height="296" loading="eager">
                                            </picture>
                                        </div>
                                        <div class="allproRn__swiper--wttl">
                                            <p class="allproRn__swiper--ttl">カラーコンタクトレンズ<br>
                                                04 パームグリーン</p>
                                        </div>
                                        <p class="allproRn__swiper--price">¥1,705 <span>( inc.tax )</span></p>
                                    </a>
                                </div>


                            </div>
                            <!-- If we need pagination -->
                            <div style="position: relative;" class="allproRn__pagewrapper">
                                <div class="swiper-pagination"></div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>


    <section class="aboutRn">
        <div class="aboutRn__swiper">
            <div class="aboutRn__gifimg">
                <img src="{{ 'gifimg03.gif' | file_url }}" alt="gifImg" width="1200" height="1642" loading="eager">
            </div>
            {% comment %} <div class="aboutRnSwiper">
                <!-- スライド要素を包む要素 -->
                <div class="swiper-wrapper">
                    <!-- 各スライド -->
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="{{ 'gifimg01.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'gifimg01.jpg' | file_url }}" alt="gifImg" width="1200" height="1642"
                                loading="eager">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="{{ 'gifimg02.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'gifimg02.jpg' | file_url }}" alt="gifImg" width="1200" height="1642"
                                loading="eager">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="{{ 'gifimg03.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'gifimg03.jpg' | file_url }}" alt="gifImg" width="1200" height="1642"
                                loading="eager">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="{{ 'gifimg04.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'gifimg04.jpg' | file_url }}" alt="gifImg" width="1200" height="1642"
                                loading="eager">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="{{ 'gifimg05.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'gifimg05.jpg' | file_url }}" alt="gifImg" width="1200" height="1642"
                                loading="eager">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="{{ 'gifimg06.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'gifimg06.jpg' | file_url }}" alt="gifImg" width="1200" height="1642"
                                loading="eager">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="{{ 'gifimg07.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'gifimg07.jpg' | file_url }}" alt="gifImg" width="1200" height="1642"
                                loading="eager">
                        </picture>
                    </div>

                </div>
            </div> {% endcomment %}
        </div>
        <div class="aboutRn__about">
            <h2 class="aboutRn__about--ttl">About</h2>

            <picture>
                <source srcset="{{ 'top_about.webp' | file_url }}" type="image/webp">
                <img src="{{ 'img_aboutRn-about.jpg' | file_url }}" alt="gifImg" width="590" height="780"
                    loading="eager">
            </picture>
            <p class="aboutRn__about--txt">Produced by Yoshiaki & Michi</p>

            <a href="/pages/about" class="aboutRn__about--link">MORE</a>
        </div>
    </section>
</div>

<div id="overlay" class="overlay js-close0803">overlay</div>
{% comment %} <div class="modal-window0803">
    <div class="modal-window0803--inner">
        <div class="modal__frame--popup02">
            <div class="pc">
                <a class="js-close0803">
                    <img src="{{ '230425_popup_sp2.jpg' | file_url }}" alt="PC1" loading="eager" width="594"
                        height="436">
                </a>
            </div>
            <div class="sp">
                <a class="js-close0803">

                    <img src="{{ '230425_popup_pc2.jpg' | file_url }}" alt="SP1" loading="eager" width="628"
                        height="824">
                </a>

            </div>
        </div>
        <div class="modal__frame--popup01">
            <div class="pc">
                <a class="js-nextlink0803">
                    <img src="{{ '230425_popup_sp1.jpg' | file_url }}" alt="PC2" loading="eager" width="594"
                        height="436">
                </a>
            </div>
            <div class="sp">
                <a class="js-nextlink0803">
                    <img src="{{ '230425_popup_pc1.jpg' | file_url }}" alt="SP2" loading="eager" width="628"
                        height="824">
                </a>

            </div>
        </div>


    </div>
</div> {% endcomment %}

 <div class="modal-window">
    <div class="modal-window--inner">
        <div class="modal__frame--popup02">
            <div class="pc">
                <a class="js-close pcmodal" >
                    <img src="{{ 'popup-vita_3days_pc.jpg' | file_url }}" alt="PC1" loading="eager" width="628"
                        height="824">
                </a>
            </div>
            <div class="sp">
                <a class="js-close">

                    <img src="{{ 'popup-vita_3days_sp.jpg' | file_url }}" alt="SP1" loading="eager" width="594"
                        height="436">
                </a>

            </div>
        </div>

        


    </div>
</div> 

{% comment %} <script src="{{ 'popup0803.js' | asset_url }}" defer="defer"></script> {% endcomment %}
<script src="{{ 'popup.js' | asset_url }}" defer="defer"></script>