<div class="phome" id="phome">
    <div class="phome__slide--wrapper ">
        <ul class="phome__slide">
            <li class="phome__slide--fadein"><img src="{{ 'img_fvslick_rip01.png' | file_url }}" alt="slide01" width="100%" height="auto" class="phome__slide--img">
            {% comment %} <div class="phome__slide--contactname fadeUpTrigger">
                <img src="{{ 'ttl_topnewslide.svg' | file_url }}" alt="Color Contact Lenses"  loading="lazy" width="auto" height="auto">
            </div> {% endcomment %}
            <div class="phome__slide--name fadeUpTrigger"><img src="{{ 'top_slide.svg?v=1644294744' | file_url }}" alt="Name"  loading="lazy" width="auto" height="auto"></div>
            </li>
            <li><img src="{{ 'img_fvslick_rip02.png' | file_url }}" alt="slide02" width="100%" height="auto" loading="lazy" class="phome__slide--img"></li>
            <li><img src="{{ 'img_fvslick_rip03.png' | file_url }}" alt="slide03" width="100%" height="auto" loading="lazy" class="phome__slide--img"></li>

            <li><img src="{{ 'img_fvslick_contact01.png' | file_url }}" alt="slide04" width="100%" height="auto" loading="lazy" class="phome__slide--img"></li>
            <li><img src="{{ 'top_newslide02.png' | file_url }}" alt="slide05" width="100%" height="auto" loading="lazy" class="phome__slide--img"></li>
            <li><img src="{{ 'top_newslide03.png' | file_url }}" alt="slide06" width="100%" height="auto" loading="lazy" class="phome__slide--img"></li>
        </ul>
        <div class="phome__slide--logo">logo</div>
    </div>

    <div class="phome__brand" id="concept">
        <div class="phome__brand--blc">
            <h3 class="phome__brand--ttl">(&nbsp;&nbsp;BRAND CONCEPT&nbsp;&nbsp;)</h3>
            <p class="phome__brand--concept">Concept</p>
            <p class="phome__brand--spconcept">Concept</p>
            <p class="phome__brand--txt">明日は今日よりも、もっとすてきな自分に。</p>
            <p class="phome__brand--txt">あなたの持つ感性を心のままに。<br>
                内に秘めた自分らしい美しさを見つけよう。</p>
            <p class="phome__brand--txt">perseではじまる新しい私との出会い。</p>
            <p class="phome__brand--en">Tomorrow, You will be better than you are.<br>
                Let your sensitivity wherever your heart takes you.<br>
                Find hidden your own beauty within yourself.<br>
                Meet a new you with perse.
            </p>

             <div class="fadein_block">
                <div class="phome__brand--img01 fadein02"><img src="{{ 'img_brand01.png?v=1644307925' | file_url }}" alt="1" loading="lazy" width="auto" height="auto"></div>
                <div class="phome__brand--img02 fadein03"><img src="{{ 'img_brand02.png?v=1644307925' | file_url }}" alt="2" loading="lazy" width="auto" height="auto"></div>
                <div class="phome__brand--img03 fadein04"><img src="{{ 'img_brand03.png?v=1644307925' | file_url }}" alt="3" loading="lazy" width="auto" height="auto"></div>
            </div>
        </div>
    </div>   
    

    <div class="phome__product">
        <div class="phome__product--inner">
            <div class="phome__product--rip">
                <p class="phome__product--ripttl">(&nbsp;&nbsp;ITEM 01&nbsp;&nbsp;)</p>
                    <h2 class="phome__product--ripsub">Velvet Fix Lip Barm</h2>
                <h3 class="phome__product--sub">ベルベット フィックス リップバーム</h3>
                <div class="phome__product--slickwrap">
                <ul class="phome__product--slick">

                    <li>    
                    <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">

                        <div class="phome__product--slickImg">
                            <img src="{{ 'img_rip01b_e9cb25ed-d8e6-48ea-8125-4fa4461daad3.png?v=1644628670' | file_url }}" alt="01 ヌードローズ" loading="lazy" width="auto" height="auto">
                        </div>
                        <p class="phome__product--price">¥1,680<span> ( inc.tax )</span></p>

                        <p class="phome__product--slickbtn"><span>VIEW MORE</span></p>
                        <p class="phome__product--slickname">01 ヌードローズ</p>
                    </a>

                    </li>
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/">

                        <div class="phome__product--slickImg">
                            <img src="{{ 'img_rip02b.png?v=1644347218' | file_url }}" alt="02 イノセントレッド" loading="lazy" width="auto" height="auto">
                        </div>
                        <p class="phome__product--price">¥1,680<span> ( inc.tax )</span></p>

                        <p class="phome__product--slickbtn"><span>VIEW MORE</span></p>
                        <p class="phome__product--slickname">02 イノセントレッド</p>
                    </a>
                    </li>
                    
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange/">

                        <div class="phome__product--slickImg">
                            <img src="{{ 'img_slick_top03.png' | file_url }}" alt="03 チリオレンジ" loading="lazy" width="auto" height="auto">
                        </div>
                        <p class="phome__product--price">¥1,680<span> ( inc.tax )</span></p>

                        <p class="phome__product--slickbtn"><span>VIEW MORE</span></p>
                        <p class="phome__product--slickname">03 チリオレンジ</p>
                    </a>

                    </li>
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown">

                        <div class="phome__product--slickImg">
                            <img src="{{ 'img_slick_top04.png' | file_url }}" alt="04 アーモンドブラウン" loading="lazy" width="auto" height="auto">
                        </div>
                        <p class="phome__product--price">¥1,680<span> ( inc.tax )</span></p>

                        <p class="phome__product--slickbtn"><span>VIEW MORE</span></p>
                        <p class="phome__product--slickname">04 アーモンドブラウン</p>
                    </a>

                    </li>
                    <li>    
                    <a href="{{ routes.root_url }}products/velvetfixlipbalm-frenchbrown/">

                        <div class="phome__product--slickImg">
                            <img src="{{ 'img_slick_top05.png' | file_url }}" alt="05 フレンチローズ" loading="lazy" width="auto" height="auto">
                        </div>
                        <p class="phome__product--price">¥1,680<span> ( inc.tax )</span></p>

                        <p class="phome__product--slickbtn"><span>VIEW MORE</span></p>
                        <p class="phome__product--slickname">05 フレンチブラウン</p>
                    </a>
                </li>
                </ul>
                <div class="phome__product--slickkado">kadomaru</div>
                <div class="phome__product--slickline">line</div>
                <div class="phome__product--slick02wrap">
                    <ul class="phome__product--slick02">
                        <li><a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/"><div class="phome__product--slickpro"><img src="{{ 'color_01_wb_51679f2e-d5e7-467c-82ea-41725e6962d0.png?v=1644978820' | file_url }}" alt="01 ヌードローズ"  loading="lazy" width="auto" height="auto"></div></a></li>
                        <li><a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/"><div class="phome__product--slickpro"><img src="{{ 'color_02_wb_1562ed71-63f6-4d4f-aedd-9be828f1e5c9.png?v=1644978820' | file_url }}" alt="02 イノセントレッド"  loading="lazy" width="auto" height="auto"></div></a></li>
                        <li><a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange/"><div class="phome__product--slickpro"><img src="{{ 'color_03_wb_7d513389-d216-401f-9896-6df1b4e43e45.png?v=1644978821' | file_url }}" alt="03 チリオレンジ"  loading="lazy" width="auto" height="auto"></div></a></li>
                        <li><a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown"><div class="phome__product--slickpro"><img src="{{ 'color_04_wb_6b82b05e-cab7-49f7-b950-fe166f497447.png?v=1644978820' | file_url }}" alt="04 アーモンドブラウン"  loading="lazy" width="auto" height="auto"></div></a></li>
                        <li><a href="{{ routes.root_url }}products/velvetfixlipbalm-frenchbrown/"><div class="phome__product--slickpro"><img src="{{ 'img_slick_top05sub.png' | file_url }}" alt="05 フレンチブラウン"  loading="lazy" width="auto" height="auto"></div></a></li>

                    </ul>
                </div>
            </div>
            </div>



            <div class="phome__product--lenz">
                <p class="phome__product--lenzttl">(&nbsp;&nbsp;ITEM 02&nbsp;&nbsp;)</p>
                <h2 class="phome__product--lenzsub">Color Contact Lenses</h2>
                <h3 class="phome__product--sub">カラーコンタクトレンズ</h3>
                <div class="phome__product--slickwrap">
                <ul class="phome__product--slick03">
                    <li>  
                        <a href="{{ routes.root_url }}products/nudie-beige">
                            <div class="phome__product--slickImg">
                                <img src="{{ 'img_lens01.png' | file_url }}" alt="01 ヌーディーベージュ" loading="lazy" width="auto" height="auto">
                            </div>
                            <p class="phome__product--lenzprice">¥1,705<span> ( inc.tax )</span></p>
                            <p class="phome__product--slickcon"><span>VIEW MORE</span></p>
                            <p class="phome__product--slickname">01 ヌーディーベージュ</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ routes.root_url }}products/teddy-brown">
                        <div class="phome__product--slickImg">
                            <img src="{{ 'img_lens02.png' | file_url }}" alt="02 テディブラウン" loading="lazy" width="auto" height="auto">
                        </div>
                        <p class="phome__product--lenzprice">¥1,705<span> ( inc.tax )</span></p>

                        <p class="phome__product--slickcon"><span>VIEW MORE</span></p>
                        <p class="phome__product--slickname">02 テディブラウン</p>
                    </a>
                    </li>
                    <li>
                        <a href="{{ routes.root_url }}products/air-gray">
                        <div class="phome__product--slickImg">
                            <img src="{{ 'img_lens03.png' | file_url }}" alt="03 エアーグレー" loading="lazy" width="auto" height="auto">
                            
                        </div>
                        <p class="phome__product--lenzprice">¥1,705<span> ( inc.tax )</span></p>

                        <p class="phome__product--slickcon"><span>VIEW MORE</span></p>
                        <p class="phome__product--slickname">03 エアーグレー</p>
                    </a>
                    </li>
                    <li>
                        <a href="{{ routes.root_url }}products/palm-green">
                        <div class="phome__product--slickImg">
                            <img src="{{ 'img_lens04.png' | file_url }}" alt="04 パームグリーン" loading="lazy" width="auto" height="auto">
                            
                        </div>
                        <p class="phome__product--lenzprice">¥1,705<span> ( inc.tax )</span></p>

                        <p class="phome__product--slickcon"><span>VIEW MORE</span></p>
                        <p class="phome__product--slickname">04 パームグリーン</p>
                    </a>
                    </li>
                </ul>
                <div class="phome__product--slick04wrap">
                    <ul class="phome__product--slick04">
                        <li>
                            <div class="phome__product--slickpro">
                                <img src="{{ 'img_lens01b_pc.png' | file_url }}" alt="01 ヌーディーベージュ"  loading="lazy" width="auto" height="auto" class="imgPc">
                                <img src="{{ 'img_lens01b.png' | file_url }}" alt="01 ヌーディーベージュ"  loading="lazy" width="auto" height="auto" class="imgSp">
                            </div>
                        </li>
                        <li>
                            <div class="phome__product--slickpro">
                                <img src="{{ 'img_lens02b_pc.png' | file_url }}" alt="02 テディブラウン"  loading="lazy" width="auto" height="auto" class="imgPc">
                                <img src="{{ 'img_lens02b.png' | file_url }}" alt="02 テディブラウン"  loading="lazy" width="auto" height="auto" class="imgSp">
                            </div>
                        </li>
                        <li>
                            <div class="phome__product--slickpro">
                                <img src="{{ 'img_lens03b_pc.png' | file_url }}" alt="03 エアーグレー"  loading="lazy" width="auto" height="auto" class="imgPc">
                                <img src="{{ 'img_lens03b.png' | file_url }}" alt="03 エアーグレー"  loading="lazy" width="auto" height="auto" class="imgSp">
                            </div>
                        </li>
                        <li>
                            <div class="phome__product--slickpro">
                                <img src="{{ 'img_lens04b_pc.png' | file_url }}" alt="04 パームグリーン"  loading="lazy" width="auto" height="auto" class="imgPc">
                                <img src="{{ 'img_lens04b.png' | file_url }}" alt="04 パームグリーン"  loading="lazy" width="auto" height="auto" class="imgSp">
                        </div>
                    </li>
                    </ul>
                </div> 
                <div class="phome__product--slickkado">kadomaru</div>
            </div>
            </div>
        </div>
    </div>
    


    <div class="phome__pararaPc">
        <h2 class="phome__pararaPc--ttl"><img src="{{ 'parara_ttl.svg?v=1644331509' | file_url }}" alt="create for yourself"  loading="lazy" width="auto" height="auto"></h2>
    </div>
    <div class="phome__pararaSp2">
        <h2 class="phome__pararaSp2--txt"><img src="{{ 'pararaSP2.png?v=1644917694' | file_url }}" alt="create for yourself"  loading="lazy" width="auto" height="auto"></h2>
        <p class="phome__pararaSp2--ttl"><img src="{{ 'pararaSP2_logo.svg?v=1644917675' | file_url }}" alt="create for yourself"  loading="lazy" width="auto" height="auto"></p>
    </div>

    <div class="phome__produce" id="producer">
        <div class="phome__produce--rblc">
            <h2 class="phome__produce--rttl">(&nbsp;&nbsp;PRODUCER&nbsp;&nbsp;)</h2>
            <h3 class="phome__produce--rsubttl">YOSHIAKI & MICHI</h3>
            <div class="phome__produce--image">
                <img src="{{ 'img_producer.png?v=1644320426' | file_url }}" alt="YOSHIAKI & MICHI"  loading="lazy" width="auto" height="auto">
            </div>
            <div class="phome__produce--imageSp">
                <img src="{{ 'img_producerSp.png?v=1644329464' | file_url }}" alt="YOSHIAKI & MICHI"  loading="lazy" width="auto" height="auto">
            </div>
            <p class="phome__produce--txt">Tomorrow, You will be better than you are.<br>
                Let your sensitivity wherever your heart takes you.<br>
                Find hidden your own beauty within yourself.<br>
                Meet a new you with perse.</p>
        </div>
        <div class="phome__produce--lblc">
            <h2 class="phome__produce--ltxt"><span>YOSHIAKI & MICHI</span></h2>
        
            <div class="phome__produce--imgs">
                <img src="{{ 'img_producerB.png' | file_url }}" alt="YOSHIAKI & MICHI"  loading="lazy" width="auto" height="auto">
                
            </div>

            <p class="phome__produce--stxt">中国×日本のミックスのリアル姉弟モデル。SNSの合計フォロワー数は200万人を超え、Z世代のファッションアイコンとして圧倒的な存在感を誇る。それぞれ雑誌sweetのレギュラーモデル、TVのレギュラー番組出演など幅広いメディアで活躍。</p>
            <p class="phome__produce--sign"><img src="{{ 'sign.png?v=1644325477' | file_url }}" alt="YOSHIAKI & MICHI"  loading="lazy" width="auto" height="auto"></p>
        </div>
    </div>
</div>  

{% comment %} 

<div id="overlay" class="overlay js-close0803">overlay</div>
<div class="modal-window0803">
    <div class="modal-window0803--inner">
        <div class="modal__frame--popup02">
            <div class="pc">
                <a class="js-close0803">
                    <img src="{{ '803_popup02_pc.jpg' | file_url }}" alt="PC1" loading="lazy" width="auto"
                        height="auto">
                </a>
            </div>
            <div class="sp">
                <a class="js-close0803">

                    <img src="{{ '803_popup02_sp.jpg' | file_url }}" alt="PC1" loading="lazy" width="auto"
                        height="auto">
                </a>

            </div>
            {% comment %} <p class="modal__next0803 js-close0803" id="">close</p> {% endcomment %}
        </div>
        <div class="modal__frame--popup01">
            <div class="pc">
                <a class="js-nextlink0803">
                    <img src="{{ '803_popup01b_pc.jpg' | file_url }}" alt="PC1" loading="lazy" width="auto"
                        height="auto">
                </a>
            </div>
            <div class="sp">
                <a class="js-nextlink0803">
                    <img src="{{ '803_popup01b_sp.jpg' | file_url }}" alt="PC1" loading="lazy" width="auto"
                        height="auto">
                </a>

            </div>
        </div>


    </div>
</div>

<script src="{{ 'popup0803.js' | asset_url }}" defer="defer"></script> {% endcomment %}

  {% comment %}
<div id="overlay" class="overlay js-close">overlay</div>
<div class="modal-window campaign02">
 <div class="modal__frame"　ここから>

        <div class="modal__frame02">
            <div class="modal__giftbox">
                <div class="modal__giftbox--img">
                    <p class="modal__giftbox--ttl">
                        <img src="{{ 'modal_giftbox.svg?v=1645165461' | file_url }}" alt="Campaign" loading="lazy" width="auto" height="auto">
                    </p>
                    <div class="modal__giftbox--imgb">
                        
                        <img src="{{ 'giftbox.png?v=1646116445' | file_url }}" alt="Campaign" loading="lazy" width="auto" height="auto">

                    </div>
                </div>
                <div class="modal__giftbox--txt">
                    <p class="modal__giftbox--txta">同時に全4色をご購入の方の中から限定200名様に<br>オリジナルギフトボックに入れてお届け！</p>
                    <p class="modal__giftbox--txtb">1回のご注文で4色ご購入の方の中から限定で200名様にオリジナルの限定ギフトボックスに入れてお届け致します。</p>
                    <p class="modal__giftbox--txtc">※ギフトボックスの在庫がなくなり次第予告なく終了となります。<br>
                        ※送付の時期については予告なく変更となる場合がございます。予めご了承ください。<br>
                        ※ギフトボックスは、お客様都合による返品・交換は承りません。<br>
                        ※営利を目的として、弊社及び弊社が販売を委託しているサイトにて商品を代理で購入し、第三者に転売することは禁止いたします。</p>
                </div>
            </div>
            <p class="modal__next js-close" id=""><span class="close">close</span><span>CLOSE&nbsp;&nbsp;&nbsp;&nbsp;2/2</span></p>

        </div> 
        <div class="modal__frame01">
            <ul class="modal__coupon">
                <li>
                    <p class="modal__coupon--ttl1">
                        <img src="{{ 'modal_disc.svg?v=1645165461' | file_url }}" alt="Campaign" loading="lazy" width="auto" height="auto">
                    </p>
                    <div class="modal__coupon--img1">
                        <img src="{{ 'modal_disc2.svg?v=1645165461' | file_url }}" alt="Campaign" loading="lazy" width="auto" height="auto">
                    </div>
                    <p class="modal__coupon--txt1">perseのオープンを記念して3月3日〜9日迄の1週間限定で、全品10％OFFキャンペーンを実中。</p>
                </li>
                <li>
                    <p class="modal__coupon--ttl2">
                        <img src="{{ 'modal_freeshiping.svg?v=1645165461' | file_url }}" alt="Campaign" loading="lazy" width="auto" height="auto">
                    </p>
                    <div class="modal__coupon--img2">
                        <img src="{{ 'modal_freeshiping2.svg?v=1645165461' | file_url }}" alt="Campaign" loading="lazy" width="auto" height="auto">
                    </div>
                    <p class="modal__coupon--txt1">perseのオープンを記念して3月3日〜9日迄の1週間限定で、送料無料キャンペーンを実施中。</p>

                </li>
            </ul>
            <p class="modal__next js-close" id="nextbtn"><span class="close">close</span><span>CLOSE</span></p>
    
        </div>  
        
    </div ここまで>  

    <div class="modal__campaign02">
        <h3 class="modal__campaign02--300"><span>NEW SHOP EVENT 6/3(Fri)-6/11(Sat)</span></h3>
        <p class="modal__campaign02--txt">perseの取り扱い店舗拡大を記念して、LILY ANNAの下記の店舗でお得なキャンペーンを実施中。</p>
        <p class="modal__campaign02--txt spnone">Velvet Fix Lip BalmとColor Contact Lensesを合わせてのご購入で300円OFFになります。</p>

        <div class="modal__campaign02--blc">
        <h4 class="modal__campaign02--subttl"><span>キャンペーン対象店舗</span></h4>

        <div class="modal__campaign02--lists">
            <div class="modal__campaign02--listsblc">
                <p><a href="https://www.lilyanna.jp/fs/lilyanna/perse-lip-set" target="_blank">LILY ANNA公式</a></p>
                <p><a href="https://item.rakuten.co.jp/lilyanna/perse-lip-set/" target="_blank">LILY ANNA楽天</a></p>
                <p><a href="https://store.shopping.yahoo.co.jp/lilyanna/pslipset.html" target="_blank">LILY ANNA Yahoo!ショッピング</a></p>
                
            </div>
            <div class="modal__campaign02--listsblc">
                <p><a href="https://wowma.jp/item/568497474" target="_blank">LILY ANNA au PAY マーケット</a></p>
                <p><a href="https://www.amazon.co.jp/dp/B0B2C2CRSB" target="_blank">LILY ANNA amazon</a></p>
                <p><a href="https://www.qoo10.jp/g/992364979" target="_blank">LILY ANNA Qoo10</a></p>
                
                
            </div>
        </div>

        </div>


        <p class="modal__closeBtn02 js-close" id=""><span class="close">close</span><span>CLOSE</span></p>

    </div>

</div>

<script src="{{ 'popup.js' | asset_url }}" defer="defer"></script>	
 {% endcomment %}