<div class="gmenu" id="footer">
    <div class="gmenu__wrapper">
      <div class="gmenu__inner">
        <p class="gmenu__logo">
          <a href="{{ routes.root_url }}" class="perseFooterLogo">perse producede by yoshiaki & michi</a>
        </p>

        <div class="gmenu__exp">
          <div class="gmenu__product">
            <p class="gmenu__product--ttl">PRODUCTS</p>
            <section class="gmenu__product--inner">
              <p class="gmenu__product--subttl">Velvet Fix Lip Balms <span class=""></span></p>
              <div class="gmenu__product--slide">
              <div class="gmenu__product--linkwr">
                <div class="gmenu__product--link lblc">
                  <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">01 NUDE ROSE</a>
                  <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/">02 INNOCENT RED</a>
                </div>
                <div class="gmenu__product--link">
                  <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange/">03 CHILI ORANGE</a>
                  <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown">04 ALMOND BROWN</a>
                </div>
              </div>
            </div>
            </section>
            <section class="gmenu__product--inner02">
              <p class="gmenu__product--subttl">Color Contact Lenses<span class=""></span></p>
              <div class="gmenu__product--slide">

              <div class="gmenu__product--linkwr">
                <div class="gmenu__product--link lblc">
                  <a>01 NUDIE BEIGE </a>
                  <a>02 TEDDY BROWN</a>
                </div>
                <div class="gmenu__product--link">
                  <a>03 AIR GRAY</a>
                  <a>04 PALM GREEN</a>
                </div>
              </div>
            </div>

            </section>
          </div>
          <div class="gmenu__links">
            <div class="gmenu__links--left">
              <ul class="gmenu__links--leftL">
                <li><a href="{{ routes.root_url }}pages/">ABOUT</a></li>
                <li><a href="{{ routes.root_url }}">PRODUCER</a></li>
              </ul>
              <ul class="gmenu__links--leftR">
                <li><a href="{{ routes.root_url }}cart/">CART</a></li>
                <li><a href="{{ routes.root_url }}">CONTACT</a></li>
              </ul>
            </div>
            <div class="gmenu__links--sns">
              <p class="gmenu__links--snsttl">FOLLOW US</p>
              <ul class="gmenu__links--snslist">
                <li>
                  <a href="" target="_blank" class="gmenu__links--snslist-twitter">twitter</a>
                </li>
                <li>
                  <a href="https://www.instagram.com/perseofficial/" target="_blank" class="gmenu__links--snslist-insta">insta</a>
                </li>
                <li>
                  <a href="" target="_blank" class="gmenu__links--snslist-line">line</a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UCiJkV6aSJpX9xEJUu00tVlw" target="_blank" class="gmenu__links--snslist-youtube">youtube</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="gmenu__btm">
      <p class="gmenu__list">
        <a href="{{ routes.root_url }}pages/" class="Spnoborder borderR fb">キャンセル・変更規定・返品に関して</a><br>
        <a href="{{ routes.root_url }}pages/" class="borderR">特定商取引に基づく表記</a>
        <a href="{{ routes.root_url }}pages/" class="Spnoborder borderR">プライバシーポリシー</a><br>
        <a href="{{ routes.root_url }}pages/" class="borderR">利用規約</a>
        <a href="{{ routes.root_url }}pages/">送料に関して</a>
      </p>
      <p class="gmenu__copy">© 2021 perse All Rights Reserved</p>
    </div>

  </div>