<nav class="gmenu" id="footer">
  <div class="gmenu__wrapper">
    <div class="gmenu__inner">
      <p class="gmenu__logo">
        <a href="{{ routes.root_url }}" class="perseFooterLogo"
          >perse producede by yoshiaki & michi</a
        >
      </p>

      <div class="gmenu__exp">
        <div class="gmenu__product">
          <p class="gmenu__product--ttl">PRODUCTS</p>
          <div class="gmenu__product--inner">
            <p class="gmenu__product--subttl">
              The Skin Eyeshadow Palette <span class=""></span>
            </p>
            <div class="gmenu__product--slide">
              <div class="gmenu__product--linkwr">
                <div class="gmenu__product--link lblc">
                  <a href="{{ routes.root_url }}products/skineyeshadow-01rosymood"
                    >01 ROSY MOOD</a>
                  <a
                    href="{{
                      routes.root_url
                    }}products/skineyeshadow-02ambermood/"
                    >02 AMBER MOOD</a
                  >

                </div>

              </div>
            </div>
          </div>
          <div class="gmenu__product--inner">
            <p class="gmenu__product--subttl">
              Velvet Fix Lip Balms <span class=""></span>
            </p>
            <div class="gmenu__product--slide">
              <div class="gmenu__product--linkwr">
                <div class="gmenu__product--link lblc">
                  <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/"
                    >01 NUDE ROSE</a>
                  <a
                    href="{{
                      routes.root_url
                    }}products/velvet-fix-lip-balm-innocent-red/"
                    >02 INNOCENT RED</a
                  >
                    <a
                      href="{{
                        routes.root_url
                      }}products/velvet-fix-lip-balm-chili-orange/"
                      >03 CHILI ORANGE</a
                    >
                </div>
                <div class="gmenu__product--link">

                  <a
                    href="{{
                      routes.root_url
                    }}products/velvet-fix-lip-balm-almond-brown"
                    >04 ALMOND BROWN</a
                  >
                    <a
                      href="{{
                        routes.root_url
                      }}products/velvetfixlipbalm-frenchbrown/"
                      >05 FRENCH BROWN</a
                    >
  
                </div>

              </div>
            </div>
          </div>
          <div class="gmenu__product--inner02">
            <p class="gmenu__product--subttl">
              Color Contact Lenses<span class=""></span>
            </p>
            <div class="gmenu__product--slide">
              <div class="gmenu__product--linkwr">
                <div class="gmenu__product--link lblc">
                  <a href="{{ routes.root_url }}products/nudie-beige/"
                    >01 NUDIE BEIGE
                  </a>
                  <a href="{{ routes.root_url }}products/teddy-brown/"
                    >02 TEDDY BROWN</a
                  >
                </div>
                <div class="gmenu__product--link">
                  <a href="{{ routes.root_url }}products/air-gray/"
                    >03 AIR GRAY</a
                  >
                  <a href="{{ routes.root_url }}products/palm-green/"
                    >04 PALM GREEN</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gmenu__links">
          <div class="gmenu__links--left">
            <ul class="gmenu__links--leftL">
              <li><a href="/#concept">ABOUT</a></li>
              <li><a href="/#producer">PRODUCER</a></li>
            </ul>
            <ul class="gmenu__links--leftR">
              <li><a href="{{ routes.root_url }}cart/">CART</a></li>
              <li><a href="{{ routes.root_url }}pages/contact/">CONTACT</a></li>
            </ul>
          </div>
          <div class="gmenu__links--sns">
            <p class="gmenu__links--snsttl">FOLLOW US</p>
            <ul class="gmenu__links--snslist">
              <li>
                <a
                  href="https://twitter.com/perseofficial"
                  target="_blank"
                  class="gmenu__links--snslist-twitter"
                  >twitter</a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/perse_lens/"
                  target="_blank"
                  class="gmenu__links--snslist-insta"
                  >insta</a
                >
              </li>
              <li>
                <a
                  href="https://page.line.me/?accountId=perse_official"
                  target="_blank"
                  class="gmenu__links--snslist-line"
                  >line</a
                >
              </li>
              <li>
                <a
                  href="https://www.youtube.com/channel/UCiJkV6aSJpX9xEJUu00tVlw"
                  target="_blank"
                  class="gmenu__links--snslist-youtube"
                  >youtube</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="gmenu__official">
          <a href="https://perse-official.com" target="_blank" rel="noopener"
            >OFFICIAL WEBSITE</a>
        </div>
      </div>
    </div>


  </div>
  <div class="gmenu__btm">
    <p class="gmenu__list">
      <a
        href="{{ routes.root_url }}pages/refund-policy/"
        class="Spnoborder borderR fb"
        >キャンセル・変更規定・返品に関して</a
      ><br />
      <a href="{{ routes.root_url }}pages/特定商取引法に基づく表記/" class="borderR"
        >特定商取引に基づく表記</a
      >
      <a
        href="{{ routes.root_url }}pages/プライバシーポリシー/"
        class="Spnoborder borderR"
        >プライバシーポリシー</a
      ><br />
      <a href="{{ routes.root_url }}pages/利用規約/" class="borderR"
        >利用規約</a
      >
      <a href="{{ routes.root_url }}pages/特定商取引法に基づく表記#shippingFee"
        >送料に関して</a
      >
    </p>
    <p class="gmenu__copy">© 2021 perse All Rights Reserved</p>
  </div>
</nav>
