<div class="phome" id="phome">
    <div class="phome__slide--wrapper ">
        <ul class="phome__slide">
            <li class="phome__slide--fadein">
                <picture>
                    <source srcset="{{ 'img_fvslick01.webp' | asset_url }}" type="image/webp">
                    <img src="{{ 'img_fvslick01.jpg' | asset_url }}" alt="slide01" class="phome__slide--img" width="1084" height="1448" loading="lazy">
                </picture>
                <div class="phome__slide--name fadeUpTrigger">
                   <img src="{{ 'slick_ttl2302.svg' | file_url }}"
                        alt="The Skin Eyeshadow Pallete" loading="lazy" width="858" height="275">
                </div>
            </li>
            <li>
                <picture>
                    <source srcset="{{ 'img_fvslick02.webp' | asset_url }}" type="image/webp">
                    <img src="{{ 'img_fvslick02.jpg' | asset_url }}" alt="slide02" width="1084" height="1448" loading="lazy" class="phome__slide--img">
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="{{ 'img_fvslick03.webp' | asset_url }}" type="image/webp">
                    <img src="{{ 'img_fvslick03.jpg' | asset_url }}" alt="slide03" width="1084" height="1448" loading="lazy" class="phome__slide--img">
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="{{ 'img_fvslick04.webp' | asset_url }}" type="image/webp">
                    <img src="{{ 'img_fvslick04.jpg' | asset_url }}" alt="slide04" width="1084" height="1448" loading="lazy" class="phome__slide--img">
                </picture>
            </li>
            <!-- <li>
                <picture>
                    <source srcset="{{ 'img_fvslick04b.webp' | asset_url }}" type="image/webp">
                    <img src="{{ 'img_fvslick04b.jpg' | asset_url }}" alt="slide04" width="1084" height="1448" loading="lazy" class="phome__slide--img">
                </picture>
            </li> -->
            <li>
                <picture>
                    <source srcset="{{ 'img_fvslick05.webp' | asset_url }}" type="image/webp">
                    <img src="{{ 'img_fvslick05.jpg' | asset_url }}" alt="slide05" width="1084" height="1448" loading="lazy" class="phome__slide--img">
                </picture>
            </li>
            <!-- <li>
                <picture>
                    <source srcset="{{ 'img_fvslick06.webp' | asset_url }}" type="image/webp">
                    <img src="{{ 'img_fvslick06.jpg' | asset_url }}" alt="slide06" width="1084" height="1448" loading="lazy" class="phome__slide--img">
                </picture>
            </li> -->
            <li>
                <picture>
                    <source srcset="{{ 'img_fvslick06b.webp' | asset_url }}" type="image/webp">
                    <img src="{{ 'img_fvslick06b.jpg' | asset_url }}" alt="slide06" width="1084" height="1448" loading="lazy" class="phome__slide--img">
                </picture>
            </li>
 
        </ul>
        <div class="phome__slide--logo">logo</div>
    </div>

    <div class="phome__brand" id="concept">
        <div class="phome__brand--blc">
            <h3 class="phome__brand--ttl">(&nbsp;&nbsp;BRAND CONCEPT&nbsp;&nbsp;)</h3>
            <p class="phome__brand--concept">Concept</p>
            <p class="phome__brand--spconcept">Concept</p>
            <p class="phome__brand--txt">明日は今日よりも、もっとすてきな自分に。</p>
            <p class="phome__brand--txt">あなたの持つ感性を心のままに。<br>
                内に秘めた自分らしい美しさを見つけよう。</p>
            <p class="phome__brand--txt">perseではじまる新しい私との出会い。</p>
            <p class="phome__brand--en">Tomorrow, You will be better than you are.<br>
                Let your sensitivity wherever your heart takes you.<br>
                Find hidden your own beauty within yourself.<br>
                Meet a new you with perse.
            </p>

            <div class="fadein_block">
                <div class="phome__brand--img01 fadein02">
                    <picture>
                        <source srcset="{{ 'img_brand01.webp' | asset_url }}" type="image/webp">
                        <img src="{{ 'img_brand01.jpg' | asset_url }}" alt="img_brand01" width="300" height="300" loading="lazy" class="">
                    </picture>
                </div>
                <div class="phome__brand--img02 fadein03">
                    <picture>
                        <source srcset="{{ 'img_brand03.webp' | asset_url }}" type="image/webp">
                        <img src="{{ 'img_brand03.jpg' | asset_url }}" alt="img_brand03" width="508" height="700" loading="lazy" class="">
                    </picture>
                </div>
                <div class="phome__brand--img03 fadein04">
                    <picture>
                        <source srcset="{{ 'img_brand02.webp' | asset_url }}" type="image/webp">
                        <img src="{{ 'img_brand02.jpg' | asset_url }}" alt="img_brand02" width="380" height="488" loading="lazy" class="">
                    </picture>
                </div>
            </div>
        </div>
    </div>





    <div class="phome__product">
        <div class="phome__slicktop">
            <!-- 865 + 52px =917まで -->
            <div class="phome__slicktop--inner">
                <div class="phome__slicktop--ttlblc">
                    <div class="sp">
                        <p class="phome__product--ripttl">(&nbsp;&nbsp;ITEM 01&nbsp;&nbsp;)</p>
                        <h2 class="phome__slicktop--spttl">The Skin Eyeshadow Palette</h2>
                        <h3 class="phome__product--sub">ベルベット フィックス リップバーム</h3>
                    </div>
                </div>  

                <!-- 1つ目のslick -->
                <div class="phome__slicktop--01wrapper"> 
                    <ul class="phome__slicktop--01">
                        <a href="{{ routes.root_url }}products/skineyeshadow-01rosymood">
                            <li>
                                <picture>
                                    <source srcset="{{ 'palette_slick01.webp' | asset_url }}" type="image/webp">
                                    <img src="{{ 'palette_slick01.jpg' | asset_url }}" alt="palette_slick01" width="660" height="848" loading="lazy" class="">
                                </picture>
                                <div class="sp">
                                    <p class="phome__slicktop--spttl01">01 rosymood</p>
                                    <p class="phome__product--price">¥2,490<span> ( inc.tax )</span></p>
                                    <p class="phome__product--slickbtn"><span>VIEW MORE</span></p>
                                </div>
                                <p class="phome__product--slickname">01 ロージームード</p>
                            </li>
                        </a>

                        <a href="{{ routes.root_url }}products/skineyeshadow-02ambermood">
                            <li>
                                <picture>
                                    <source srcset="{{ 'palette_slick02.webp' | asset_url }}" type="image/webp">
                                    <img src="{{ 'palette_slick02.jpg' | asset_url }}" alt="palette_slick02" width="660" height="848" loading="lazy" class="">
                                </picture>
                                <div class="sp">
                                    <p class="phome__slicktop--spttl02">02 Amber mood</p>
                                    <p class="phome__product--price">¥2,490<span> ( inc.tax )</span></p>
                                    <p class="phome__product--slickbtn"><span>VIEW MORE</span></p>
                                </p>
                                <p class="phome__product--slickname">02 アンバームード</p>
                            </li>
                        </a>
                    </ul>

                </div>

                <div class="phome__slicktop--pright">
                    <div class="pc">
                        <p class="phome__product--ripttl">(&nbsp;&nbsp;ITEM 01&nbsp;&nbsp;)</p>
                        <h2 class="phome__slicktop--ttl">The Skin Eyeshadow Palette</h2>
                        <h3 class="phome__product--sub">ベルベット フィックス リップバーム</h3>
                    </div>
                </div>
                <!-- position: absolute -->
                <div class="phome__slicktop--inner-ab">
                    <ul class="phome__slicktop--02">
                        <li class="phome__slicktop--02-01">
                            <div class="phome__slicktop--02-01img">
                                <picture class="pc">
                                    <source srcset="{{ 'palette_slick01a.webp' | asset_url }}" type="image/webp">
                                    <img src="{{ 'palette_slick01a.png' | asset_url }}" alt="palette_slick01a" width="820" height="796" loading="lazy" class="">
                                </picture>
                                <picture class="sp">
                                    <source srcset="{{ 'palette_slick01a-sp.webp' | asset_url }}" type="image/webp">
                                    <img src="{{ 'palette_slick01a-sp.png' | asset_url }}" alt="palette_slick01a" width="1244" height="1244" loading="lazy" class="">
                                </picture>
                            </div>
                            <div class="pc">
                                <a href="{{ routes.root_url }}products/skineyeshadow-01rosymood" class="phome__slicktop--name01">
                                    
                                    <p class="phome__slicktop--02ttla">01 rosymood</p>
                                    <p class="phome__product--price">¥2,490<span> ( inc.tax )</span></p>
                                    <p class="phome__product--slickbtn"><span>VIEW MORE</span></p>
                                </a>
                            </div>
                        </li>
                        <li class="phome__slicktop--02-02">
                            <div class="phome__slicktop--02-01img">
                                <picture class="pc">
                                    <source srcset="{{ 'palette_slick01b.webp' | asset_url }}" type="image/webp">
                                    <img src="{{ 'palette_slick01b.png' | asset_url }}" alt="palette_slick01b" width="820" height="796" loading="lazy" class="">
                                </picture>
                                <picture class="sp">
                                    <source srcset="{{ 'palette_slick01b-sp.webp' | asset_url }}" type="image/webp">
                                    <img src="{{ 'palette_slick01b-sp.png' | asset_url }}" alt="palette_slick01a" width="1244" height="1244" loading="lazy" class="">
                                </picture>
                            </div>
                            <div class="pc">
                                <a href="{{ routes.root_url }}products/skineyeshadow-02ambermood" class="phome__slicktop--name02">
                                    <p class="phome__slicktop--02ttlb">02 Amber mood</p>
                                    <p class="phome__product--price">¥2,490<span> ( inc.tax )</span></p>
                                    <p class="phome__product--slickbtn"><span>VIEW MORE</span></p>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div> 

            </div>



        </div>

       <div class="phome__product--inner">
            <div class="phome__product--rip">
                <p class="phome__product--ripttl">(&nbsp;&nbsp;ITEM 02&nbsp;&nbsp;)</p>
                <h2 class="phome__product--ripsub">Velvet Fix Lip Barm</h2>
                <h3 class="phome__product--sub">ベルベット フィックス リップバーム</h3>
                
                <div class="phome__product--slickwrap">
                    <div class="phome__product--slick02wrapNew">
                        <ul class="phome__product--slick02">
                            <li><a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">
                                    <div class="phome__product--slickpro00">
                                        <picture>
                                            <source srcset="{{ 'newicon_01.webp' | asset_url }}" type="image/webp">
                                            <img src="{{ 'newicon_01.png' | asset_url }}" alt="01 ヌードローズ" width="1060" height="832" loading="lazy" class="">
                                        </picture>
                                    </div>
                                </a></li>
                            <li><a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/">
                                    <div class="phome__product--slickpro00">
                                        <picture>
                                            <source srcset="{{ 'newicon_02.webp' | asset_url }}" type="image/webp">
                                            <img src="{{ 'newicon_02.png' | asset_url }}" alt="02 イノセントレッド" width="1060" height="832" loading="lazy" class="">
                                        </picture>
                                    </div>
                                </a></li>
                            <li><a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange/">
                                    <div class="phome__product--slickpro00">
                                        
                                        <picture>
                                            <source srcset="{{ 'newicon_03.webp' | asset_url }}" type="image/webp">
                                            <img src="{{ 'newicon_03.png' | asset_url }}" alt="03 チリオレンジ" width="1060" height="832" loading="lazy" class="">
                                        </picture>
                                    </div>
                                </a></li>
                            <li><a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown">
                                    <div class="phome__product--slickpro00">
                                        <picture>
                                            <source srcset="{{ 'newicon_04.webp' | asset_url }}" type="image/webp">
                                            <img src="{{ 'newicon_04.png' | asset_url }}" alt="04 アーモンドブラウン" width="1060" height="832" loading="lazy" class="">
                                        </picture>
                                    </div>
                                </a></li>
                            <li><a href="{{ routes.root_url }}products/velvetfixlipbalm-frenchbrown/">
                                <div class="phome__product--slickpro00">
                                    <picture>
                                        <source srcset="{{ 'newicon_05.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'newicon_05.png' | asset_url }}" alt="05 フレンチブラウンド" width="1060" height="832" loading="lazy" class="">
                                    </picture>
                                    </div>
                                </a></li>
                        </ul>
                    </div>
                    <ul class="phome__product--slick">

                        <li>
                            <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">

                                <div class="phome__product--slickImg">
                                    <picture>
                                        <source srcset="{{ 'img_rip01b.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'img_rip01b.png' | asset_url }}" alt="01 ヌードローズ" width="1060" height="832" loading="lazy" class="">
                                    </picture>

                                </div>
                                <p class="phome__product--price">¥1,680<span> ( inc.tax )</span></p>
                                <p class="phome__product--slickbtn"><span>VIEW MORE</span></p>
                                <p class="phome__product--slickname">01 ヌードローズ</p>
                            </a>

                        </li>
                        <li>
                            <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/">

                                <div class="phome__product--slickImg">
                                    <picture>
                                        <source srcset="{{ 'img_rip02b.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'img_rip02b.png' | asset_url }}" alt="02 イノセントレッド" width="1060" height="832" loading="lazy" class="">
                                    </picture>
                                </div>
                                <p class="phome__product--price">¥1,680<span> ( inc.tax )</span></p>

                                <p class="phome__product--slickbtn"><span>VIEW MORE</span></p>
                                <p class="phome__product--slickname">02 イノセントレッド</p>
                            </a>
                        </li>

                        <li>
                            <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange/">

                                <div class="phome__product--slickImg">
                                    <picture>
                                        <source srcset="{{ 'img_slick_top03.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'img_slick_top03.png' | asset_url }}" alt="03 チリオレンジ" width="1060" height="832" loading="lazy" class="">
                                    </picture>
                                </div>
                                <p class="phome__product--price">¥1,680<span> ( inc.tax )</span></p>

                                <p class="phome__product--slickbtn"><span>VIEW MORE</span></p>
                                <p class="phome__product--slickname">03 チリオレンジ</p>
                            </a>

                        </li>
                        <li>
                            <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown">

                                <div class="phome__product--slickImg">
                                    <picture>
                                        <source srcset="{{ 'img_slick_top04.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'img_slick_top04.png' | asset_url }}" alt="04 アーモンドブラウン" width="1060" height="832" loading="lazy" class="">
                                    </picture>
                                </div>
                                <p class="phome__product--price">¥1,680<span> ( inc.tax )</span></p>

                                <p class="phome__product--slickbtn"><span>VIEW MORE</span></p>
                                <p class="phome__product--slickname">04 アーモンドブラウン</p>
                            </a>

                        </li>
                        <li>
                            <a href="{{ routes.root_url }}products/velvetfixlipbalm-frenchbrown/">

                                <div class="phome__product--slickImg">
                                    <picture>
                                        <source srcset="{{ 'img_slick_top05.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'img_slick_top05.png' | asset_url }}" alt="05 フレンチローズ" width="1060" height="832" loading="lazy" class="">
                                    </picture>
                                </div>
                                <p class="phome__product--price">¥1,680<span> ( inc.tax )</span></p>

                                <p class="phome__product--slickbtn"><span>VIEW MORE</span></p>
                                <p class="phome__product--slickname">05 フレンチブラウン</p>
                            </a>
                        </li>
                    </ul>
                    <!-- <div class="phome__product--slickline">line</div> -->
                </div>
            </div>



            <div class="phome__product--lenz">
                <p class="phome__product--lenzttl">(&nbsp;&nbsp;ITEM 03&nbsp;&nbsp;)</p>
                <h2 class="phome__product--lenzsub">Color Contact Lenses</h2>
                <h3 class="phome__product--sub">カラーコンタクトレンズ</h3>
                <div class="phome__product--slickwrap">
                    <ul class="phome__product--slick03">
                        <li>
                            <a href="{{ routes.root_url }}products/nudie-beige">
                                <div class="phome__product--slickImg">
                                    <picture>
                                        <source srcset="{{ 'img_lens01.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'img_lens01.png' | asset_url }}" alt="01 ヌーディーベージュ" width="660" height="960" loading="lazy" class="">
                                    </picture>
                                </div>
                                <p class="phome__product--lenzprice">¥1,705<span> ( inc.tax )</span></p>
                                <p class="phome__product--slickcon"><span>VIEW MORE</span></p>
                                <p class="phome__product--slickname">01 ヌーディーベージュ</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ routes.root_url }}products/teddy-brown">
                                <div class="phome__product--slickImg">
                                    <picture>
                                        <source srcset="{{ 'img_lens02.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'img_lens02.png' | asset_url }}" alt="02 テディブラウン" width="660" height="960" loading="lazy" class="">
                                    </picture>
                                </div>
                                <p class="phome__product--lenzprice">¥1,705<span> ( inc.tax )</span></p>

                                <p class="phome__product--slickcon"><span>VIEW MORE</span></p>
                                <p class="phome__product--slickname">02 テディブラウン</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ routes.root_url }}products/air-gray">
                                <div class="phome__product--slickImg">
                                    <picture>
                                        <source srcset="{{ 'img_lens03.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'img_lens03.png' | asset_url }}" alt="03 エアーグレー" width="660" height="960" loading="lazy" class="">
                                    </picture>
                                </div>
                                <p class="phome__product--lenzprice">¥1,705<span> ( inc.tax )</span></p>

                                <p class="phome__product--slickcon"><span>VIEW MORE</span></p>
                                <p class="phome__product--slickname">03 エアーグレー</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ routes.root_url }}products/palm-green">
                                <div class="phome__product--slickImg">
                                    <picture>
                                        <source srcset="{{ 'img_lens04.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'img_lens04.png' | asset_url }}" alt="04 パームグリーン" width="660" height="960" loading="lazy" class="">
                                    </picture>
                                </div>
                                <p class="phome__product--lenzprice">¥1,705<span> ( inc.tax )</span></p>

                                <p class="phome__product--slickcon"><span>VIEW MORE</span></p>
                                <p class="phome__product--slickname">04 パームグリーン</p>
                            </a>
                        </li>
                    </ul>
                    <div class="phome__product--slick04wrap">
                        <ul class="phome__product--slick04">
                            <li>
                                <div class="phome__product--slickpro">
                                    <picture>
                                        <source srcset="{{ 'img_lens01b_pc.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'img_lens01b_pc.png' | asset_url }}" alt="01 ヌーディーベージュ" width="1060" height="220" loading="lazy" class="imgPc">
                                    </picture>
                                    <picture>
                                        <source srcset="{{ 'img_lens01b.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'img_lens01b.png' | asset_url }}" alt="01 ヌーディーベージュ" width="1060" height="240" loading="lazy" class="imgSp">
                                    </picture>
                                </div>
                            </li>
                            <li>
                                <div class="phome__product--slickpro">
                                    <picture>
                                        <source srcset="{{ 'img_lens02b_pc.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'img_lens02b_pc.png' | asset_url }}" alt="02 テディブラウン" width="1060" height="220" loading="lazy" class="imgPc">
                                    </picture>
                                    <picture>
                                        <source srcset="{{ 'img_lens02b.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'img_lens02b.png' | asset_url }}" alt="02 テディブラウン" width="1060" height="240" loading="lazy" class="imgSp">
                                    </picture>
                                </div>
                            </li>
                            <li>
                                <div class="phome__product--slickpro">
                                    <picture>
                                        <source srcset="{{ 'img_lens03b_pc.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'img_lens03b_pc.png' | asset_url }}" alt="03 エアーグレー" width="1060" height="220" loading="lazy" class="imgPc">
                                    </picture>
                                    <picture>
                                        <source srcset="{{ 'img_lens03b.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'img_lens03b.png' | asset_url }}" alt="03 エアーグレー" width="1060" height="240" loading="lazy" class="imgSp">
                                    </picture>

                                </div>
                            </li>
                            <li>
                                <div class="phome__product--slickpro">
                                    <picture>
                                        <source srcset="{{ 'img_lens04b_pc.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'img_lens04b_pc.png' | asset_url }}" alt="04 パームグリーン" width="1060" height="220" loading="lazy" class="imgPc">
                                    </picture>
                                    <picture>
                                        <source srcset="{{ 'img_lens04b.webp' | asset_url }}" type="image/webp">
                                        <img src="{{ 'img_lens04b.png' | asset_url }}" alt="04 パームグリーン" width="1060" height="240" loading="lazy" class="imgSp">
                                    </picture>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="phome__product--slickkado">kadomaru</div> -->
                </div>
            </div>
        </div>
    </div>



    <div class="phome__pararaPc">   
        <h2 class="phome__pararaPc--ttl">
            <img src="{{ 'parara_ttl.svg?v=1644331509' | file_url }}"
                alt="create for yourself" loading="lazy" width="353" height="29">
        </h2>
    </div>
    <div class="phome__pararaSp2">
        <h2 class="phome__pararaSp2--txt"><img src="{{ 'pararaSP2.png?v=1644917694' | file_url }}"
                alt="create for yourself" loading="lazy" width="auto" height="auto"></h2>
        <p class="phome__pararaSp2--ttl"><img src="{{ 'pararaSP2_logo.svg?v=1644917675' | file_url }}"
                alt="create for yourself" loading="lazy" width="auto" height="auto"></p>
    </div>

    <div class="phome__produce" id="producer">
        <div class="phome__produce--rblc">
            <h2 class="phome__produce--rttl">(&nbsp;&nbsp;PRODUCER&nbsp;&nbsp;)</h2>
            <h3 class="phome__produce--rsubttl">YOSHIAKI & MICHI</h3>
            <div class="phome__produce--image">
                <picture>
                    <source srcset="{{ 'img_producer2302.webp' | asset_url }}" type="image/webp">
                    <img src="{{ 'img_producer2302.jpg' | asset_url }}" alt="YOSHIAKI & MICHI" width="816" height="954" loading="lazy" class="">
                </picture>
            </div>
            <div class="phome__produce--imageSp">
                <picture>
                    <source srcset="{{ 'img_producer2302sp.webp' | asset_url }}" type="image/webp">
                    <img src="{{ 'img_producer2302sp.jpg' | asset_url }}" alt="YOSHIAKI & MICHI" width="1350" height="1288" loading="lazy" class="">
                </picture>
            </div>
            <p class="phome__produce--txt">Tomorrow, You will be better than you are.<br>
                Let your sensitivity wherever your heart takes you.<br>
                Find hidden your own beauty within yourself.<br>
                Meet a new you with perse.</p>
        </div>
        <div class="phome__produce--lblc">
            <h2 class="phome__produce--ltxt"><span>YOSHIAKI & MICHI</span></h2>

            <div class="phome__produce--imgs">
                <picture>
                    <source srcset="{{ 'img_producer2302b.webp' | asset_url }}" type="image/webp">
                    <img src="{{ 'img_producer2302b.png' | asset_url }}" alt="YOSHIAKI & MICHI" width="416" height="486" loading="lazy" class="">
                </picture>
            </div>

            <p class="phome__produce--stxt">
                中国×日本のミックスのリアル姉弟モデル。SNSの合計フォロワー数は250万人を超え、Z世代のファッションアイコンとして圧倒的な存在感を誇る。それぞれ雑誌sweetのレギュラーモデル、TVのレギュラー番組出演など幅広いメディアで活躍。
            </p>
            <p class="phome__produce--sign"><img src="{{ 'sign.png?v=1644325477' | file_url }}" alt="YOSHIAKI & MICHI"
                    loading="lazy" width="auto" height="auto"></p>
        </div>
    </div>
</div>



{% comment %}

<div id="overlay" class="overlay js-close0803">overlay</div>
<div class="modal-window0803">
    <div class="modal-window0803--inner">
        <div class="modal__frame--popup02">
            <div class="pc">
                <a class="js-close0803">
                    <img src="{{ 'popup-02_0819sp.jpg' | file_url }}" alt="PC1" loading="lazy" width="auto"
                        height="auto">
                </a>
            </div>
            <div class="sp">
                <a class="js-close0803">

                    <img src="{{ 'popup-02_0819pc.jpg' | file_url }}" alt="PC1" loading="lazy" width="auto"
                        height="auto">
                </a>

            </div>
        </div>
        <div class="modal__frame--popup01">
            <div class="pc">
                <a class="js-nextlink0803">
                    <img src="{{ 'popup-01_0819pc.jpg' | file_url }}" alt="PC1" loading="lazy" width="auto"
                        height="auto">
                </a>
            </div>
            <div class="sp">
                <a class="js-nextlink0803">
                    <img src="{{ 'popup-01_0819sp.jpg' | file_url }}" alt="PC1" loading="lazy" width="auto"
                        height="auto">
                </a>

            </div>
        </div>


    </div>
</div>

<script src="{{ 'popup0803.js' | asset_url }}" defer="defer"></script> {% endcomment %}



{% comment %}
<div id="overlay" class="overlay js-close0803">overlay</div>
<div class="modal-window0803">
    <div class="modal-window0803--inner">
        <div class="modal__frame--popup03">
            <div class="pc">
                <a class="js-close0803">
                    <img src="{{ 'popup-03_0812pc.jpg' | file_url }}" alt="PC1" loading="lazy" width="auto"
                        height="auto">
                </a>
            </div>
            <div class="sp">
                <a class="js-close0803">
                    <img src="{{ 'popup-03_0812sp.jpg' | file_url }}" alt="PC1" loading="lazy" width="auto"
                        height="auto">
                </a>

            </div>
        </div>
        <div class="modal__frame--popup02">
            <div class="pc">
                <a class="js-nextlink0812b">
                    <img src="{{ 'popup-02_0812pc.jpg' | file_url }}" alt="PC1" loading="lazy" width="auto"
                        height="auto">
                </a>
            </div>
            <div class="sp">
                <a class="js-nextlink0812b">
                    <img src="{{ 'popup-02_0812sp.jpg' | file_url }}" alt="PC1" loading="lazy" width="auto"
                        height="auto">
                </a>

            </div>
        </div>



        <div class="modal__frame--popup01">
            <div class="pc">
                <a class="js-nextlink0812a">
                    <img src="{{ 'popup-01_0812pc.jpg' | file_url }}" alt="PC1" loading="lazy" width="auto"
                        height="auto">
                </a>
            </div>
            <div class="sp">
                <a class="js-nextlink0812a">

                    <img src="{{ 'popup-01_0812sp.jpg' | file_url }}" alt="PC1" loading="lazy" width="auto"
                        height="auto">
                </a>

            </div>
        </div>
    </div>
</div>

<script src="{{ 'popup0812.js' | asset_url }}" defer="defer"></script> 


<div id="overlay" class="overlay js-close">overlay</div>
<div class="modal-window">



    <div class="pc">
        <div class="js-close spmodalblc">
            <img src="{{ 'popup-02_0819pc.jpg' | file_url }}" alt="PC1" loading="lazy" width="auto" height="auto">
        </div>

    </div>
    <div class="sp">
        <div class="js-close">
            <img src="{{ 'popup-02_0819sp.jpg' | file_url }}" alt="PC1" loading="lazy" width="auto" height="auto">
        </div>
    </div>

</div>

</div>

<script src="{{ 'popup.js' | asset_url }}" defer="defer"></script>
{% endcomment %}