<div class="phome" id="phome">
    <div class="phome__slide--wrapper ">
        <ul class="phome__slide">
            <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/top_slide01_945e2394-40f2-4baa-ab45-3d8c3324a605.png?v=1644294764" alt="slide01"  width="100%" height="auto"></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/top_slide02_a6ca3b39-cdd8-4c85-8fb1-99b0c4f33223.png?v=1644294764" alt="slide02"></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/top_slide03_257a15bf-1ec5-43f4-be7e-ffc7204819e3.png?v=1644294764" alt="slide03"></li>
        </ul>
        <div class="phome__slide--frame">Frame</div>
        <div class="phome__slide--logo">logo</div>
    </div>
    <div class="phome__slide--name fadeUpTrigger"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/top_slide.svg?v=1644294744" alt="Name"  loading="lazy" width="auto" height="auto"></div>

    <div class="phome__brand" id="concept">
        <div class="phome__brand--blc">
            <h3 class="phome__brand--ttl">(&nbsp;&nbsp;BRAND CONCEPT&nbsp;&nbsp;)</h3>
            <p class="phome__brand--concept">Concept</p>
            <p class="phome__brand--spconcept">Concept</p>
            <p class="phome__brand--txt">明日は今日よりも、もっとすてきな自分に。</p>
            <p class="phome__brand--txt">あなたの持つ感性を心のままに。<br>
                内に秘めた自分らしい美しさを見つけよう。</p>
            <p class="phome__brand--txt">perseではじまる新しい私との出会い。</p>
            <p class="phome__brand--en">Tomorrow, You will be better than you are.<br>
                Let your sensitivity wherever your heart takes you.<br>
                Find hidden your own beauty within yourself.<br>
                Meet a new you with perse.
            </p>

             <div class="fadein_block">
                <div class="phome__brand--img01 fadein02"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_brand01.png?v=1644307925" alt="1" loading="lazy" width="auto" height="auto"></div>
                <div class="phome__brand--img02 fadein03"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_brand02.png?v=1644307925" alt="2" loading="lazy" width="auto" height="auto"></div>
                <div class="phome__brand--img03 fadein04"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_brand03.png?v=1644307925" alt="3" loading="lazy" width="auto" height="auto"></div>
            </div>
        </div>
    </div>   
    

    <div class="phome__product">
        <div class="phome__product--inner">
            <div class="phome__product--rip">
                <p class="phome__product--ripttl">(&nbsp;&nbsp;ITEM 01&nbsp;&nbsp;)</p>
                <p class="phome__product--ripsub">Velvet Fix Lip Barm</p>
                <p class="phome__product--sub">ベルベット フィックス リップバーム</p>
                <div class="phome__product--slickwrap">
                <ul class="phome__product--slick">
                    <li>    
                        <div class="phome__product--slickImg">
                            <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">
                            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_rip01b_e9cb25ed-d8e6-48ea-8125-4fa4461daad3.png?v=1644628670" alt="" loading="lazy" width="auto" height="auto">
                            </a>
                        </div>
                        <p class="phome__product--price">¥1,680<span> ( inc.tax )</span></p>

                        <p class="phome__product--slickbtn"> <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">VIEW MORE</a></p>
                        <p class="phome__product--slickname">01 ヌードローズ</p>
                    </li>
                    <li>
                        <div class="phome__product--slickImg">
                            <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/">
                            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_rip02b.png?v=1644347218" alt="" loading="lazy" width="auto" height="auto">
                            </a>
                        </div>
                        <p class="phome__product--price">¥1,680<span> ( inc.tax )</span></p>

                        <p class="phome__product--slickbtn"><a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/">VIEW MORE</a></p>
                        <p class="phome__product--slickname">02 イノセントレッド</p>
                    </li>
                    <li>
                        <div class="phome__product--slickImg">
                            <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange/">
                            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_rip03b.png?v=1644347218" alt="" loading="lazy" width="auto" height="auto">
                            </a>
                        </div>
                        <p class="phome__product--price">¥1,680<span> ( inc.tax )</span></p>

                        <p class="phome__product--slickbtn"><a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange/">VIEW MORE</a></p>
                        <p class="phome__product--slickname">03 チリオレンジ</p>
                    </li>
                    <li>
                        <div class="phome__product--slickImg">
                            <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown">
                            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_rip04b.png?v=1644347218" alt="" loading="lazy" width="auto" height="auto">
                            </a>
                        </div>
                        <p class="phome__product--price">¥1,680<span> ( inc.tax )</span></p>

                        <p class="phome__product--slickbtn"><a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown">VIEW MORE</a></p>
                        <p class="phome__product--slickname">04 アーモンドブラウン</p>
                    </li>
                </ul>
                <div class="phome__product--slickkado">kadomaru</div>
                <div class="phome__product--slick02wrap">
                    <ul class="phome__product--slick02">
                        <li><a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/"><div class="phome__product--slickpro"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/color_01_wb_51679f2e-d5e7-467c-82ea-41725e6962d0.png?v=1644978820" alt=""  loading="lazy" width="auto" height="auto"></div></a></li>
                        <li><a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/"><div class="phome__product--slickpro"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/color_02_wb_1562ed71-63f6-4d4f-aedd-9be828f1e5c9.png?v=1644978820" alt=""  loading="lazy" width="auto" height="auto"></div></a></li>
                        <li><a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange/"><div class="phome__product--slickpro"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/color_03_wb_7d513389-d216-401f-9896-6df1b4e43e45.png?v=1644978821" alt=""  loading="lazy" width="auto" height="auto"></div></a></li>
                        <li><a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown"><div class="phome__product--slickpro"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/color_04_wb_6b82b05e-cab7-49f7-b950-fe166f497447.png?v=1644978820" alt=""  loading="lazy" width="auto" height="auto"></div></a></li>
                    </ul>
                </div>
            </div>
            </div>



            <div class="phome__product--lenz">
                <p class="phome__product--lenzttl">(&nbsp;&nbsp;ITEM 02&nbsp;&nbsp;)</p>
                <p class="phome__product--lenzsub">Color Contact Lenses</p>
                <p class="phome__product--sub">カラーコンタクトレンズ</p>
                <div class="phome__product--slickwrap">
                <ul class="phome__product--slick03">
                    <li>    
                        <div class="phome__product--slickImg">
                            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_lenz01.png?v=1644382296" alt="" loading="lazy" width="auto" height="auto">
                        </div>
                        <p class="phome__product--lenzprice">¥1,705<span> ( inc.tax )</span></p>

                        <p class="phome__product--slickdisable"><span>VIEW MORE</span></p>
                        <p class="phome__product--slickname">01 ヌーディーベージュ</p>
                    </li>
                    <li>
                        <div class="phome__product--slickImg">
                            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_lenz02.png?v=1644382296" alt="" loading="lazy" width="auto" height="auto">
                        </div>
                        <p class="phome__product--lenzprice">¥1,705<span> ( inc.tax )</span></p>

                        <p class="phome__product--slickdisable"><span>VIEW MORE</span></p>
                        <p class="phome__product--slickname">02 テディブラウン</p>
                    </li>
                    <li>
                        <div class="phome__product--slickImg">
                            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_lenz03.png?v=1644382296" alt="" loading="lazy" width="auto" height="auto">
                            
                        </div>
                        <p class="phome__product--lenzprice">¥1,705<span> ( inc.tax )</span></p>

                        <p class="phome__product--slickdisable"><span>VIEW MORE</span></p>
                        <p class="phome__product--slickname">03 エアーグレー</p>
                    </li>
                    <li>
                        <div class="phome__product--slickImg">
                            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_lenz04.png?v=1644382296" alt="" loading="lazy" width="auto" height="auto">
                            
                        </div>
                        <p class="phome__product--lenzprice">¥1,705<span> ( inc.tax )</span></p>

                        <p class="phome__product--slickdisable"><span>VIEW MORE</span></p>
                        <p class="phome__product--slickname">04 パームグリーン</p>
                    </li>
                </ul>
                <!-- <div class="phome__product--slick02wrap">
                    <ul class="phome__product--slick02">
                        <li><div class="phome__product--slickpro"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/color_01.png?v=1644347218" alt=""  loading="lazy" width="auto" height="auto"></div></li>
                        <li><div class="phome__product--slickpro"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/color_02.png?v=1644347218" alt=""  loading="lazy" width="auto" height="auto"></div></li>
                        <li><div class="phome__product--slickpro"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/color_03.png?v=1644347218" alt=""  loading="lazy" width="auto" height="auto"></div></li>
                        <li><div class="phome__product--slickpro"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/color_04.png?v=1644347218" alt=""  loading="lazy" width="auto" height="auto"></div></li>
                    </ul>
                </div> -->
                <div class="phome__product--slickkado">kadomaru</div>
                <div class="phome__product--comming"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/comingsoon.svg?v=1644847429" alt="" loading="lazy" width="auto" height="auto"></div>
            </div>
            </div>
        </div>
    </div>
    


    <div class="phome__pararaPc">
        <p class="phome__pararaPc--ttl"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/parara_ttl.svg?v=1644331509" alt=""  loading="lazy" width="auto" height="auto"></p>
    </div>
    <div class="phome__pararaSp2">
        <p class="phome__pararaSp2--txt"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/pararaSP2.png?v=1644917694" alt=""  loading="lazy" width="auto" height="auto"></p>
        <p class="phome__pararaSp2--ttl"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/pararaSP2_logo.svg?v=1644917675" alt=""  loading="lazy" width="auto" height="auto"></p>
    </div>
    {% comment %} <div class="phome__pararaSp">
        <p class="phome__pararaSp--ttl"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/ttl_pararaSp.svg?v=1644341989" alt=""  loading="lazy" width="auto" height="auto"></p>
    </div> {% endcomment %}
    <div class="phome__produce" id="producer">
        <div class="phome__produce--rblc">
            <h3 class="phome__produce--rttl">(&nbsp;&nbsp;PRODUCER&nbsp;&nbsp;)</h3>
            <p class="phome__produce--rsubttl">YOSHIAKI & MICHI</p>
            <div class="phome__produce--image">
                <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_producer.png?v=1644320426" alt=""  loading="lazy" width="auto" height="auto">
            </div>
            <div class="phome__produce--imageSp">
                <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_producerSp.png?v=1644329464" alt=""  loading="lazy" width="auto" height="auto">
            </div>
            <p class="phome__produce--txt">Tomorrow, You will be better than you are.<br>
                Let your sensitivity wherever your hart takes you.<br>
                Find hidden your own beauty within yourself.<br>
                Meet a new you with perse.</p>
        </div>
        <div class="phome__produce--lblc">
            <p class="phome__produce--ltxt"><span>YOSHIAKI & MICHI</span></p>
        
            <div class="phome__produce--imgs">
                <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_producer02.png?v=1644320425" alt=""  loading="lazy" width="auto" height="auto">
                
            </div>

            <p class="phome__produce--stxt">中国×日本のミックスのリアル姉弟モデル。SNSの合計フォロワー数は200万人を超え、Z世代のファッションアイコンとして圧倒的な存在感を誇る。それぞれ雑誌sweetのレギュラーモデル、TVのレギュラー番組出演など幅広いメディアで活躍。</p>
            <p class="phome__produce--sign"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/sign.png?v=1644325477" alt=""  loading="lazy" width="auto" height="auto"></p>
        </div>
    </div>
</div>  

{% comment %} 
<div id="overlay" class="overlay js-close">overlay</div>
<div class="modal-window">
    <div class="modal__frame">

        <div class="modal__frame02">
            <div class="modal__giftbox">
                <div class="modal__giftbox--img">
                    <p class="modal__giftbox--ttl">
                        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/modal_giftbox.svg?v=1645165461" alt="" loading="lazy" width="auto" height="auto">
                    </p>
                    <div class="modal__giftbox--imgb">
                        
                        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/giftbox.png?v=1646116445" alt="" loading="lazy" width="auto" height="auto">

                    </div>
                </div>
                <div class="modal__giftbox--txt">
                    <p class="modal__giftbox--txta">同時に全4色をご購入の方の中から限定200名様に<br>オリジナルギフトボックに入れてお届け！</p>
                    <p class="modal__giftbox--txtb">1回のご注文で4色ご購入の方の中から限定で200名様にオリジナルの限定ギフトボックスに入れてお届け致します。</p>
                    <p class="modal__giftbox--txtc">※ギフトボックスの在庫がなくなり次第予告なく終了となります。<br>
                        ※送付の時期については予告なく変更となる場合がございます。予めご了承ください。<br>
                        ※ギフトボックスは、お客様都合による返品・交換は承りません。<br>
                        ※営利を目的として、弊社及び弊社が販売を委託しているサイトにて商品を代理で購入し、第三者に転売することは禁止いたします。</p>
                </div>
            </div>
            <p class="modal__next js-close" id=""><span class="close">close</span><span>CLOSE&nbsp;&nbsp;&nbsp;&nbsp;2/2</span></p>

        </div> 
        <div class="modal__frame01">
            <ul class="modal__coupon">
                <li>
                    <p class="modal__coupon--ttl1">
                        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/modal_disc.svg?v=1645165461" alt="" loading="lazy" width="auto" height="auto">
                    </p>
                    <div class="modal__coupon--img1">
                        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/modal_disc2.svg?v=1645165461" alt="" loading="lazy" width="auto" height="auto">
                    </div>
                    <p class="modal__coupon--txt1">perseのオープンを記念して3月3日〜9日迄の1週間限定で、全品10％OFFキャンペーンを実中。</p>
                </li>
                <li>
                    <p class="modal__coupon--ttl2">
                        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/modal_freeshiping.svg?v=1645165461" alt="" loading="lazy" width="auto" height="auto">
                    </p>
                    <div class="modal__coupon--img2">
                        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/modal_freeshiping2.svg?v=1645165461" alt="" loading="lazy" width="auto" height="auto">
                    </div>
                    <p class="modal__coupon--txt1">perseのオープンを記念して3月3日〜9日迄の1週間限定で、送料無料キャンペーンを実施中。</p>

                </li>
            </ul>
            <p class="modal__next js-close" id="nextbtn"><span class="close">close</span><span>CLOSE</span></p>
    
        </div>  
        
    </div>

</div>

<script src="{{ 'popup.js' | asset_url }}" defer="defer"></script>	 {% endcomment %}
