<div class="rip01">
    <div class="rip01__img">
    <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_ripPro01.png?v=1644478961" alt="ベルベット フィックス リップバーム"  width="auto" height="auto" loading="lazy">
    </div>
    <div class="fadein_block">
    <p class="rip01__name">ベルベット フィックス リップバーム</p>
    <ul class="rip01__prodcut">
        <li class="fadein02">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip01_img01.png?v=1644986562" alt="01 NUDE ROSE" width="auto" height="auto" loading="lazy">
        </li>
        <li class="fadein03">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip01_img02.png?v=1644986562" alt="02 INNOCENT RED" width="auto" height="auto" loading="lazy">
        </li>
        <li class="fadein04">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip01_img03.png?v=1644986563" alt="03 CHILI ORANGE" width="auto" height="auto" loading="lazy">
        </li>
        <li class="fadein05">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip01_img04.png?v=1644986562" alt="04 ALMOND BROWN" width="auto" height="auto" loading="lazy">
        </li>
    </ul>
</div>
    <p class="rip01__feature">透け感とマット感を両立させた、<br>新感覚ベルベットリップ。</p>
    <p class="rip01__txt">スルスルと密着して色移りしにくいヨレない唇に、<br>
        ふんわりと透けるソフトな発色が新しい。<br>
        プレイフルなカラーをバーム風のラフな質感で楽しむ、<br>
        次世代ベルベットリップバーム。</p>
</div>

<div class="rip02">
    <p class="rip02__ttl"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02_ttl.svg?v=1644481393" alt="Velvet Fix Lip Balm Find Your Color"  width="auto" height="auto" loading="lazy"></p>
    <div classs="rip__slick--wrapper">
        <ul class="rip02__slick">
            <li>
                <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">
                <div class="rip02__slick--main"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02Slick01.png?v=1644914524" alt="01 NUDE ROSE" width="auto" height="auto" loading="lazy"></div>
                <p class="rip02__slick--name"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02__slick_name01.png?v=1644491012" alt="01 NUDE ROSE"  width="auto" height="auto" loading="lazy"></p>
                </a>
            </li>
            <li>
                <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/">
                <div class="rip02__slick--main"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02Slick02.png?v=1644914523" alt="02 INNOCENT RED" width="auto" height="auto" loading="lazy"></div>
                <p class="rip02__slick--name"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02__slick_name02.png?v=1644491012" alt="02 INNOCENT RED"  width="auto" height="auto" loading="lazy"></p>
            </a>
            </li>
            <li>
                <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange/">
                <div class="rip02__slick--main"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02Slick03.png?v=1644914523" alt="03 CHILI ORANGE" width="auto" height="auto" loading="lazy"></div>
                <p class="rip02__slick--name"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02__slick_name03.png?v=1644491012" alt="03 CHILI ORANGE"  width="auto" height="auto" loading="lazy"></p>
                </a>
            </li>
            <li>
                <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown">
                <div class="rip02__slick--main"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02Slick04.png?v=1644914523" alt="04 ALMOND BROWN" width="auto" height="auto" loading="lazy"></div>
                <p class="rip02__slick--name"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02__slick_name04.png?v=1644491012" alt="04 ALMOND BROWN"  width="auto" height="auto" loading="lazy"></p>
                </a>
            </li>
        </ul>

</div>
<p class="rip02__slick--txt">01 NUDE ROSE / 02 INNOCENT RED<br>
    03 CHILI ORANGE / 04 ALMOND BROWN</p>
</div>

<div class="rip03">
    <div class="rip03__wrapper">
    <p class="rip03__ttl"><span>SWATCH</span></p>
        <ul class="rip03__img">
            <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip03_swatch_01.png?v=1644546539" alt="01 NUDE ROSE" width="auto" height="auto" loading="lazy"></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip03_swatch_02.png?v=1644546539" alt="02 INNOCENT RED" width="auto" height="auto" loading="lazy"></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip03_swatch_03.png?v=1644546538" alt="03 CHILI ORANGE" width="auto" height="auto" loading="lazy"></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip03_swatch_04.png?v=1644546538" alt="04 ALMOND BROWN" width="auto" height="auto" loading="lazy"></li>
        </ul>
        <div class="rip03__blc">
            <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip03_swatch_nude.png?v=1644546539" alt="01 NUDE ROSE" width="auto" height="auto" loading="lazy">
            </a>
        </div>
        <div class="rip03__blc">
            <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip03_swatch_red.png?v=1644546539" alt="02 INNOCENT RED" width="auto" height="auto" loading="lazy">
            </a>
        </div>
        <div class="rip03__blc">
            <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange/">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip03_swatch_orange.png?v=1644546539" alt="03 CHILI ORANGE" width="auto" height="auto" loading="lazy">
            </a>
        </div>
        <div class="rip03__blc">
            <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip03_swatch_armond.png?v=1644546539" alt="04 ALMOND BROWN" width="auto" height="auto" loading="lazy">
            </a>
        </div>
    </div>
</div>

