<div class="rip01">
    <div class="rip01__img">
    <img src="{{ 'img_ripintro-fv.png' | file_url }}" alt="ベルベット フィックス リップバーム"  width="auto" height="auto" loading="lazy">
    </div>
    <div class="fadein_block">
    <ul class="rip01__prodcut">
        <li class="fadein02">
            <img src="{{ 'rip01_img01.png?v=1644986562' | file_url }}" alt="01 NUDE ROSE" width="auto" height="auto" loading="lazy">
        </li>
        <li class="fadein03">
            <img src="{{ 'rip01_img02.png?v=1644986562' | file_url }}" alt="02 INNOCENT RED" width="auto" height="auto" loading="lazy">
        </li>
        <li class="fadein04">
            <img src="{{ 'rip01_img03.png?v=1644986563' | file_url }}" alt="03 CHILI ORANGE" width="auto" height="auto" loading="lazy">
        </li>
        <li class="fadein05">
            <img src="{{ 'rip01_img04.png?v=1644986562' | file_url }}" alt="04 ALMOND BROWN" width="auto" height="auto" loading="lazy">
        </li>
        <li class="fadein06">
            <img src="{{ 'rip01_img05.png' | file_url }}" alt="05 FRENCH BROWN" width="auto" height="auto" loading="lazy">
        </li>
    </ul>
</div>
    <p class="rip01__feature">透け感とマット感を両立させた、<br>新感覚ベルベットリップ。</p>
    <p class="rip01__txt">スルスルと密着して色移りしにくいヨレない唇に、<br>
        ふんわりと透けるソフトな発色が新しい。<br>
        プレイフルなカラーをバーム風のラフな質感で楽しむ、<br>
        次世代ベルベットリップバーム。</p>
</div>

{% render 'ripcommon01' %}


{% comment %} <div class="rip02">
    <p class="rip02__ttl"><img src="{{ 'rip02_ttl.svg?v=1644481393' | file_url }}" alt="Velvet Fix Lip Balm Find Your Color"  width="auto" height="auto" loading="lazy"></p>
    <div classs="rip__slick--wrapper">
        <ul class="rip02__slick">
            <li>
                <a href="{{ routes.root_url }}products/01nuderose-limited/">
                <div class="rip02__slick--main"><img src="{{ 'rip02Slick01.png' | file_url }}" alt="01 NUDE ROSE" width="auto" height="auto" loading="lazy"></div>
                <p class="rip02__slick--name"><img  src="{{ 'rip02__slick_name01.png' | file_url }}"  alt="01 NUDE ROSE"  width="auto" height="auto" loading="lazy"></p>
                </a>
            </li>
            <li>
                <a href="{{ routes.root_url }}products/02innocentred-limited/">
                <div class="rip02__slick--main"><img src="{{ 'rip02Slick02.png' | file_url }}" alt="02 INNOCENT RED" width="auto" height="auto" loading="lazy"></div>
                <p class="rip02__slick--name"><img src="{{ 'rip02__slick_name02.png' | file_url }}" alt="02 INNOCENT RED"  width="auto" height="auto" loading="lazy"></p>
            </a>
            </li>
            <li>
                <a href="{{ routes.root_url }}products/03orange-limited/">
                <div class="rip02__slick--main"><img src="{{ 'rip02Slick03-b.png' | file_url }}" alt="03 CHILI ORANGE" width="auto" height="auto" loading="lazy"></div>
                <p class="rip02__slick--name"><img src="{{ 'rip02__slick_name03.png' | file_url }}" alt="03 CHILI ORANGE"  width="auto" height="auto" loading="lazy"></p>
                </a>
            </li>
            <li>
                <a href="{{ routes.root_url }}products/04almond-limited">
                <div class="rip02__slick--main"><img src="{{ 'rip02Slick04-b.png' | file_url }}" alt="04 ALMOND BROWN" width="auto" height="auto" loading="lazy"></div>
                <p class="rip02__slick--name"><img src="{{ 'rip02__slick_name04.png' | file_url }}" alt="04 ALMOND BROWN"  width="auto" height="auto" loading="lazy"></p>
                </a>
            </li>
            <li>
                <a href="{{ routes.root_url }}products/off05french-limited/">
                <div class="rip02__slick--main"><img src="{{ 'rip02Slick05.png' | file_url }}" alt="05 FRENCH BROWN" width="auto" height="auto" loading="lazy"></div>
                <p class="rip02__slick--name"><img src="{{ 'rip02__slick_name05.png' | file_url }}" alt="05 FRENCH BROWN"  width="auto" height="auto" loading="lazy"></p>
                </a>
            </li>
        </ul>

</div>
<p class="rip02__slick--txt">01 NUDE ROSE / 02 INNOCENT RED<br>
    03 CHILI ORANGE / 04 ALMOND BROWN / 05 FRENCH BROWN</p>
</div>

<div class="rip03">
    <div class="rip03__wrapper">
    <p class="rip03__ttl"><span>SWATCH</span></p>
        <div class="rip03__img">
            <img src="{{ 'img-rip03.png' | file_url }}" alt="01 NUDE ROSE / 02 INNOCENT RED / 03 CHILI ORANGE / 04 ALMOND BROWN / 05 FRENCH BROWN" width="auto" height="auto" loading="lazy">
        </div>
        <div class="rip03__blc">
            <a href="{{ routes.root_url }}products/01nuderose-limited/">
                <img src="{{ 'rip03_swatch_nude.png' | file_url }}" alt="01 NUDE ROSE" width="auto" height="auto" loading="lazy">
            </a>
        </div>
        <div class="rip03__blc">
            <a href="{{ routes.root_url }}products/02innocentred-limited/">
                <img src="{{ 'rip03_swatch_red.png' | file_url }}" alt="02 INNOCENT RED" width="auto" height="auto" loading="lazy">
            </a>
        </div>
        <div class="rip03__blc">
            <a href="{{ routes.root_url }}products/03orange-limited/">
                <img src="{{ 'rip03_swatch_orange.png' | file_url }}" alt="03 CHILI ORANGE" width="auto" height="auto" loading="lazy">
            </a>
        </div>
        <div class="rip03__blc">
            <a href="{{ routes.root_url }}products/04almond-limited">
                <img src="{{ 'rip03_swatch_armond.png' | file_url }}" alt="04 ALMOND BROWN" width="auto" height="auto" loading="lazy">
            </a>
        </div>
        <div class="rip03__blc">
            <a href="{{ routes.root_url }}products/off05french-limited/">
                <img src="{{ 'rip03_swatch_french.png' | file_url }}" alt="05 FRENCH BROWN" width="auto" height="auto" loading="lazy">
            </a>
        </div>
    </div>
</div> {% endcomment %}

