<section class="rnVigan" id="rnVigan">

    <div class="footer__fluid">
        <p class="footer__fluid--txt">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.svg?v=1647228464" alt="Tomorrow, You will be better than you are." width="auto" height="auto" loading="lazy">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.svg?v=1647228464" alt="Tomorrow, You will be better than you are." width="auto" height="auto" loading="lazy">
        </p>
    </div>

    <div class="rnVigan__inner">
        <picture>
            <source srcset="{{ 'img_rNvigan.webp' | file_url }}" type="image/webp">
            <img src="{{ 'img_rNvigan.jpg' | file_url }}"
                alt="100% Vegan" width="1040" height="1496"
                loading="eager">
        </picture>
        <p class="rnVigan__txt">VEGAN VITA COLLECTIONは<br>
            商品⾃体はもちろんケースやパッケージの<br>
            素材まで「EVE VEGAN」の認証を<br>
            取得したヴィーガン商品です。</p>
        <p class="rnVigan__logo">
            <picture>
                <source srcset="{{ 'logo_rNvigan.webp' | file_url }}" type="image/webp">
                <img src="{{ 'logo_rNvigan.png' | file_url }}"
                    alt="Vegan認証" width="400" height="184"
                    loading="eager">
            </picture>
        </p>


        <div class="rnVigan__accordion">
            <h3 class="rnVigan__accordion--ttl ninbus">MORE 100% VEGAN</h3>
            <div class="rnVigan__accordion--cnt">
                <p class="rnVigan__accordion--txt">VEGAN VITA COLLECTIONは、フランスの世界ヴィーガン認証機関のEVE(Expertise Vegane Europe)社から国際認証マーク「EVE VEGAN」を取得した商品です。動物の権利と環境、倫理的消費、製造過程での倫理性を⼤事にし、動物原料、動物実験原料、動物由来物質を排除した化粧品を対象としています。パッケージや容器だけでなく、製造施設の清潔さと交差汚染・混⼊防⽌のための⽣産設備があるのかも審査基準に含まれています。</p>
                <h4 class="rnVigan__accordion--close">CLOSE</h4>

            </div>
        </div>


        <div class="rnVigan__7free">
            <img src="{{ 'rNvigan_explain.svg' | file_url }}" alt="7FREE" width="840" height="1460" loading="eager">
        </div>

       
    </div>
</section>  