<div class="product">
    <div class="vita powder" id="powder">
        <div class="vita__fv">
            <div class="vita__fv--swipwrap">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" itemprop="image">
                            <picture>
                                <source srcset="{{ 'img_fv-powder01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_fv-powder01.jpg' | file_url }}" alt="VITA tone up" width="1000"
                                    height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img_fv-powder02.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_fv-powder02.jpg' | file_url }}" alt="VITA tone up" width="1000"
                                    height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img_fv-powder03.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_fv-powder03.jpg' | file_url }}" alt="VITA tone up" width="1000"
                                    height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img_fv-powder04.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_fv-powder04.jpg' | file_url }}" alt="VITA tone up" width="1000"
                                    height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img_fv-powder05.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_fv-powder05.jpg' | file_url }}" alt="VITA tone up" width="1000"
                                    height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img_fv-powder06.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_fv-powder06.jpg' | file_url }}" alt="VITA tone up" width="1000"
                                    height="1240" loading="eager" class="">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="vita__fv--kadomaru">
                    <svg version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 85 85"
                        style="enable-background:new 0 0 85 85;" xml:space="preserve">

                        <path class="st0" d="M0,85C0,38.1,38.1,0,85,0H0V85z" />
                    </svg>


                </div>
            </div><!-- clenz__fv--swipwrap -->

            <div class="mySwiper__wrapper">
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img_fv-powder01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_fv-powder01.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                    height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img_fv-powder02.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_fv-powder02.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                    height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img_fv-powder03.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_fv-powder03.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                    height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img_fv-powder04.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_fv-powder04.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                    height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img_fv-powder05.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_fv-powder05.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                    height="1240" loading="eager" class="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ 'img_fv-powder06.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_fv-powder06.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                    height="1240" loading="eager" class="">
                            </picture>
                        </div>

                    </div>
                </div>
            </div>
            <div class="swiper__arrow">
                <div class="swiper-button-next">NEXT</div>
                <div class="swiper-button-prev">PREV</div>
            </div>
        </div>

        <section class="product__de">
            <h1 class="product__de--en">Vegan Vita Filter Powder</h1>
            <h2 class="product__de--jp">ヴィーガンビタ フィルターパウダー</h2>
            <h3 class="product__de--price">¥2,180<span> ( inc.tax )</span></h3>
        </section>

        <section class="rnCartbtn">
            <div class="rnCartbtn__inner">

                <div class="rnCartbtn__blc">
                    <fieldset>
                        <div class="rnCartbtn__radiobtn">
                            <input type="radio" id="01clear" name="powder"
                                data-url="https://perseperse.myshopify.com/cart/add?id=43771979530476&quantity=1"
                                value="01 クリア" checked />
                            <label for="01clear"></label>

                            <input type="radio" id="02beige" name="powder"
                                data-url="https://perseperse.myshopify.com/cart/add?id=43771979563244&quantity=1"
                                value="02 ベージュ" />
                            <label for="02beige"></label>


                        </div>
                    </fieldset>
                    <p class="rnCartbtn__name" id="js-validastionname">01 クリア</p>

                </div>
                <a class="product__cartbtn"
                    href="https://perseperse.myshopify.com/cart/add?id=43771979530476&quantity=1" id="js-cartlink">
                    <p>BUY</p>
                    <span class="product__cartbtn--img">cartimg<span>
                </a>

                <p class="product__cartbtn--note">あと払いpaidy対応</p>
            </div>
        </section>

        {% comment %} product__cartbtn {% endcomment %}
        {% comment %}
        <div class="product__cartbtn">
            <input type="radio" id="" name="" value="">

            <form method="post" action="/cart/add">
                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                <input type="hidden" min="1" type="number" id="quantity" name="quantity" value="1" />
                <div name="id" class="product-form__option-select">
                    {% comment %} {% for variant in product.variants %}
                    <input type="radio" name="VITA POWDER" value="{{ variant.id }}">
                    {% comment %} <div>
                        <input type="radio" id="{{ variant.id }}" name="{{ variant.title }}" value="{{ variant.id }}">
                        <label for="{{ variant.id }}">{{ variant.title }}</label>
                    </div> {% endcomment %}

                    {% comment %} <option>{{ variant.title }}</option> {% endcomment %}
                    {% endfor %} {% endcomment %}
                    {% comment %} <select name="id" class="product-form__option-select">
                        {% for variant in product.variants %}
                        <option value="{{ variant.id }}">{{ variant.title }} </option>
                        {% endfor %}
                    </select> {% endcomment %}

                </div>
                <label for="persebtn">
                    <p>BUY</p>
                    <span class="product__cartbtn--img">cartimg<span>
                </label>
                <input type="submit" value="" class="" id="persebtn" />
            </form>
            <p class="product__cartbtn--note">あと払いpaidy対応</p>
        </div>
        {% endcomment %}

        {% render 'campaignbnr' %}

        <!-- ViganVita説明 -->
        <div class="vitaPowder">
            <div class="vitaPowder__inner">
                <div class="vitaPowder__inner--fv">

                    <div class="vitaPowder__picture load-fade">
                        <picture>
                            <source srcset="{{ 'img_fv-powder.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'img_fv-powder.jpg' | file_url }}" alt="VITA TONE UP" width="1040"
                                height="1610" loading="eager" class="">
                        </picture>
                        <h2 class="vitaPowder__ttl scroll-up">Vegan VITA Filter Powder</h2>
                        <h3 class="vitaPowder__subttl scroll-up02">ヴィーガンビタ フィルターパウダー</h3>
                    </div>
                    <div class="vitaPowder__fvtxt">
                        <h3 class="vitaPowder__fvtxt--ttl">肌にフィルターをかけたような 陶器肌プレストパウダー</h3>
                        <p class="vitaPowder__fvtxt--txt">ひと塗りで肌にフィルターをかけたように<br>
                            ふんわりとカバーし、陶器肌に仕上げる<br>
                            プレストタイプのフェイスパウダー。<br>
                            エアリーな軽いつけ⼼地で肌のうるおいを保ち、<br>
                            ⽪脂吸収パウダー配合で、<br>
                            ベタつきやテカリを抑え、<br>
                            美しい仕上がりをキープします。</p>
                    </div>


                    <div class="vitaPowder__color">
                        <div class="vitaPowder__color--inner">
                            <h3 class="vitaPowder__color--ttl">COLORS</h3>
                            <div class="vitaPowder__color--img">
                                <picture>
                                    <source srcset="{{ 'img_color-powder01.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_color-powder01.png' | file_url }}" alt="01 CREA" width="546"
                                        height="528" loading="eager" class="">
                                </picture>
                            </div>
                            <p class="vitaPowder__color--txt">肌トーンやファンデーションの⾊味を問わず<br>
                                使えるクリアタイプ。</p>


                            <div class="vitaPowder__color--img powder02">
                                <picture>
                                    <source srcset="{{ 'img_color-powder02.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_color-powder02.png' | file_url }}" alt="02 BEIGE" width="546"
                                        height="548" loading="eager" class="">
                                </picture>
                            </div>
                            <p class="vitaPowder__color--txt">ヴェールをかけたように肌に溶け込む<br>
                                クリアベージュタイプ。</p>
                        </div>
                    </div>
                </div>



                <section class="vitaPowder__intro">
                    <div class="vitaPowder__intro01 load-fade">
                        <div class="vitaPowder__intro01--img">
                            <picture>
                                <source srcset="{{ 'img_intro01-powder.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_intro01-powder.jpg' | file_url }}" alt="Vigan Vita Filter Powder"
                                    width="984" height="1628" loading="eager" class="">
                            </picture>
                        </div>
                        <h2 class="vitaPowder__intro01--ttl scroll-up">Vigan Vita Filter Powder</h2>
                        <h3 class="vitaPowder__intro01--subttl scroll-up02">01 CLEAE 02 BEIGE</h3>

                    </div>
                    <div class="vitaPowder__intro02 load-fade">
                        <div class="vitaPowder__intro02--img">
                            <picture>
                                <source srcset="{{ 'img_intro02-powder.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_intro02-powder.jpg' | file_url }}" alt="Vigan Vita Filter Powder"
                                    width="1040" height="1478" loading="eager" class="">
                            </picture>
                        </div>
                        <h2 class="vitaPowder__intro02--ttl scroll-up">How to Get Filter Powder</h2>
                        <h3 class="vitaPowder__intro02--subttl scroll-up02">Vigan Vita Filter Powder</h3>

                    </div>
                    <div class="vitaPowder__intro03">
                        <h2 class="vitaPowder__intro03--ttl">POINT 01</h2>
                        <h3 class="vitaPowder__intro03--subttl">超微細粒⼦フィルターパウダーで<br>
                            理想の陶器肌へ</h3>
                        <p class="vitaPowder__intro03--txt">パールが配合された微細なパウダー粒⼦が⽪膚へ柔らかく密着。ミネラル成分シリカの光を拡散するソフトフォーカス効果で、ただマットに仕上がるパウダーとは違う光沢感を与え、フィルターがかったような理想の陶器肌を演出します。</p>
                    </div>
                    <div class="vitaPowder__intro04 load-fade">
                        <div class="vitaPowder__intro04--img">
                            <picture>
                                <source srcset="{{ 'img_intro04-powder.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_intro04-powder.png' | file_url }}" alt="Vigan Vita Filter Powder"
                                    width="1040" height="1665" loading="eager" class="">
                            </picture>
                        </div>
                        <h2 class="vitaPowder__intro04--ttl scroll-up">Ultrafine ...</h2>
                        <h3 class="vitaPowder__intro04--subttl scroll-up02">Tomorrow ...</h3>

                    </div>
                    <div class="vitaPowder__intro05 load-fade">
                        <div class="vitaPowder__intro05--img scroll-up">
                            <picture>
                                <source srcset="{{ 'img_intro05-powder.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_intro05-powder.jpg' | file_url }}" alt="Natural Filter Skin"
                                    width="1010" height="1402" loading="eager" class="">
                            </picture>
                        </div>
                    </div>
                    <div class="vitaPowder__intro06">
                        <h2 class="vitaPowder__intro06--ttl">POINT 02</h2>
                        <h3 class="vitaPowder__intro06--subttl">ベタつきやテカリを抑え、<br>
                            肌トーンを補正<sup>＊</sup>し<br>
                            メイクを⻑時間キープ</h3>
                        <p class="vitaPowder__intro06--txt">⽪脂吸着パウダー配合でべたつきを抑え、<br>
                            化粧崩れをブロック。⽪膚表⾯の油⽔分を調節し、<br>さらさらすべすべなブラー肌へ。</p>
                        <p class="vitaPowder__intro06--note">＊メイクアップ効果</p>
                    </div>
                    <div class="vitaPowder__intro07 load-fade">
                        <div class="vitaPowder__intro07--img scroll-up">
                            <picture>
                                <source srcset="{{ 'img_intro07-powder.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_intro07-powder.jpg' | file_url }}" alt="Natural Filter Skin"
                                    width="1040" height="1100" loading="eager" class="">
                            </picture>
                        </div>
                    </div>
                    
                </section>


                <section class="vitaPowder__setumei">
                    <div class="vitaPowder__setumei--point03">
                        <h2 class="vitaPowder__setumei--point03-ttl">POINT 03</h2>
                        <h3 class="vitaPowder__setumei--point03-subttl">ノンコメドジェニック処⽅で<br>
                            肌にやさしく⽯鹸落ち</h3>
                        <p class="vitaPowder__setumei--point03-txt">デイリーで使って欲しいアイテムだからこそ、<br>
                            肌にやさしいノンコメドジェニック処⽅。<br>
                            クレンジングいらずで簡単に⽯鹸で落とせます。</p>
                        <p class="vitaPowder__setumei--point03-note">※単品使⽤の場合</p>
                    </div>

                    <div class="vitaPowder__setumei01 load-fade">
                        <div class="vitaPowder__setumei01--img scroll-up">
                            <picture>
                                <source srcset="{{ 'img_setumei01-powder.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_setumei01-powder.jpg' | file_url }}" alt="Natural Filter Skin"
                                    width="840" height="1184" loading="eager" class="">
                            </picture>
                        </div>
                    </div>
                    <div class="vitaPowder__setumei02 load-fade">
                        <div class="vitaPowder__setumei02--img scroll-up">
                            <picture>
                                <source srcset="{{ 'img_setumei02-powder.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_setumei02-powder.jpg' | file_url }}" alt="Natural Filter Skin"
                                    width="934" height="1162" loading="eager" class="">
                            </picture>
                        </div>
                    </div>
                    <div class="vitaPowder__setumei03 load-fade">
                        <div class="vitaPowder__setumei03--blc scroll-up">
                            <h2 class="vitaPowder__setumei03--ttl">POINT04</h2>
                            <h3 class="vitaPowder__setumei03--subttl">欲張り美容成分<br>
                                VITA-9 COMPLEX<sup>*1</sup><br>
                                CICA<sup>*2</sup>配合</h3>
                            <p class="vitaPowder__setumei03--txt">特許成分である9種のビタミン成分コンプレックス（VITA-9 COMPLEX<sup>*1</sup>）が、⽔分が蒸発することのなく肌の奥までたっぷりと潤いを与え透明感<sup>*3</sup>をプラス。その他にもCICA<sup>*2</sup>・ナイアシンアミド<sup>*4</sup>・パンテーノール<sup>*5</sup>配合で素肌そのものをいたわる美容成分を豊富に配合。</p>
                            <p class="vitaPowder__setumei03--note">＊1アスコルビルリン酸Na、酢酸トコフェロール、パンテノール、シアノコバラミン、ビオチン、ピリドキシン、葉酸、チアミンHCl、ナイアシンアミド(保湿・整肌成分) ＊2ツボクサ根エキス(保湿剤) ＊3保湿による肌印象 ＊4保湿剤 ＊5保湿剤</p>
                        </div>
                    </div>
                </section>


                <section class="vitaPowder__feature">  
                    <div class="vitaPowder__feature--fv">
                        <picture>
                            <source srcset="{{ 'img_feature--powder.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'img_feature--powder.jpg' | file_url }}" alt="Natural Filter Skin"
                                width="970" height="1330" loading="eager" class="">
                        </picture>
                    </div>
                    <div class="vitaPowder__feature--blc">
                        <div class="vitaPowder__feature--blc01 load-fade">
                            <div class="vitaPowder__feature--img scroll-up">
                                <picture>
                                    <source srcset="{{ 'img01_feature--powder.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img01_feature--powder.png' | file_url }}" alt="Natural Filter Skin"
                                        width="282" height="282" loading="eager" class="">
                                </picture>
                            </div>
                            <p class="vitaPowder__feature--txt01">ふんわりナチュラル仕上げ</p>

                        </div>
                        <div class="vitaPowder__feature--blc02 load-fade">
                            <div class="vitaPowder__feature--img scroll-up">
                                <picture>
                                    <source srcset="{{ 'img02_feature--powder.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img02_feature--powder.png' | file_url }}" alt="Natural Filter Skin"
                                        width="282" height="282" loading="eager" class="">
                                </picture>
                            </div>
                            <p class="vitaPowder__feature--txt02">しっかりカバー仕上げ</p>
                            
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <!--- ViganVita説明 -->

        <!-- <div class="vitaPowderFeture">
            <div class="vitaPowderFeture__img">
                <picture>
                    <source srcset="{{ 'img_serum-feature.webp' | file_url }}" type="image/webp">
                    <img src="{{ 'img_serum-feature.png' | file_url }}" alt="VITA TONE UP" width="472" height="608"
                        loading="eager" class="">
                </picture>
            </div>
            <p class="vitaPowder__txt02">デイリー使いにピッタリな爽やかで<br>
                清潔感のある⾹り。<br>
                みずみずしくほのかに⾹ります。</p>

        </div>

        <div class="vitaPowderHowto">
            <picture>
                <source srcset="{{ 'img_serum-howto.webp' | file_url }}" type="image/webp">
                <img src="{{ 'img_serum-howto.png' | file_url }}" alt="VITA TONE UP" width="972" height="1318"
                    loading="eager" class="">
            </picture>
            <div class="vitaPowderHowto__blc">
                <p class="vitaPowderHowto__blc--txt">スキンケアで肌を整えた後、<br>
                    顔全体にムラなく馴染ませてください。</p>
                <p class="vitaPowderHowto__blc--txt2">VEGAN VITA SUN SERUMの<br>
                    次に使⽤するアイテムがある際には、<br>
                    ⼗分に吸収した後にご使⽤することをお勧めします。</p>
            </div>
        </div> -->
        {% render 'befriend' %}
        {% render 'rNvigan' %}

        <section class="seibunrN">
            <div class="seibunrN__inner">
                <div class="rnVigan__accordion">
                    <h3 class="rnVigan__accordion--ttl">全成分</h3>
                    <div class="rnVigan__accordion--cnt">
                        <p class="rnVigan__accordion--txt">
                            01 CLEAR : タルク、ナイロン－１２、オキシ塩化ビスマス、シリカ、ジメチコン、ラウリン酸ヘキシル、トリエトキシカプリリルシラン、合成フルオロフロゴパイト、酢酸トコフェロール、１．２－ヘキサンジオール、酸化チタン、カプリル酸グリセリル、水、ナイアシンアミド、グリセリン、水添レシチン、ステアリン酸ポリグリセリル－１０、ツボクサエキス、パンテノール、アスコルビルリン酸Ｎａ、ビオチン、シアノコバラミン、チアミンＨＣｌ、葉酸、ピリドキシン<br><br>
                            02 SKIN BEIGE : タルク、ナイロン－１２、オキシ塩化ビスマス、シリカ、ジメチコン、ラウリン酸ヘキシル、ツボクサエキス、水添レシチン、トリエトキシカプリリルシラン、合成フルオロフロゴパイト、酢酸トコフェロール、１．２－ヘキサンジオール、酸化チタン、カプリル酸グリセリル、水、ナイアシンアミド、グリセリン、ステアリン酸ポリグリセリル－１０、パンテノール、アスコルビルリン酸Ｎａ、ビオチン、シアノコバラミン、チアミンＨＣｌ、葉酸、ピリドキシン、黄酸化鉄、ベンガラ、黒酸化鉄
                        </p>
                        <h4 class="rnVigan__accordion--close">CLOSE</h4>

                    </div>
                </div>
            </div>
        </section>


        <section class="vitaOthers">
            <h2 class="vitaOthers__ttl">OTHERS</h2>

            <div class="vitaOthers__inner">
                <div class="vitaOthers__blc">
                    <a href="{{ routes.root_url }}products/vegan-vita-sun-serum">
                        <picture>
                            <source srcset="{{ 'img_other-vita01.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'img_other-vita01.png' | file_url }}" alt="OtherItems01" width="520"
                                height="672" loading="eager">
                        </picture>
                    </a>
                    <p class="vitaOthers__name">ヴィーガンビタ<br>サンセラム</p>
                    <p class="vitaOthers__price">¥2,680<span> ( inc.tax )</span></p>
                </div>
                <div class="vitaOthers__blc">
                    <a href="{{ routes.root_url }}products/vegan-vita-tone-up-base/">
                        <picture>
                            <source srcset="{{ 'img_other-vita01a.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'img_other-vita01a.png' | file_url }}" alt="OtherItems01" width="520"
                                height="672" loading="eager">
                        </picture>
                    </a>
                    <p class="vitaOthers__name">ヴィーガンビタ<br>トーンアップベース</p>
                    <p class="vitaOthers__price">¥2,480<span> ( inc.tax )</span></p>
                </div>

                <div class="vitaOthers__blc">
                    <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">
                        <picture>
                            <source srcset="{{ 'img_other-vita03.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'img_other-vita03.png' | file_url }}" alt="OtherItems01" width="520"
                                height="672" loading="eager">
                        </picture>
                    </a>
                    <p class="vitaOthers__name">ベルベット フィックス リップバーム<br>01 ヌードローズ</p>
                    <p class="vitaOthers__price">¥1,680<span> ( inc.tax )</span></p>
                </div>
            </div>
        </section>






    </div>
</div>