<div class="product" id="vita">
    <div class="vita powder" id="powder">
        <div class="vita__fv">
            <div class="vita__fv--swipwrap">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{{ 'vitaset_swipe-01.jpg' | file_url }}" alt="VITA TONE UP" width="2000"
                                height="2480" loading="eager" class="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ 'vitaset_swipe-clear.jpg' | file_url }}" alt="VITA TONE UP" width="2000"
                                height="2480" loading="eager" class="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ 'img_fv-serum03-big.jpg' | file_url }}" alt="VITA tone up" width="2000"
                                height="2480" loading="eager" class="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ 'img_fv-toneup03-big.jpg' | file_url }}" alt="VITA tone up" width="2000"
                                height="2480" loading="eager" class="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ 'img_fv-powder03.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                height="1240" loading="eager" class="">
                        </div>
                    </div>
                </div>
                <div class="vita__fv--kadomaru">
                    <svg version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 85 85"
                        style="enable-background:new 0 0 85 85;" xml:space="preserve">

                        <path class="st0" d="M0,85C0,38.1,38.1,0,85,0H0V85z" />
                    </svg>


                </div>
            </div><!-- clenz__fv--swipwrap -->

            <div class="mySwiper__wrapper">
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{{ 'vitaset_swipe-01.jpg' | file_url }}" alt="VITA TONE UP" width="2000"
                                height="2480" loading="eager" class="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ 'vitaset_swipe-clear.jpg' | file_url }}" alt="VITA TONE UP" width="2000"
                                height="2480" loading="eager" class="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ 'img_fv-serum03-big.jpg' | file_url }}" alt="VITA tone up" width="2000"
                                height="2480" loading="eager" class="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ 'img_fv-toneup03-big.jpg' | file_url }}" alt="VITA tone up" width="2000"
                                height="2480" loading="eager" class="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ 'img_fv-powder03.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                height="1240" loading="eager" class="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper__arrow">
                <div class="swiper-button-next">NEXT</div>
                <div class="swiper-button-prev">PREV</div>
            </div>
        </div>

        <div class="vita__fv02" id="vitaPowder02">
            <div class="vita__fv--swipwrap">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{{ 'vitaset_swipe-01.jpg' | file_url }}" alt="VITA TONE UP" width="2000"
                                height="2480" loading="eager" class="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ 'vitaset_swipe-beige.jpg' | file_url }}" alt="VITA TONE UP" width="2000"
                                height="2480" loading="eager" class="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ 'img_fv-serum03-big.jpg' | file_url }}" alt="VITA tone up" width="2000"
                                height="2480" loading="eager" class="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ 'img_fv-toneup03-big.jpg' | file_url }}" alt="VITA tone up" width="2000"
                                height="2480" loading="eager" class="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ 'img_fv-powder04.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                height="1240" loading="eager" class="">
                        </div>
                    </div>
                </div>
                <div class="vita__fv--kadomaru">
                    <svg version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 85 85"
                        style="enable-background:new 0 0 85 85;" xml:space="preserve">

                        <path class="st0" d="M0,85C0,38.1,38.1,0,85,0H0V85z" />
                    </svg>


                </div>
            </div><!-- clenz__fv--swipwrap -->

            <div class="mySwiper__wrapper">
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{{ 'vitaset_swipe-01.jpg' | file_url }}" alt="VITA TONE UP" width="2000"
                                height="2480" loading="eager" class="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ 'vitaset_swipe-beige.jpg' | file_url }}" alt="VITA TONE UP" width="2000"
                                height="2480" loading="eager" class="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ 'img_fv-serum03-big.jpg' | file_url }}" alt="VITA tone up" width="2000"
                                height="2480" loading="eager" class="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ 'img_fv-toneup03-big.jpg' | file_url }}" alt="VITA tone up" width="2000"
                                height="2480" loading="eager" class="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ 'img_fv-powder04.jpg' | file_url }}" alt="VITA TONE UP" width="1000"
                                height="1240" loading="eager" class="">
                        </div>
                    </div>
                </div>  
            </div>
            <div class="swiper__arrow">
                <div class="swiper-button-next">NEXT</div>
                <div class="swiper-button-prev">PREV</div>
            </div>
        </div>

        <section class="product__de">
            <h1 class="product__de--en">Vegan Vita Collection Limited Set</h1>
            <h2 class="product__de--jp">ヴィーガンビタコレクション 限定企画セット</h2>
           <h3 class="product__de--price"><p class="dashed">¥7,340</p>¥5,872<span> ( inc.tax )</span></h3>  

            <!-- <h3 class="product__de--price">¥5,872<span> ( inc.tax )</span></h3> -->
        </section>

        <section class="rnCartbtn">
            <div class="rnCartbtn__inner">

                <div class="rnCartbtn__blc">
                    <fieldset>
                        <div class="rnCartbtn__radiobtn">
                            <input type="radio" id="01clear" name="powder"
                                data-url="https://perseperse.myshopify.com/cart/add?id=43771979530476&quantity=1"
                                value="01 CLEAR" checked />
                            <label for="01clear"></label>

                            <input type="radio" id="02beige" name="powder"
                                data-url="https://perseperse.myshopify.com/cart/add?id=43771979563244&quantity=1"
                                value="02 SKIN BEIGE" />
                            <label for="02beige"></label>


                        </div>
                    </fieldset>
                    <p class="rnCartbtn__name" id="js-validastionname">01 CLEAR</p>

                </div>
                <!-- <a class="product__cartbtn"
                    href="https://perseperse.myshopify.com/cart/add?id=43771979530476&quantity=1" id="js-cartlink">
                    <p>BUY</p>
                    <span class="product__cartbtn--img">cartimg<span>
                </a> -->

            <div class="product__cartbtn--disable"
                style="overflow: hidden; display: block; margin-bottom :100px;">
                COMING SOON <br>
                <span>2023.6.21(WED)12:00〜</span>
            </div>
            
        </section>

        {% render 'campaignbnr' %}


        <!-- ViganVitaSerum説明 -->
        {% comment %} <div class="vitaSerum">
            <div class="vitaSerum__inner">
                <div class="vitaSerum__inner--fv">

                    <div class="vitaSerum__picture load-fade">
                        <picture>
                            <source srcset="{{ 'mainimg_fv-serumb.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'mainimg_fv-serumb.jpg' | file_url }}" alt="VITA TONE UP" width="1040"
                                height="1566" loading="eager" class="">
                        </picture>
                        <h2 class="vitaSerum__ttl scroll-up">Vegan VITA Sun Serum</h2>
                        <h3 class="vitaSerum__subttl scroll-up02">ヴィーガンビタ サンセラム SPF50+ PA++++</h3>
                    </div>



                    <div class="load-fade vitaSerum__intro">
                        <h3 class="vitaSerum__intro--ttl scroll-up">美容液感覚で使える⽔分ベースの<br>ジェル状⽇焼け⽌め</h3>
                        <p class="vitaSerum__intro--txt scroll-up02">⽔分たっぷりの美容液のような<br>
                            軽いジェル状テクスチャーで、<br>
                            お肌が⽩浮きすることなくスキンケア感覚で<br>
                            しっとりとした潤い感をチャージできる<br>
                            新感覚の⽇焼け⽌めセラム下地。
                        </p>
                        <div class="vitaSerum__intro--img">
                            <picture>
                                <source srcset="{{ 'img_serumintro01.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_serumintro01.png' | file_url }}" alt="VITA SERUM" width="372"
                                    height="372" loading="eager" class="">
                            </picture>
                        </div>

                    </div>

                </div>


            </div>
        </div> {% endcomment %}
        <!-- ViganVitaSerum説明 -->

        <!-- ViganVitaToneUP説明 -->
        {% comment %} <div class="vitaTone">
            <div class="vitaTone__inner">
                <div class="vitaTone__inner--fv">
                    <div class="vita__picture">
                        <picture>
                            <source srcset="{{ 'img_toneup01-big.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'img_toneup01-big.jpg' | file_url }}" alt="VITA TONE UP" width="2080" height="2744"
                                loading="eager" class="">
                        </picture>
                    </div>
                    <div class="load-fade">
                        <h3 class="vitaTone__subttl">Vegan Vita Tone Up Base</h3>
                        <p class="vitaTone__txt">ヴィーガンビタ トーンアップベース</p>
                        <div class="vitaTone__product">
                            <picture>
                                <source srcset="{{ 'img_toneup_clearbeige.webp' | file_url }}" type="image/webp">
                                <img src="{{ 'img_toneup_clearbeige.png' | file_url }}" alt="VITA TONE UP" width="516"
                                    height="516" loading="eager" class="">
                            </picture>
                            <p class="vitaTone__product--txt scroll-up">Clear Beighe</p>
                        </div>
                        <p class="vitaTone__product--ttl">1本でベースメイクが完成する<br>
                            オールインワンUV下地</p>

                        <p class="vitaTone__product--txt2">⽇焼け⽌め・お肌のアラ隠し・トーンアップ全てが<br>
                            叶うオールインワントーンアップクリーム。<br>
                            デイリー使いにも嬉しいノンケミカル処⽅で<br>
                            やさしい使⽤感と豊富な美容成分で<br>
                            ノーファンデでも素肌に⾃信を。</p>
                    </div>
                </div>



            </div>
        </div> {% endcomment %}
        <!-- ViganVita ToneUP 説明 -->
        <!-- ViganVita説明 -->
        {% comment %} <div class="vitaPowder">
            <div class="vitaPowder__inner">
                <div class="vitaPowder__inner--fv">

                    <div class="vitaPowder__picture load-fade">
                        <picture>
                            <source srcset="{{ 'img_fv-powder-big.webp' | file_url }}" type="image/webp">
                            <img src="{{ 'img_fv-powder-big.jpg' | file_url }}" alt="VITA TONE UP" width="2080"
                                height="3220" loading="eager" class="">
                        </picture>
                        <h2 class="vitaPowder__ttl scroll-up">Vegan VITA Filter Powder</h2>
                        <h3 class="vitaPowder__subttl scroll-up02">ヴィーガンビタ フィルターパウダー</h3>
                    </div>
                    <div class="vitaPowder__fvtxt">
                        <h3 class="vitaPowder__fvtxt--ttl">肌にフィルターをかけたような 陶器肌プレストパウダー</h3>
                        <p class="vitaPowder__fvtxt--txt">ひと塗りで肌にフィルターをかけたように<br>
                            ふんわりとカバーし、陶器肌に仕上げる<br>
                            プレストタイプのフェイスパウダー。<br>
                            エアリーな軽いつけ⼼地で肌のうるおいを保ち、<br>
                            ⽪脂吸収パウダー配合で、<br>
                            ベタつきやテカリを抑え、<br>
                            美しい仕上がりをキープします。</p>
                    </div>


                    <div class="vitaPowder__color">
                        <div class="vitaPowder__color--inner">
                            <h3 class="vitaPowder__color--ttl">COLORS</h3>
                            <div class="vitaPowder__color--img">
                                <picture>
                                    <source srcset="{{ 'img_color-powder01.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_color-powder01.png' | file_url }}" alt="01 CREA" width="546"
                                        height="528" loading="eager" class="">
                                </picture>
                            </div>
                            <p class="vitaPowder__color--txt">肌トーンやファンデーションの⾊味を問わず<br>
                                使えるクリアタイプ。</p>


                            <div class="vitaPowder__color--img powder02">
                                <picture>
                                    <source srcset="{{ 'img_color-powder02.webp' | file_url }}" type="image/webp">
                                    <img src="{{ 'img_color-powder02.png' | file_url }}" alt="02 BEIGE" width="546"
                                        height="548" loading="eager" class="">
                                </picture>
                            </div>
                            <p class="vitaPowder__color--txt">ヴェールをかけたように肌に溶け込む<br>
                                クリアベージュタイプ。</p>
                        </div>
                    </div>
                </div>

            </div>
        </div> {% endcomment %}
        <!--- ViganVita説明 -->

        {% comment %} {% render 'befriend' %}
        {% render 'rNvigan' %}

        <section class="seibunrN">
            <div class="seibunrN__inner">
                <div class="rnVigan__accordion">
                    <h3 class="rnVigan__accordion--ttl">全成分</h3>
                    <div class="rnVigan__accordion--cnt">

                        {% comment %} パウダー {% endcomment %}
                        <p class="rnVigan__accordion--txt">
                            Vegan Vita Sun Serum : 水、アジピン酸ジブチル、サリチル酸ブチルオクチル、トリ（カプリル酸／カプリン酸）グリセリル、エチルヘキシルトリアゾン、パンテノール、テレフタリリデンジカンフルスルホン酸、ビスエチルヘキシルオキシフェノールメトキシフェニルトリアジン、ナイアシンアミド、トロメタミン、水添ポリオレフィン（Ｃ６－２０）、１．２－ヘキサンジオール、ジエチルアミノヒドロキシベンゾイル安息香酸ヘキシル、ペンチレングリコール、ポリシリコーン－１５、ツボクサエキス、水添レシチン、（アクリレーツ／アクリル酸アルキル（Ｃ１０－３０））クロスポリマー、（ＨＤＩ／トリメチロールヘキシルラクトン）クロスポリマー、アデノシン、トコフェロール、グリセリン、ステアリン酸ポリグリセリル－１０、アスコルビルリン酸Ｎａ、酢酸トコフェロール、ビオチン、チアミンＨＣｌ、葉酸、ピリドキシン、シアノコバラミン、香料、エチルヘキシルグリセリン
                        </p>
                        <p class="rnVigan__accordion--txt">
                            Vegan Vita Tone Up Base : 水、酸化亜鉛、シクロヘキサシロキサン、パンテノール、プロパンジオール、カプリル酸プロピルヘプチル、ナイアシンアミド、酸化チタン、カプリリルメチコン、サリチル酸ブチルオクチル、ポリグリセリル－３ポリジメチルシロキシエチルジメチコン、トリメチルシロキシケイ酸、メチルトリメチコン、水添レシチン、ジステアルジモニウムヘクトライト、硫酸Ｍｇ、メタクリル酸メチルクロスポリマー、トコフェロール、トリエトキシカプリリルシラン、１．２－ヘキサンジオール、ジポリヒドロキシステアリン酸ポリグリセリル－２、ラウリルポリグリセリル－３ポリジメチルシロキシエチルジメチコン、グリセリン、（カプリル酸／カプリン酸）ヤシアルキル、水酸化Ａｌ、ポリクオタニウム－５１、カプリル酸グリセリル、カプリリルグリコール、マイカ、ポリヒドロキシステアリン酸、エチルヘキシルグリセリン、アデノシン、ステアリン酸ポリグリセリル－１０、酢酸トコフェロール、アスコルビルリン酸Ｎａ、ピリドキシン、葉酸、ビオチン、チアミンＨＣｌ、アジピン酸ジブチル、ポリアクリル酸アルキル（Ｃ１０－３０）、シアノコバラミン、黄酸化鉄、ベンガラ、黒酸化鉄
                        </p>
                        <p class="rnVigan__accordion--txt">
                            Vegan Vita Filter Powder 01 CLEAR : タルク、ナイロン－１２、オキシ塩化ビスマス、シリカ、ジメチコン、ラウリン酸ヘキシル、トリエトキシカプリリルシラン、合成フルオロフロゴパイト、酢酸トコフェロール、１．２－ヘキサンジオール、酸化チタン、カプリル酸グリセリル、水、ナイアシンアミド、グリセリン、水添レシチン、ステアリン酸ポリグリセリル－１０、ツボクサエキス、パンテノール、アスコルビルリン酸Ｎａ、ビオチン、シアノコバラミン、チアミンＨＣｌ、葉酸、ピリドキシン<br><br>
                            Vegan Vita Filter Powder 02 SKIN BEIGE : タルク、ナイロン－１２、オキシ塩化ビスマス、シリカ、ジメチコン、ラウリン酸ヘキシル、ツボクサエキス、水添レシチン、トリエトキシカプリリルシラン、合成フルオロフロゴパイト、酢酸トコフェロール、１．２－ヘキサンジオール、酸化チタン、カプリル酸グリセリル、水、ナイアシンアミド、グリセリン、ステアリン酸ポリグリセリル－１０、パンテノール、アスコルビルリン酸Ｎａ、ビオチン、シアノコバラミン、チアミンＨＣｌ、葉酸、ピリドキシン、黄酸化鉄、ベンガラ、黒酸化鉄
                        </p>
                        <h4 class="rnVigan__accordion--close">CLOSE</h4>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}

        <section class="vitaset__feature">
            <div class="vitaset__feature--ttl">
                Vegan Vita Collection 限定企画セット
            </div>
            <p class="vitaset__feature--txt">VEGAN VITA COLLECTIONの発売を記念して<br>
                オリジナルのポーチがついた100個限定の<br>
                スペシャル企画セットが特別価格で登場</p>

            <p class="vitaset__feature--subttl">Set Item</p>

            <ul class="vitaset__lists">
                <li>
                    <a href="{{ routes.root_url }}products/vegan-vita-sun-serum">

                    <img src="{{ 'vitaset__p01.jpg' | file_url }}" alt="OtherItems01" width="1005"
                    height="524" loading="eager">
                    </a>
                </li>
                <li>
                    <a href="{{ routes.root_url }}products/vegan-vita-tone-up-base/">

                    <img src="{{ 'vitaset__p02.jpg' | file_url }}" alt="OtherItems01" width="1005"
                    height="524" loading="eager">
                </a>

                </li>
                <li>
                    <div class="vitaset__clear">
                        <a href="{{ routes.root_url }}products/vegan-vita-filter-powder">

                        <img src="{{ 'vitaset__p03.jpg' | file_url }}" alt="OtherItems01" width="1005"
                        height="524" loading="eager">
                        </a>
                    </div>
                    <div class="vitaset__beige">
                        <a href="{{ routes.root_url }}products/vegan-vita-filter-powder?variant=43771979563244">

                        <img src="{{ 'vitaset__p03-b.jpg' | file_url }}" alt="OtherItems01" width="1005"
                        height="524" loading="eager">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="vitaset__clear">
                        <img src="{{ 'vitaset__p04.jpg' | file_url }}" alt="OtherItems01" width="1005"
                        height="524" loading="eager">
                    </div>
                    <div class="vitaset__beige">
                        <img src="{{ 'vitaset__p04-b.jpg' | file_url }}" alt="OtherItems01" width="1005"
                        height="524" loading="eager">
                    </div>
                </li>
            </ul>
        </section>
        

        <section class="vitaOthers">
            <h2 class="vitaOthers__ttl">OTHERS</h2>

            <div class="vitaOthers__inner">
                <div class="vitaOthers__blc">
                    <a href="{{ routes.root_url }}products/vegan-vita-sun-serum">
                        <img src="{{ 'img_other-vita01.png' | file_url }}" alt="OtherItems01" width="520"
                        height="672" loading="eager">
                    </a>
                    <p class="vitaOthers__name">ヴィーガンビタ<br>サンセラム</p>
                    <p class="vitaOthers__price">¥2,680<span> ( inc.tax )</span></p>
                </div>
                <div class="vitaOthers__blc">
                    <a href="{{ routes.root_url }}products/vegan-vita-tone-up-base/">
                        <img src="{{ 'img_other-vita01a.png' | file_url }}" alt="OtherItems01" width="520"
                        height="672" loading="eager">
                    </a>
                    <p class="vitaOthers__name">ヴィーガンビタ<br>トーンアップベース</p>
                    <p class="vitaOthers__price">¥2,480<span> ( inc.tax )</span></p>
                </div>

                <div class="vitaOthers__blc">
                    <a href="{{ routes.root_url }}products/vegan-vita-filter-powder">
                        <img src="{{ 'img_other-vita02.png' | file_url }}" alt="OtherItems01" width="520"
                        height="672" loading="eager">
                    </a>
                    <p class="vitaOthers__name">ヴィーガンビタ<br>フィルターパウダー<br>01 クリア</p>
                    <p class="vitaOthers__price">¥2,180<span> ( inc.tax )</span></p>
                </div>
            </div>
        </section>






    </div>
</div>