<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ shop.url | append: product.url | json }},
      {% if seo_media -%}
        {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
        "image": [
          {{ seo_media | img_url: media_size | prepend: "https:" | json }}
        ],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      "brand": {
        "@type": "Thing",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ shop.url | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
  </script>
  


<div class="product">
    <div class="velvetfixlipbalm-frenchbrown" id="velvetfixlipbalm-frenchbrown">	        <div class="product__slickwrap">
            <ul class="product__slick">

                <li><img src="{{ 'img01_productRip05.png' | file_url }}" alt="05 French Brown" loading="lazy" width="auto" height="auto"></li>
                <li><img src="{{ 'img02_productRip05.png' | file_url }}" alt="05 French Brown" loading="lazy" width="auto" height="auto"></li>
                <li><img src="{{ 'img03_productRip05.png' | file_url }}" alt="05 French Brown" loading="lazy" width="auto" height="auto"></li>
                <li><img src="{{ 'img04_productRip05.png' | file_url }}" alt="05 French Brown" loading="lazy" width="auto" height="auto"></li>
                <li><img src="{{ 'img05_productRip05.png' | file_url }}" alt="05 French Brown" loading="lazy" width="auto" height="auto"></li>

            </ul>
            <div class="product__frame"><img
                    src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rframe.png?v=1644412894" alt="05 French Brown"
                    width="auto" height="auto" loading="lazy"></div>
        </div>
        <section class="product__de">
            <h1 class="product__de--en">Velvet Fix Lip Balm</h1>
            <h2 class="product__de--jp">ベルベット フィックス リップバーム</h2>
            <h3 class="product__de--price">¥1,680<span> ( inc.tax )</span></h3>
            <div class="product__de--color">
                <div class="product__de--color-rnwrap"> 
                <ul class="product__deLink">
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">
                            <img src="{{ 'dot_rip01.png' | file_url }}" alt="01" width="auto" height="auto" loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/">
                            <img src="{{ 'dot_rip02.png' | file_url }}" alt="02" width="auto" height="auto" loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange/">
                            <img src="{{ 'dot_rip03.png' | file_url }}" alt="03" width="auto" height="auto" loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown/">
                            <img src="{{ 'dot_rip04.png' | file_url }}" alt="04" loading="lazy" width="auto" height="auto">
                        </a>
                    </li>
                    <li><img src="{{ 'dot_rip05_active.png' | file_url }}" alt="05 French Brown" loading="lazy" width="auto" height="auto"></li>
            
                </ul>
                <ul class="product__deLink">
                    <li>
                        <a href="{{ routes.root_url }}products/michixsly-velvet-fix-lip-balm/">
                            <img src="{{ 'dotted_rip06.svg' | file_url }}" alt="06" width="auto" height="auto" loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a href="{{ routes.root_url }}products/michixsly-velvet-fix-lip-balm?variant=43784364523756&aaa=007/">
                            <img src="{{ 'dotted_rip07.svg' | file_url }}" alt="07" width="auto" height="auto" loading="lazy">
                        </a>
                    </li>
                </ul>
            </div>
                <p class="product__de--cname">02 INNOCENT RE</p>
            </div>
        </section>
        {% render 'kessai' %}

        {% render 'campaignbnr' %} 


        <div class="product__intro">
            <p class="product__intro--ripttl"><img
                    src="{{ 'ttl_product_rip.svg' | file_url }}" 
                    alt="Velvet Fix Lip Balm" width="auto" height="auto" loading="lazy"></p>
            <div class="product__intro--sub">
                <span class="product__intro--r">create for yourself</span>
                <span class="product__intro--l">produced by yoshiaki and michi</span>
            </div>
            <p class="product__intro--fv">
                <img src="{{ 'img_rip05color.png' | file_url }}" 
                    alt="05 FRENCH BROWN"
                    width="auto" height="auto" loading="lazy">
            </p>
            <p class="product__intro--pname">
                <span><img
                        src="{{ 'sub_product05.svg' | file_url }}" 
                        alt="05 FRENCH BROWN" width="auto" height="auto" loading="lazy"></span>
            </p>
            <p class="product__intro--txt">こっくり深みのあるまろやかブラウン。<br>
            奥行きのあるカラーで唇をモードに彩って。 </p>
        </div>

        <div class="product__intro--art frenchbrown">
            <div class="product__intro--artkey">
                <img src="{{ 'img_rip05_key.svg' | file_url }}"  alt="05 FRENCH BROWN"
                    width="auto" height="auto" loading="lazy">
            </div>
        </div>


        {% render 'perseripproduct01' %}
        
        <div class="rip04">
            <p class="rip04__txt">
                <img src="{{ 'rip04_txt-br.svg' | file_url }}" alt="MICHI X SLY" width="2646"
                height="30" loading="eager" class="">
                <img src="{{ 'rip04_txt-br.svg' | file_url }}" alt="MICHI X SLY" width="2646"
                height="30" loading="eager" class="">
            </p>
            <figure class="rip04__img">
                <img src="{{ 'item_05frenchBrown.png' | file_url }}" alt="01 NUDE ROSE" width="auto" height="auto" loading="lazy">
            </figure>
        </div>
        
        {% render 'perseripproduct02a' %}

        {% render 'perseripproduct02' %}

        <section class="seibunrN">
            <div class="seibunrN__inner">
                <div class="rnVigan__accordion">
                    <h3 class="rnVigan__accordion--ttl">全成分</h3>
                    <div class="rnVigan__accordion--cnt">
                        <p class="rnVigan__accordion--txt">
                            ジメチコン、トリメチルシロキシケイ酸、フェニルトリメチコン、マイクロクリスタリンワックス、パラフィン、合成ワックス、シリカ、ビスジグリセリルポリアシルアジペート－２、カプリリルメチコン、イソエイコサン、トリイソステアリン酸ポリグリセリル－２、（ビニルジメチコン／メチコンシルセスキオキサン）クロスポリマー、トリベヘニン、ポリプロピルシルセスキオキサン、アジピン酸ジブチル、セチルＰＥＧ／ＰＰＧ－１０／１ジメチコン、（セバシン酸／イソパルミチン酸）ジグリセリル、合成フルオロフロゴパイト、酸化鉄(CI 77491)、酸化鉄(CI 77492)、黄５、リンゴ酸ジイソステアリル、ジステアルジモニウムヘクトライト、メントール、乳酸メンチル、ステアロイルグルタミン酸２Ｎａ、クエン酸トリエチル、トリエトキシカプリリルシラン、酸化鉄(CI 77499)、赤２０２、ジイソステアリン酸ポリグリセリル－２、赤２１８、アーモンド油、ホホバ種子油、テオブロマグランジフロルム種子脂、トコフェロール
                        </p>
                        <h4 class="rnVigan__accordion--close">CLOSE</h4>

                    </div>
                </div>
            </div>
        </section>

        {% render 'perseripproduct03' %}




        <div class="product__french">
            <div class="product__french--01">
                <div class="product__french--01fv">
                    <img src="{{ 'prdocut_french01b.svg' | file_url }}" alt="05 FRENCH BROWN" width="auto" height="auto" loading="lazy">
                </div>
            </div>

            <div class="product__french--02">
                <div class="product__french--02img">
                    <img src="{{ 'prdocut_french02b.png' | file_url }}" alt="MAINIMg 05 FRENCH BROWN" class=""  width="auto" height="auto" loading="lazy">
                </div>
                <div class="product__french--02txt1"><img src="{{ 'prdocut_french02a.png' | file_url }}" alt="05 FRENCH BROWN"  width="auto" height="auto" loading="lazy"></div>>
                <div class="product__french--02txt2"><img src="{{ 'prdocut_french02c.png' | file_url }}" alt="Tomorrow, You will be better than you are."  width="auto" height="auto" loading="lazy"></div>>
            </div>
        
            <div class="product__french--03">
                <div class="product__french--03fv">
                    <img src="{{ 'prdocut_french03b.png' | file_url }}" alt="05 FRENCH BROWN product image" width="auto" height="auto" loading="lazy">
                </div>
            </div>

            <div class="product__french--04 fadein_block3">
                <div class="product__french--04a">
                    <span class="fadein02">
                    <img src="{{ 'prdocut_french04a.png' | file_url }}" alt="05 FRENCH BROWN IMG" width="auto" height="auto" loading="lazy">
                </span>
                </div>
                <div class="product__french--04b">
                    <span class="fadein03">

                    <img src="{{ 'prdocut_french04b.png' | file_url }}" alt="05 FRENCH BROWN IMG" width="auto" height="auto" loading="lazy">
                </span>
                </div>
            </div>
        </div>

        <div class="product__others">
            <p class="product__others--ttl">
                <img src="{{ 'otheritems_new.svg' | file_url }}"  alt="01 NUDE ROSE" width="auto" height="auto" loading="eager">
            </p>
            <div class="product__others--scroll">
                <ul class="product__others--list">	
                
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">
                           <img src="{{ 'prdocut_otherimte01.png' | file_url }}" alt="01 ヌードローズ" width="auto" height="auto" loading="lazy">
                           <p class="product__others--name"><strong>ベルベット フィックス リップバーム</strong><br>01 ヌードローズ</p>
                           <p class="product__others--price">¥1,680<span>( inc.tax )</span></p>
                       </a>
                   </li> 
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/">
                            <img src="{{ 'prdocut_otherimte02.png' | file_url }}" alt="02 イノセントレッド" width="auto" height="auto" loading="lazy">
                            <p class="product__others--name"><strong>ベルベット フィックス リップバーム</strong><br>02 イノセントレッド</p>
                            <p class="product__others--price">¥1,680<span>( inc.tax )</span></p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange">
                            <img src="{{ 'prdocut_otherimte03.png' | file_url }}" alt="03 チリオレンジ" width="auto" height="auto" loading="lazy">
                            <p class="product__others--name"><strong>ベルベット フィックス リップバーム</strong><br>03 チリオレンジ</p>
                            <p class="product__others--price">¥1,680<span>( inc.tax )</span></p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown">
                            <img src="{{ 'prdocut_otherimte04.png' | file_url }}" alt="04 アーモンドブラウン" width="auto" height="auto" loading="lazy">
                            <p class="product__others--name"><strong>ベルベット フィックス リップバーム</strong><br>04 アーモンドブラウン</p>
                            <p class="product__others--price">¥1,680<span>( inc.tax )</span></p>
                        </a>
                    </li> 
                    {% comment %} <li>
                        <a href="{{ routes.root_url }}products/velvetfixlipbalm-frenchbrown/">
                            <img src="{{ 'prdocut_otherimte05.png' | file_url }}" alt="05 フレンチブラウン" width="auto" height="auto" loading="lazy">
                            <p class="product__others--name"><strong>ベルベット フィックス リップバーム</strong><br>05 フレンチブラウン</p>
                            <p class="product__others--price">¥1,680<span>( inc.tax )</span></p>
                        </a>
                    </li>  {% endcomment %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% comment %}     
<div class="footer__fluid" style="margin: 0 0 60px;">
    <p class="footer__fluid--txt">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.svg?v=1647228464" alt="Tomorrow, you will be better than you are" width="auto" height="auto" loading="lazy">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.svg?v=1647228464" alt="Tomorrow, you will be better than you are" width="auto" height="auto" loading="lazy">
    </p>
</div>
 {% endcomment %}
