<link
    rel="stylesheet"
    href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    
    
    <div class="product clenz" id="clenz02">
        <div class="clenz__inner">
            <section class="clenz__fv" itemscope itemtype="http://schema.org/Thing">
        <!-- Swiper -->
    
        <div class="clenz__fv--swipwrap">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" itemprop="image">
                        <img src="{{ 'fv02_clenz01.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ 'fv02_clenz02.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ 'fv02_clenz03.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ 'fv02_clenz04.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ 'fv02_clenz05.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy">
                    </div>
                    <div class="swiper-slide video">
                         <video autoplay muted playsinline loop type="video/mp4"="{{ 'perse_Teddy_Brown_01.mp4' | file_url }}"></video>
                        <p class="swiper_txt"><span>黒目装用</span></p>
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ 'fv02_clenz06.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy">
                    </div>
                    <div class="swiper-slide video">
                         <video autoplay muted playsinline loop type="video/mp4"="{{ 'perse_Teddy_Brown_02.mp4' | file_url }}"></video>
                        <p class="swiper_txt"><span>茶目装用</span></p>
                    </div>
    
                </div>
            
    
            </div>
            <div class="clenz__fv--kadomaru">
                <img src="{{ 'kado.svg' | file_url }}" alt="kadomaru" width="auto" height="auto" loading="lazy">
            </div>
        </div><!-- clenz__fv--swipwrap -->
        <div class="mySwiper__wrapper">
            <div thumbsSlider="" class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="{{ 'thumb02_clenz01.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="{{ 'thumb02_clenz02.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="{{ 'thumb02_clenz03.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="{{ 'thumb02_clenz04.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="{{ 'thumb02_clenz05.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="{{ 'thumb02_clenz05.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="{{ 'thumb02_clenz06.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="{{ 'thumb02_clenz06.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy">
                </div>
            </div>
            </div>
        </div>
        <div class="swiper__arrow">
            <div class="swiper-button-next">NEXT</div>
            <div class="swiper-button-prev">PREV</div>
        </div>
    
    
        <!-- Swiper -->
                <div class="clenz__fv--inner">
                    <div class="clenz__fv--txtblc">
                        <h1 itemprop="content" content="Color Contact Lenses">
                            Color Contact Lenses<br>
                            <span>カラーコンタクトレンズ</span></h1>
                        <h2 itemprop="price" class="clenz__fv--price">¥1,705 <span>( inc.tax )</span></h2>
                    </div>    
                    <ul itemprop="description" class="clenz__fv--desc">
                        <li>1day</li>
                        <li>1箱10枚入り</li>
                        <li>DIA 14.2mm</li>
                        <li>BC 8.6mm</li>
                        <li>着色直径 13.0mm</li>
                        <li>含水率 55%</li>
                        <li>UV CUT</li>
                    </ul>
                    <div class="clenz__fv--blc">
                        <ul class="clenz__fv--clist">
                            <li>
                                <a href="{{ routes.root_url }}products/nudie-beige/">
                                    <img src="{{ 'dot_lenz01.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto" loading="lazy">
                                </a>
                            </li>
                            <li>
                                <img src="{{ 'dot_lenz02_active.png' | file_url }}" alt="02 Teddy brown" width="auto" height="auto" loading="lazy">
                            </li>
                            <li> <a href="{{ routes.root_url }}products/air-gray/">
                                <img src="{{ 'dot_lenz03.png' | file_url }}" alt="03 Air Gray" width="auto" height="auto" loading="lazy">
                            </a></li>
                            <li><a href="{{ routes.root_url }}products/palm-green/">
                                <img src="{{ 'dot_lenz04.png' | file_url }}" alt="04 Palm Green" width="auto" height="auto" loading="lazy">
                            </a></li>
                        </ul>
                        <h3 itemprop="name" class="clenz__fv--name">02 TEDDY BROWN</h3>
                    </div>
                    <!-- <div class="clenz__btn">
                        <a href="" target="_blank" rel="noopener" itemprop="website">公式販売サイトで購⼊</a>
                    </div> -->
    
                    <div class="clenz__disablebtn">
                        <span target="_blank" rel="noopener">4月22日から販売開始</span>
                    </div>
                </div>
            </section>
    
            <div class="clenz__01">
                <h2 class="clenz__01--ltxt">COLOR<br>CONTACT<br>LENSES</h2>
                <figure class="clenz__01--logo">&</figure>
                <div class="clenz__01--img">
                    <img src="{{ 'img_clenz02_01a.png' | file_url }}" alt="02 Teddy Brown Main image" width="auto"
                        height="auto" loading="lazy">
                </div>
                <figure class="clenz__01--fadeTxt"><img src="{{ 'img_clenz02_01b.svg' | file_url }}" alt="02 frerote"
                        width="auto" height="auto" loading="lazy"></figure>
                <p class="clenz__01--name">Teddy Brown</p>
                <div class="clenz__01--txt">
                    <span>さりげなく瞳の輪郭が際立つ、<br>
                        甘くイノセントな表情のダークアッシュブラウン。</span>
                </div>
            </div>
    
            <div class="clenz__02">
                <figure class="clenz__02--img">
                    <img src="{{ 'img_clenz02_02b.png' | file_url }}" alt="02fv" width="auto" height="auto" loading="lazy">
                </figure>
                <h2 class="clenz__02--subttl"><img src="{{ 'txt_clenz02.svg' | file_url }}"
                        alt="PRODUCED BY YOSHIAKI & MICHI" width="auto" height="auto" loading="lazy"></h2>
                <p class="clenz__02--txt">Tomorrow, You will be better than you are.<br>
                    Let your sensitivity wherever your heart takes you. <br>
                    Find hidden your own beauty within yourself. <br>
                    Meet a new you with perse. </p>
            </div>
    
            {% render 'persecontact01' %}
        </div>
    
        <div class="clenz__03 fadein_block02">
            <div class="clenz__03--img fadein01">
                <img src="{{ 'teddy_03img.png' | file_url }}" alt="02 Teddy Brown" width="auto" height="auto" loading="lazy">
            </div>
            <h2 class="clenz__03--txt fadein02">
                <img src="{{ 'teddy_03txt.svg' | file_url }}" alt="color contact lenses" width="auto" height="auto" loading="lazy">
            </h2>
            <div class="clenz__03--relotate fadein03">
                <img src="{{ 'teddy_03relotate.svg' | file_url }}" alt="& color contact lenses" width="auto" height="auto" loading="lazy">
            </div>


            <div class="clenz__03--subimg fadein04">
                <img src="{{ 'teddy_03subimg.png' | file_url }}" alt="02 Teddy Brown" width="auto" height="auto" loading="lazy">
            </div>
            <h3 class="clenz__03--name fadein05"><img src="{{ 'teddy_03name.svg' | file_url }}" alt="02 Teddy Brown" width="auto"
                height="auto" loading="lazy"></h3>

            <p class="clenz__03--words fadein06">Tomorrow, You will be better than you are. <br>
                Let your sensitivity wherever your heart takes you. <br>
                Find hidden your own beauty within yourself. <br>
                Meet a new you with perse. </p>
            <div class="clenz__03--subimg02 fadein07">
                <img src="{{ 'teddy_03subimg2.png' | file_url }}" alt="02 Teddy Brown" width="auto" height="auto" loading="lazy">
            </div>
            <div class="clenz__03--subimg03 fadein08">
                <img src="{{ 'teddy_03subimg3.png' | file_url }}" alt="02 Teddy Brown" width="auto" height="auto" loading="lazy">
            </div>

            <div class="clenz__03--line fadein09">
                vartical line
            </div>
        </div>
    
        <div class="clenz__inner">
            {% render 'persecontact02' %}
    
    
            <div class="clenz__buynow">
                <div class="clenz__buynow--imgblc">
                    <span class="clenz__buynow--main">
                        <img src="{{ 'img_buynow02.png' | file_url }}" alt="02 Teddy Brown" width="auto" height="auto"
                            loading="lazy">
                    </span>
                    <img src="{{ 'buynow02.svg' | file_url }}" alt="02 Teddy Brown" width="auto" height="auto"
                        loading="lazy" class="clenz__buynow--feature">
                    <img src="{{ 'img_buynow02b.png' | file_url }}" alt="02 Teddy Brown" width="auto" height="auto"
                        loading="lazy" class="clenz__buynow--small">
                </div>
                <h2 class="clenz__buynow--name">Color Contact Lenses<br>
                    02 Teddy Brown</h2>
                <p class="clenz__buynow--price">¥1,705<span>( inc.tax )</span></p>
    
                <!-- <div class="clenz__btn">
                    <a href="" target="_blank" rel="noopener">公式販売サイトで購⼊</a>
                </div> -->
                <div class="clenz__disablebtn">
                    <span target="_blank" rel="noopener">4月22日から販売開始</span>
                </div>
            </div>
        </div><!-- /.clenz__inner -->
    
    
    
        <div class="clenz__other">
            <h2 class="clenz__other--ttl"><span>OTHER ITEMS</span></h2>
            <div class="clenz__other--itemswrapper">
                <ul class="clenz__other--items">
                    <li>
                        <a href="{{ routes.root_url }}products/nudie-beige/">
                            <img src="{{ 'other_img01.png' | file_url }}" alt="01 nudie beige" width="auto" height="auto" loading="lazy">
                            <span class="clenz__other--con">
                                <img src="{{ 'clenz_exp03_name01.png' | file_url }}" alt="01 nudie beige" width="auto" height="auto" loading="lazy">
                            </span>
                            <div class="clenz__other--txtblc">
                                <h3>カラーコンタクトレンズ</h3>
                                <h4>01 ヌーディーベージュ</h4>
                                <p>¥1,705 <span>( inc.tax )</span></p>
                            </div>
                        </a>
                    </li> 

                    
                    <li>
                        <a href="{{ routes.root_url }}products/air-gray/">
                            <img src="{{ 'other_img03.png' | file_url }}" alt="03 エアーグレー" width="auto" height="auto"
                                loading="lazy">
                            <span class="clenz__other--con">
                                <img src="{{ 'clenz_exp03_name03.png' | file_url }}" alt="03 エアーグレー" width="auto"
                                    height="auto" loading="lazy">
                            </span>
                            <div class="clenz__other--txtblc">
                                <h3>カラーコンタクトレンズ</h3>
                                <h4>03 エアーグレー</h4>
                                <p>¥1,705 <span>( inc.tax )</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ routes.root_url }}products/palm-green/">
                            <img src="{{ 'other_img04.png' | file_url }}" alt="04 パームグリーン" width="auto" height="auto"
                                loading="lazy">
                            <span class="clenz__other--con">
                                <img src="{{ 'clenz_exp03_name04.png' | file_url }}" alt="04 パームグリーン" width="auto"
                                    height="auto" loading="lazy">
                            </span>
                            <div class="clenz__other--txtblc">
                                <h3>カラーコンタクトレンズ</h3>
                                <h4>04 パームグリーン</h4>
                                <p>¥1,705 <span>( inc.tax )</span></p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    
    </div>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{{ 'contactfv.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'clenz.js' | asset_url }}" defer="defer"></script>