<div class="product">
    <div class="innocentred" id="innocentred">
        <section class="product__slickwrap">
            <ul class="product__slick">
                <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_inocentrose01.png?v=1644652656" alt=""></li>
                <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_inocentrose02.png?v=1644652656" alt=""></li>
                <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_inocentrose03.png?v=1644652656" alt=""></li>
                <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_inocentrose04.png?v=1644652656" alt=""></li>
            </ul>
            <div class="product__frame"><img
                    src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rframe.png?v=1644412894" alt=""
                    width="auto" height="auto" loading="lazy"></div>
        </section>  
        <div class="product__de">
            <p class="product__de--en">Velvet Fix Lip Balm</p>
            <p class="product__de--jp">ベルベット フィックス リップバーム</p>
            <p class="product__de--price">¥1,680<span> ( inc.tax )</span></p>
            <div class="product__de--color">
                <ul class="product__deLink">
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">
                            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_rip01.png?v=1644375012" alt="01" width="auto" height="auto" loading="lazy">
                        </a>
                    </li>
                    <li>
                         <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_rip02_active.png?v=1644375012" alt="02" width="auto" height="auto" loading="lazy">
                        
                    </li>
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange/">
                          <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_rip03.png?v=1644375012" alt="03" width="auto" height="auto" loading="lazy">
                       </a>
                   </li>
                    <li>
                        <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown/">
                            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_rip04.png?v=1644375012" alt="04" width="auto" height="auto" loading="lazy">
                            {% comment %} <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_rip04_active.png?v=1644375012" alt="04" width="auto" height="auto" loading="lazy"> {% endcomment %}
                        </a>
                    </li>
                </ul>
                <p class="product__de--cname">02 INNOCENT RED</p>
            </div>
        </div>

        <div class="product__cartbtn">
             <form method="post" action="/cart/add">
                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                <input type="hidden" min="1" type="number" id="quantity" name="quantity" value="1"/>
                
                <label for="persebtn">
                    <p>BUY</p>
                    <span class="product__cartbtn--img">cartimg<span>
                </label>
                <input type="submit" value="" class="" id="persebtn" />
        </div>

        <div class="product__intro">
            <p class="product__intro--ripttl"><img
                    src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/ttl_product_rip.svg?v=1644421303"
                    alt="Velvet Fix Lip Balm" width="auto" height="auto" loading="lazy"></p>
            <div class="product__intro--sub">
                <span class="product__intro--r">create for yourself</span>
                <span class="product__intro--l">produced by yoshiaki and michi</span>
            </div>
            <p class="product__intro--fv">
                <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_rip02color.png?v=1644456360" alt=""
                    width="auto" height="auto" loading="lazy">
            </p>
            <p class="product__intro--pname">
                <span><img
                        src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/sub_product_innocent.svg?v=1644655050"
                        alt="" width="auto" height="auto" loading="lazy"></span>
            </p>
            <p class="product__intro--txt">血色感をプラスする柔らかなピュアレッド。<br>
            肌とのコントラストで透明感がぐんと際立つ。</p>
        </div>

        <div class="product__intro--art innocentred">
            <p class="product__intro--artkey">
                <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_rip02_key.svg?v=1644655885" alt=""
                    width="auto" height="auto" loading="lazy">
            </p>
        </div>

        {% render 'perseripproduct' %}


        <div class="product__component">
            <p class="product__component--ttl">全成分</p>
            <p class="product__component--txt">全成分：ジメチコン、トリメチルシロキシケイ酸、フェニルトリメチコン、マイクロクリスタリンワックス、パラフィン、合成ワックス、シリカ、ビスジグリセリルポリアシルアジペート－２、カプリリルメチコン、イソエイコサン、（ビニルジメチコン／メチコンシルセスキオキサン）クロスポリマー、トリベヘニン、ポリプロピルシルセスキオキサン、トリイソステアリン酸ポリグリセリル－２、アジピン酸ジブチル、リンゴ酸ジイソステアリル、セチルＰＥＧ／ＰＰＧ－１０／１ジメチコン、（セバシン酸／イソパルミチン酸）ジグリセリル、合成フルオロフロゴパイト、酸化チタン、黄５、酸化鉄(CI 77491)、赤２０２、ジステアルジモニウムヘクトライト、メントール、ジイソステアリン酸ポリグリセリル－２、乳酸メンチル、ステアロイルグルタミン酸２Ｎａ、赤１０４（１）、クエン酸トリエチル、トリエトキシカプリリルシラン、赤２１８、アーモンド油、ホホバ種子油、テオブロマグランジフロルム種子脂、トコフェロール</p>
        </div>

        <div class="product__attention">
            <div class="product__attention--ttl"><span>ご使用上のポイント</span></div>
            <div class="product__attention--txtblc">
                <p class="product__attention--point">● 商品の特性上、中身をくり出し過ぎたり、過度な力を入れたりすると口紅が折れる場合がございます。
                    <br><span>（perseでは5mm程度のくり出し長さでの利用を推奨しております。）</span>
                </p>
                <p class="product__attention--point">● 唇が凹むくらいの過度な力での利用は控える。</p>
                <p class="product__attention--point">● 唇の上でなめらかに伸びるように柔らかくつくられているので、高温になる場所で保管しないようにする。</p>
            </div>
        </div>


        <div class="product__rose">
            <div class="product__rose--01">
                <div class="product__rose--01fv">
                    <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/prdocut_roseImg01.png?v=1644665596" alt="" width="auto" height="auto" loading="lazy">
                </div>
                <div class="product__rose--01fvc">
                    <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/prdocut_roseImg01b.png?v=1644665596" alt="" width="auto" height="auto" loading="lazy">
                </div>
            </div>


            <div class="product__rose--02">
                <div class="product__rose--02a">
                    <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/prdocut_roseImg02a.svg?v=1644667426" alt="" width="auto" height="auto" loading="lazy">
                </div>
                <div class="product__rose--02b">
                    <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/prdocut_roseImg02b.svg?v=1644667426" alt="" width="auto" height="auto" loading="lazy">
                </div>

                <div class="product__rose--02d">
                    <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/prdocut_roseImg02d.png?v=1644670232" alt="" width="auto" height="auto" loading="lazy">
                </div>
                <div class="product__rose--02e ImgBox-Img">
                    <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/prdocut_roseImg02e.png?v=1644670232" alt="" width="auto" height="auto" loading="lazy">
                </div>
                <div class="product__rose--02c">
                    <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/prdocut_roseImg012b.svg?v=1644667426" alt="" width="auto" height="auto" loading="lazy" class="relotateNude">
                </div>
            </div>


            <div class="product__rose--03">
                <div class="product__rose--03a">
                    <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/prdocut_roseImg03a_1.png?v=1644673759" alt="" width="auto" height="auto" loading="lazy">
                </div>
                <div class="product__rose--03b">
                    <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/prdocut_roseImg03b.png?v=1644672909" alt="" width="auto" height="auto" loading="lazy">
                </div>
            </div>

            <div class="product__rose--04">
                <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/prdocut_roseImg04.png?v=1644677150" alt="" width="auto" height="auto" loading="lazy">
            </div>


        </div>


        <div class="product__others">
            <p class="product__others--ttl">
                <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/product_other_8a8d88e1-9c92-4dd2-806c-833d104bd176.svg?v=1644594499" alt="" width="auto" height="auto" loading="lazy">
            </p>
            <div class="product__others--scroll">
            <ul class="product__others--list">
                <li>
                     <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-1/">
                        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/prdocut_nudImg05_1.png?v=1644595348" alt="" width="auto" height="auto" loading="lazy">
                        <p class="product__others--name">ベルベット フィックス リップバーム<br>01 ヌードローズ</p>
                        <p class="product__others--price">¥1,680<span>( inc.tax )</span></p>
                    </a>
                </li> 
                {% comment %} <li>
                    <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-innocent-red/">
                        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/prdocut_nudImg05_2.png?v=1644595348" alt="" width="auto" height="auto" loading="lazy">
                        <p class="product__others--name">ベルベット フィックス リップバーム<br>02 イノセントレッド</p>
                        <p class="product__others--price">¥1,680<span>( inc.tax )</span></p>
                    </a>
                </li> {% endcomment %}
                <li>
                    <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-chili-orange">
                        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/prdocut_nudImg05_3.png?v=1644595348" alt="" width="auto" height="auto" loading="lazy">
                        <p class="product__others--name">ベルベット フィックス リップバーム<br>03 チリオレンジ</p>
                        <p class="product__others--price">¥1,680<span>( inc.tax )</span></p>
                    </a>
                </li>
                 <li>
                    <a href="{{ routes.root_url }}products/velvet-fix-lip-balm-almond-brown">
                        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/prdocut_nudImg05_4.png?v=1644595348" alt="" width="auto" height="auto" loading="lazy">
                        <p class="product__others--name">ベルベット フィックス リップバーム<br>04 アーモンドブラウン</p>
                        <p class="product__others--price">¥1,680<span>( inc.tax )</span></p>
                    </a>
                </li> 
            </ul>
        </div>
        </div>
    </div>
</div>

<div class="footer__fluid" style="margin: 0 0 60px;">
    <p class="footer__fluid--txt">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.png" alt="" width="auto" height="auto" loading="lazy">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.png" alt="loop2" width="auto" height="auto" loading="lazy">
    </p>
</div>
