<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ shop.url | append: product.url | json }},
      {% if seo_media -%}
        {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
        "image": [
          {{ seo_media | img_url: media_size | prepend: "https:" | json }}
        ],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      "brand": {
        "@type": "Thing",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ shop.url | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
  </script>
  
  

<link
rel="stylesheet"
href="https://unpkg.com/swiper/swiper-bundle.min.css"
/>


<div class="product clenz" id="clenz01">
    <div class="clenz__inner">
    <section class="clenz__fv" >
    <!-- Swiper -->

    <div class="clenz__fv--swipwrap">
        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
            <div class="swiper-wrapper">
                <div class="swiper-slide" itemprop="image">
                    <img src="{{ 'fv01_clenz01.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="{{ 'fv01_clenz02.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="{{ 'fv01_clenz03.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="{{ 'fv01_clenz04.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="{{ 'fv01_clenz05.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto" loading="lazy">
                </div>
                <div class="swiper-slide video">
                     <video autoplay muted playsinline loop type="video/mp4" src="{{ 'perse_Nudie_Beige_01.mp4' | file_url }}"></video>
                    <p class="swiper_txt"><span>黒目装用</span></p>
                </div>
                <div class="swiper-slide">
                    <img src="{{ 'fv01_clenz06.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto" loading="lazy">
                </div>
                <div class="swiper-slide video">
                     <video autoplay muted playsinline loop type="video/mp4" src="{{ 'perse_Nudie_Beige_02.mp4' | file_url }}"></video>
                    <p class="swiper_txt"><span>茶目装用</span></p>
                </div>

            </div>
        

        </div>
        <div class="clenz__fv--kadomaru">
            <img src="{{ 'kado.svg' | file_url }}" alt="kadomaru" width="auto" height="auto" loading="lazy">
        </div>
    </div><!-- clenz__fv--swipwrap -->
    <div class="mySwiper__wrapper">
        <div thumbsSlider="" class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="{{ 'thumb01_clenz01.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto" loading="lazy">
            </div>
            <div class="swiper-slide">
                <img src="{{ 'thumb01_clenz02.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto" loading="lazy">
            </div>
            <div class="swiper-slide">
                <img src="{{ 'thumb01_clenz03.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto" loading="lazy">
            </div>
            <div class="swiper-slide">
                <img src="{{ 'thumb01_clenz03b.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto" loading="lazy">
            </div>
            <div class="swiper-slide">
                <img src="{{ 'thumb01_clenz04.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto" loading="lazy">
            </div>
            <div class="swiper-slide">
                <img src="{{ 'thumb01_clenz04.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto" loading="lazy">
            </div>
            <div class="swiper-slide">
                <img src="{{ 'thumb01_clenz06.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto" loading="lazy">
            </div>
            <div class="swiper-slide">
                <img src="{{ 'thumb01_clenz06.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto" loading="lazy">
            </div>
        </div>
        </div>
    </div>
    <div class="swiper__arrow">
        <div class="swiper-button-next">NEXT</div>
        <div class="swiper-button-prev">PREV</div>
    </div>


    <!-- Swiper -->
            <div class="clenz__fv--inner">
                <div class="clenz__fv--txtblc">
                    <h1 itemprop="content" content="Color Contact Lenses">
                        Color Contact Lenses<br>
                        <span>カラーコンタクトレンズ</span></h1>
                    <h2 itemprop="price" class="clenz__fv--price">¥1,705 <span>( inc.tax )</span></h2>
                </div>    
                <ul itemprop="description" class="clenz__fv--desc">
                    <li>1day</li>
                    <li>1箱10枚入り</li>
                    <li>DIA 14.2mm</li>
                    <li>BC 8.6mm</li>
                    <li>着色直径 12.6mm</li>
                    <li>含水率 55%</li>
                    <li>UV CUT</li>
                </ul>
                <div class="clenz__fv--blc">
                    <ul class="clenz__fv--clist">
                        <li>
                            <img src="{{ 'dot_lenz01_active.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto" loading="lazy">
                        </li>
                        <li><a href="{{ routes.root_url }}products/teddy-brown/">
                                <img src="{{ 'dot_lenz02.png' | file_url }}" alt="02 Teddy brown" width="auto" height="auto" loading="lazy">
                            </a></li>
                        <li> <a href="{{ routes.root_url }}products/air-gray/">
                            <img src="{{ 'dot_lenz03.png' | file_url }}" alt="03 Air Gray" width="auto" height="auto" loading="lazy">
                        </a></li>
                        <li><a href="{{ routes.root_url }}products/palm-green/">
                            <img src="{{ 'dot_lenz04.png' | file_url }}" alt="04 Palm Green" width="auto" height="auto" loading="lazy">
                        </a></li>
                    </ul>
                    <h3 itemprop="name" class="clenz__fv--name">01 NUDIE BEIGE</h3>
                </div>

                {% render 'clenzbtn1' %}



            </div>
        </section>
        {% render 'campaignbnr' %} 

        <div class="clenz__01">
            <h2 class="clenz__01--ltxt">COLOR<br>CONTACT<br>LENSES</h2>
            <figure class="clenz__01--logo">&</figure>
            <div class="clenz__01--img">
                <img src="{{ 'img_clenz01_01a.png' | file_url }}" alt="01Nudie Beige Main image" width="auto"
                    height="auto" loading="lazy">
            </div>
            <figure class="clenz__01--fadeTxt"><img src="{{ 'img_clenz01_01b.svg' | file_url }}" alt="01frerote"
                    width="auto" height="auto" loading="lazy"></figure>
            <p class="clenz__01--name">Nudie Beige</p>
            <div class="clenz__01--txt">
                <span>あたたかなブラウンヴェールの隙間から、<br>
                    きらめきを放つまばゆいライトベージュ。</span>
            </div>
        </div>

        <div class="clenz__02">
            <figure class="clenz__02--img">
                <img src="{{ 'img_clenz01_02b.png' | file_url }}" alt="02fv" width="auto" height="auto" loading="lazy">
            </figure>
            <h2 class="clenz__02--subttl"><img src="{{ 'txt_clenz02.svg' | file_url }}"
                    alt="PRODUCED BY YOSHIAKI & MICHI" width="auto" height="auto" loading="lazy"></h2>
            <p class="clenz__02--txt">Tomorrow, You will be better than you are.<br>
                Let your sensitivity wherever your heart takes you. <br>
                Find hidden your own beauty within yourself. <br>
                Meet a new you with perse. </p>
        </div>

        {% render 'persecontact01' %}
    </div>

    <div class="clenz__03 fadein_block02">
        <h2 class="clenz__03--ttl fadein01">color contact lenses</h2>
        <figure class="clenz__03--square fadein03">square</figure>
        <div class="clenz__03--img01 fadein02">
            <img src="{{ 'img_clenz03_01.png' | file_url }}" alt="03fv" width="auto" height="auto" loading="lazy">
        </div>
        <p class="clenz__03--txt fadein04">Tomorrow, You will be better than you are. <br>
            Let your sensitivity wherever your heart takes you. <br>
            Find hidden your own beauty within yourself. <br>
            Meet a new you with perse. </p>

        <h3 class="clenz__03--subttl fadein05"><img src="{{ 'clenz03_01b.svg' | file_url }}" alt="01 Nudie Beige" width="auto"
                height="auto" loading="lazy"></h3>
        <p class="clenz__03--img02 fadein06">
            <img src="{{ 'img_clenz03_01b.png' | file_url }}" alt="03img" width="auto" height="auto" loading="lazy">
        </p>

        <div class="clenz__03--img03">
            <div class="clenz__03--img03-bg fadein07">bg</div>
            <div class="clenz__03--img03-fv fadein08">
                <img src="{{ 'img_clenz03_01c.png' | file_url }}" alt="03img" width="auto" height="auto" loading="lazy">
            </div>
            <div class="clenz__03--img03-relotate fadein09">
                <img src="{{ 'clenz03_01c.svg' | file_url }}" alt="03img" width="auto" height="auto" loading="lazy">
            </div>
        </div>

        <div class="clenz__03--img04">
            <img src="{{ 'clenz03_01d.svg' | file_url }}" alt="PRODUCED BY YOSHIAKI & MICHI" width="auto" height="auto"
                loading="lazy" class="clenz__03--img04-a fadein10">
            <img src="{{ 'img_clenz03_01d.png' | file_url }}" alt="PRODUCED BY YOSHIAKI & MICHI" width="auto"
                height="auto" loading="lazy" class="clenz__03--img04-b fadein11">
        </div>
    </div>

    <div class="clenz__inner">
        {% render 'persecontact02' %}


        <div class="clenz__buynow">
            <div class="clenz__buynow--imgblc">
                <span class="clenz__buynow--main">
                    <img src="{{ 'img_buynow01.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto"
                        loading="lazy">
                </span>
                <img src="{{ 'buynow01.svg' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto"
                    loading="lazy" class="clenz__buynow--feature">
                <img src="{{ 'img_buynow01b.png' | file_url }}" alt="01 Nudie Beige" width="auto" height="auto"
                    loading="lazy" class="clenz__buynow--small">
            </div>
            <h2 class="clenz__buynow--name">Color Contact Lenses<br>
                01 Nudie Beige</h2>
            <p class="clenz__buynow--price">¥1,705<span>( inc.tax )</span></p>

            <div class="clenz__btn--wrapper">
                {% render 'clenzbtn1' %}
            </div>

        </div>
    </div><!-- /.clenz__inner -->



    <div class="clenz__other">
        <h2 class="clenz__other--ttl"><span>OTHER ITEMS</span></h2>
        <div class="clenz__other--itemswrapper">
            <ul class="clenz__other--items">
                <li>
                    <a href="{{ routes.root_url }}products/teddy-brown/">
                        <img src="{{ 'other_img02.png' | file_url }}" alt="02 teddy brown" width="auto" height="auto"
                            loading="lazy">
                        <span class="clenz__other--con">
                            <img src="{{ 'clenz_exp03_name02.png' | file_url }}" alt="02 teddy brown" width="auto"
                                height="auto" loading="lazy">
                        </span>
                        <div class="clenz__other--txtblc">
                            <h3>カラーコンタクトレンズ</h3>
                            <h4>02 テディブラウン</h4>
                            <p>¥1,705 <span>( inc.tax )</span></p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ routes.root_url }}products/air-gray/">
                        <img src="{{ 'other_img03.png' | file_url }}" alt="03 エアーグレー" width="auto" height="auto"
                            loading="lazy">
                        <span class="clenz__other--con">
                            <img src="{{ 'clenz_exp03_name03.png' | file_url }}" alt="03 エアーグレー" width="auto"
                                height="auto" loading="lazy">
                        </span>
                        <div class="clenz__other--txtblc">
                            <h3>カラーコンタクトレンズ</h3>
                            <h4>03 エアーグレー</h4>
                            <p>¥1,705 <span>( inc.tax )</span></p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ routes.root_url }}products/palm-green/">
                        <img src="{{ 'other_img04.png' | file_url }}" alt="04 パームグリーン" width="auto" height="auto"
                            loading="lazy">
                        <span class="clenz__other--con">
                            <img src="{{ 'clenz_exp03_name04.png' | file_url }}" alt="04 パームグリーン" width="auto"
                                height="auto" loading="lazy">
                        </span>
                        <div class="clenz__other--txtblc">
                            <h3>カラーコンタクトレンズ</h3>
                            <h4>04 パームグリーン</h4>
                            <p>¥1,705 <span>( inc.tax )</span></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{{ 'contactfv.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'clenz.js' | asset_url }}" defer="defer"></script>