<div class="clenz__exp01">
    <h2 class="clenz__exp01--ttl">
        <img src="{{ 'txt_clenz03.svg' | file_url }}" alt="Color Contact LENSES" width="auto" height="auto" loading="lazy">
    </h2>
    <h3 class="clenz__exp01--txt">カラーコンタクトレンズ</h3>
</div>


<div class="clenz__exp02 fadein_block">
    <h2 class="clenz__exp02--feature">どんな瞳のトーンにも似合う、<br>
        透け感発色のニュアンスカラコン。</h2>

    <ul class="clenz__exp02--list">
        <li class="fadein01">
            <a href="{{ routes.root_url }}products/nudie-beige/">
                <img src="{{ 'clenz_exp03_name01.png' | file_url }}" alt="NUDIE BEIGE" width="auto" height="auto" loading="lazy">
                <p class="clenz__exp02--name">NUDIE<br>BEIGE</p>
            </a>
        </li>
        <li class="fadein02">
            <a href="{{ routes.root_url }}products/teddy-brown/">
                <img src="{{ 'clenz_exp03_name02.png' | file_url }}" alt="TEDDY BROWN" width="auto" height="auto" loading="lazy">
                <p class="clenz__exp02--name">TEDDY<br>BROWN</p>
            </a>
        </li>
        <li class="fadein03">
            <a href="{{ routes.root_url }}products/air-gray/">
                <img src="{{ 'clenz_exp03_name03.png' | file_url }}" alt="AIR GRAY" width="auto" height="auto" loading="lazy">
                <p class="clenz__exp02--name">AIR<br>GRAY</p>
            </a>

        </li>
        <li class="fadein04">
            <a href="{{ routes.root_url }}products/palm-green/">
                <img src="{{ 'clenz_exp03_name04.png' | file_url }}" alt="PALM GREEN" width="auto" height="auto" loading="lazy">
                <p class="clenz__exp02--name">PALM<br>GREEN</p>
            </a>
        </li>
    </ul>
    <p class="clenz__exp02--txt">シアーなカラーリングが瞳と重なり合って、<br>
        あなただけの特別な色合いに発色。<br>
        自由自在に印象の変化を楽しむ、<br>
        次世代カラーコンタクトレンズ。</p>
    

    <div class="clenz__exp02--imgblc">
        <figure class="clenz__exp02--img">
            <img src="{{ 'clenz_exp03_closeup.png' | file_url }}" alt="CLOSE UP AIR GRAY" width="auto" height="auto" loading="lazy">
        </figure>
        <ul class="clenz__exp02--imgdiff">
            <li>
                <h3 class="clenz__exp02--imgtxt">（黒目）</h3>
                <img src="{{ 'clenz_exp03_black.png' | file_url }}" alt="BLACK　EYE" width="auto" height="auto" loading="lazy">
            </li>
            <li>
                <h3 class="clenz__exp02--imgtxt">（茶目）</h3>
                <img src="{{ 'clenz_exp03_blown.png' | file_url }}" alt="BLACK　EYE" width="auto" height="auto" loading="lazy">
            </li>
        </ul>
    </div>
    
</div>


<div class="clenz__exp03">
    <h2 class="clenz__exp03--ttl">WEARING IMAGE</h2>
    <h3 class="clenz__exp03--ttljp">装用イメージ</h3>
    <div class="clenz__exp03--blc">
        <h4 class="clenz__exp03--subttl">BLACK EYES</h4>
        <h5 class="clenz__exp03--subttljp">（裸眼黒目）</h5>
        <figure class="clenz__exp03--mainimg">
            <img src="{{ 'clenz_exp03_black01.png' | file_url }}" alt="CLEAR LENSES BLACK EYES" width="auto" height="auto" loading="lazy">
        </figure>

        <ul class="clenz__exp03--product">
            <li>
                <a href="{{ routes.root_url }}products/nudie-beige/">
                    <img src="{{ 'clenz_exp03_black01a.png' | file_url }}" alt="01 NUDIE BEIGE" width="auto" height="auto" loading="lazy" class="clenz__exp03--contact01">
                    <img src="{{ 'clenz_exp03_name01.png' | file_url }}" alt="NUDIE BEIGE" width="auto" height="auto" loading="lazy" class="clenz__exp03--contact">
                      <p class="clenz__exp03--productname">01 NUDIE BEIGE</p>
                    <p class="clenz__exp03--productjp">ヌーディーベージュ</p>
                </a>
            </li>
            <li>
                <a href="{{ routes.root_url }}products/teddy-brown/">
                    <img src="{{ 'clenz_exp03_black01b.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy" class="clenz__exp03--contact01">
                    <img src="{{ 'clenz_exp03_name02.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy" class="clenz__exp03--contact">
                      <p class="clenz__exp03--productname">02 TEDDY BROWN</p>
                    <p class="clenz__exp03--productjp">テディブラウン</p>
                </a>
            </li>
            <li>
            <a href="{{ routes.root_url }}products/air-gray/">
                    <img src="{{ 'clenz_exp03_black01c.png' | file_url }}" alt="03 AIR GRAY" width="auto" height="auto" loading="lazy" class="clenz__exp03--contact01">
                    <img src="{{ 'clenz_exp03_name03.png' | file_url }}" alt="03 AIR GRAY" width="auto" height="auto" loading="lazy" class="clenz__exp03--contact">
                      <p class="clenz__exp03--productname">03 AIR GRAY</p>
                    <p class="clenz__exp03--productjp">エアーグレー</p>
                </a>
            </li>
            <li>
                <a href="{{ routes.root_url }}products/palm-green/">
                    <img src="{{ 'clenz_exp03_black01d.png' | file_url }}" alt="04 PALM GREEN" width="auto" height="auto" loading="lazy" class="clenz__exp03--contact01">
                    <img src="{{ 'clenz_exp03_name04.png' | file_url }}" alt="04 PALM GREEN" width="auto" height="auto" loading="lazy" class="clenz__exp03--contact">
                      <p class="clenz__exp03--productname">04 PALM GREEN</p>
                    <p class="clenz__exp03--productjp">パームグリーン</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="clenz__exp03--blc">
        <h4 class="clenz__exp03--subttl">BROWN EYES</h4>
        <h5 class="clenz__exp03--subttljp">（裸眼茶目）</h5>
        <figure class="clenz__exp03--mainimg">
            <img src="{{ 'clenz_exp03_brown.png' | file_url }}" alt="CLEAR LENSES BROWN EYES" width="auto" height="auto" loading="lazy">
        </figure>

        <ul class="clenz__exp03--product">
            <li>
                <a href="{{ routes.root_url }}products/nudie-beige/">
                    <img src="{{ 'clenz_exp03_brown01a.png' | file_url }}" alt="01 NUDIE BEIGE" width="auto" height="auto" loading="lazy" class="clenz__exp03--contact01">
                    <img src="{{ 'clenz_exp03_name01.png' | file_url }}" alt="NUDIE BEIGE" width="auto" height="auto" loading="lazy" class="clenz__exp03--contact">
                      <p class="clenz__exp03--productname">01 NUDIE BEIGE</p>
                    <p class="clenz__exp03--productjp">ヌーディーベージュ</p>
                </a>
            </li>
            <li>
                <a href="{{ routes.root_url }}products/teddy-brown/">
                    <img src="{{ 'clenz_exp03_brown01b.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy" class="clenz__exp03--contact01">
                    <img src="{{ 'clenz_exp03_name02.png' | file_url }}" alt="02 TEDDY BROWN" width="auto" height="auto" loading="lazy" class="clenz__exp03--contact">
                      <p class="clenz__exp03--productname">02 TEDDY BROWN</p>
                    <p class="clenz__exp03--productjp">テディブラウン</p>
                </a>
            </li>
            <li>
            <a href="{{ routes.root_url }}products/air-gray/">
                    <img src="{{ 'clenz_exp03_brown01c.png' | file_url }}" alt="03 AIR GRAY" width="auto" height="auto" loading="lazy" class="clenz__exp03--contact01">
                    <img src="{{ 'clenz_exp03_name03.png' | file_url }}" alt="03 AIR GRAY" width="auto" height="auto" loading="lazy" class="clenz__exp03--contact">
                      <p class="clenz__exp03--productname">03 AIR GRAY</p>
                    <p class="clenz__exp03--productjp">エアーグレー</p>
                </a>
            </li>
            <li>
                <a href="{{ routes.root_url }}products/palm-green/">
                    <img src="{{ 'clenz_exp03_brown01d.png' | file_url }}" alt="04 PALM GREEN" width="auto" height="auto" loading="lazy" class="clenz__exp03--contact01">
                    <img src="{{ 'clenz_exp03_name04.png' | file_url }}" alt="04 PALM GREEN" width="auto" height="auto" loading="lazy" class="clenz__exp03--contact">
                      <p class="clenz__exp03--productname">04 PALM GREEN</p>
                    <p class="clenz__exp03--productjp">パームグリーン</p>
                </a>
            </li>
        </ul>
    </div>
</div>
